NN_02_Структура_Сайта_v4.0_PRO (1).json
{
  "name": "NN_02_Структура_Сайта_v4.0_PRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "site-structure",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2304,
        400
      ],
      "id": "297c87f3-90c8-46e4-8e42-28b37fde7cc5",
      "name": "Webhook",
      "webhookId": "site-structure-v3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2304,
        112
      ],
      "id": "f0781746-1126-40c1-9cf7-7d5df67d4737",
      "name": "Cron Monthly Update"
    },
    {
      "parameters": {
        "url": "http://nocodb:8080/api/v1/db/data/noco/ppxzhw4b32456e0/projects_table",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "(status,eq,active)"
            },
            {
              "name": "fields",
              "value": "project_id,niche,city,domain"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "=riVOt6HsFhmT6jeCg3z3dNMT0xeDRCVnB39FOjGWO8YG87rL"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2096,
        112
      ],
      "id": "0b39e910-9999-4642-be40-e7f43b18539a",
      "name": "Cron Fetch Projects"
    },
    {
      "parameters": {
        "jsCode": "const projects = $input.first().json.list || [];\nif (projects.length === 0) throw new Error('Нет активных проектов для обновления');\nreturn projects.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        112
      ],
      "id": "232822ca-e947-4bad-b9ff-2d00f813d304",
      "name": "Split Projects"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst { project_id, niche, city, domain } = body;\n\nif (!project_id) throw new Error('project_id обязателен');\nif (!niche) throw new Error('niche обязателен');\n\nconst is_cron = $execution.mode === 'trigger';\nconst start_time = Date.now();\n\nreturn [{ json: {\n  project_id,\n  niche: niche || '',\n  city: city || '',\n  domain: domain || '',\n  embed_query: `${niche || ''} ${city || ''} структура сайта SEO архитектура иерархия URL`,\n  is_cron_trigger: is_cron,\n  workflow_version: 'v4.0_pro',\n  start_time\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        400
      ],
      "id": "879b0a9f-ad97-4509-be5e-b930c3bb0e27",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bge-m3\",\n  \"prompt\": {{ JSON.stringify($('Validate Input').first().json.embed_query) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1808,
        304
      ],
      "id": "a99d4626-802d-4da4-9b68-45c400928691",
      "name": "Get Query Embedding",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "url": "http://nocodb:8080/api/v1/db/data/noco/ppxzhw4b32456e0/mrr8j52dx71oi3y",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(project_id,eq,{{ $('Validate Input').first().json.project_id }})"
            },
            {
              "name": "limit",
              "value": "200"
            },
            {
              "name": "sort",
              "value": "-priority"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImxhbWlhc2VhNTBAeWFob28uY29tIiwiZGlzcGxheV9uYW1lIjpudWxsLCJhdmF0YXIiOm51bGwsInVzZXJfbmFtZSI6bnVsbCwiaWQiOiJ1c3dheDM1bHl2ZnYwd3MwIiwicm9sZXMiOnsib3JnLWxldmVsLWNyZWF0b3IiOnRydWUsInN1cGVyIjp0cnVlfSwidG9rZW5fdmVyc2lvbiI6ImZlOTAyMWMyNTIxNmQ0ZWQwNzRlZDY3YjA1Yjk3MzM3Y2JiNDU4ZDRjMGI4ZWMxOGIzMTU5MmU4ZDQ5MDhkZGE1Mjc3Mzc3NzNmNTQwODdiIiwiaWF0IjoxNzc1MTE4NjY0LCJleHAiOjE3NzUxNTQ2NjR9.jwHZu_JqJXQE0D_gTX7I8o8ekrs4JlUYPfeOKmuedr8"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1808,
        512
      ],
      "id": "243b23ba-936c-42d8-bdbc-d7670de15513",
      "name": "NocoDB Get Clusters"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/seo_niche_analyses/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "riVOt6HsFhmT6jeCg3z3dNMT0xeDRCVnB39FOjGWO8YG87rL"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($('Get Query Embedding').first().json.embedding) }},\n  \"limit\": 5,\n  \"with_payload\": true,\n  \"score_threshold\": 0.35,\n  \"filter\": {\n    \"must\": [{ \"key\": \"type\", \"match\": { \"value\": \"site_structure\" } }],\n    \"must_not\": [{ \"key\": \"project_id\", \"match\": { \"value\": \"{{ $('Validate Input').first().json.project_id }}\" } }]\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1536,
        304
      ],
      "id": "133753f6-dfb5-4acc-8f48-9e5d606a5ae1",
      "name": "RAG Competitor Structures",
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1536,
        512
      ],
      "id": "bf80969a-e681-452f-be32-6763afefcba8",
      "name": "Merge RAG + Clusters"
    },
    {
      "parameters": {
        "jsCode": "\nlet ragResults = [];\ntry { ragResults = $('RAG Competitor Structures').first().json.result || []; } catch(e) {}\n\nlet clusterList = [];\ntry {\n  const clusterData = $('NocoDB Get Clusters').first().json;\n  clusterList = clusterData.list || (Array.isArray(clusterData) ? clusterData : []);\n} catch(e) {}\n\nlet context = '';\nif (ragResults.length > 0) {\n  context = '=== СТРУКТУРЫ САЙТОВ ПОХОЖИХ НИШ (RAG) ===\\n\\n';\n  ragResults.forEach((r, i) => {\n    const p = r.payload || {};\n    context += `Проект ${i+1} (сходство: ${Math.round(r.score*100)}%):\\n`;\n    context += `  Ниша: ${p.niche||''}, город: ${p.city||''}\\n`;\n    context += `  Страниц: ${p.pages_count||'?'}, Глубина: ${p.max_depth||'?'}\\n`;\n    if (p.structure_summary) {\n      context += `  Структура:\\n${String(p.structure_summary).substring(0, 500)}\\n`;\n    }\n    context += '---\\n';\n  });\n  context += '=== КОНЕЦ RAG КОНТЕКСТА ===';\n}\n\nlet clusterContext = '';\nif (clusterList.length > 0) {\n  clusterContext = '\\n\\n=== КЛАСТЕРЫ СЕМАНТИЧЕСКОГО ЯДРА (из WF01) ===\\n';\n  clusterList.forEach(c => {\n    const kws = typeof c.keywords === 'string' ? c.keywords : JSON.stringify(c.keywords || []);\n    clusterContext += `\\n${c.cluster_name || 'Кластер'}: ${c.main_keyword || ''}\\n`;\n    clusterContext += `  Тип: ${c.page_type || '?'}, Приоритет: ${c.priority || '?'}\\n`;\n    clusterContext += `  URL: ${c.recommended_url || '/'}\\n`;\n    clusterContext += `  Ключи: ${kws.substring(0, 200)}\\n`;\n  });\n}\n\nreturn [{ json: {\n  rag_context: context || 'Нет данных из RAG — первый проект.',\n  clusters: clusterList,\n  clusters_count: clusterList.length,\n  rag_sources: ragResults.length,\n  rag_top_score: ragResults[0]?.score || 0,\n  cluster_context: clusterContext\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        400
      ],
      "id": "a1128ca5-116d-4146-bdbe-1d8480ffa24e",
      "name": "Format RAG + Cluster Context"
    },
    {
      "parameters": {
        "jsCode": "const inp = $('Validate Input').first().json;\nconst ctx = $('Format RAG + Cluster Context').first().json;\nconst clusters = ctx.clusters || [];\n\nif (clusters.length === 0) {\n  throw new Error('Кластеры не найдены для project_id: ' + inp.project_id + '. Сначала запустите NN_01.');\n}\n\n// Группировка кластеров по page_type для структурированного промпта\nconst grouped = {};\nclusters.forEach(c => {\n  const type = c.page_type || 'other';\n  if (!grouped[type]) grouped[type] = [];\n  grouped[type].push(c);\n});\n\nlet clusterBlock = '';\nfor (const [type, items] of Object.entries(grouped)) {\n  clusterBlock += `\\n[${type.toUpperCase()}] (${items.length} кластеров):\\n`;\n  items.forEach(c => {\n    clusterBlock += `  • ${c.cluster_name} | ${c.main_keyword} | приоритет: ${c.priority}`;\n    if (c.recommended_url) clusterBlock += ` | url: ${c.recommended_url}`;\n    if (c.search_volume) clusterBlock += ` | vol: ${c.search_volume}`;\n    clusterBlock += '\\n';\n  });\n}\n\nconst systemPrompt = `Ты Senior SEO-архитектор сайтов для российского рынка (Яндекс + Google). Год: 2026.\n\n${ctx.rag_context}\n\nПРАВИЛА СТРУКТУРЫ САЙТА:\n1. Максимум 3 уровня вложенности (Яндекс предпочитает плоскую структуру)\n2. Главная = level 1, parent_url = null\n3. Разделы каталога = level 2, parent_url = \"/\"\n4. Подстраницы / карточки = level 3, parent_url = \"/раздел/\"\n5. URL строго латиницей (транслитерация по ГОСТ)\n6. Запрещены страницы-сироты — каждая page.parent_url ОБЯЗАНА существовать в списке pages[].url\n7. Коммерческие страницы (услуги, каталог, цены) — ближе к корню (level 1-2)\n8. Информационные страницы (блог, FAQ) — level 2-3\n9. Обязательные страницы: /about/, /contacts/, /blog/, /otzyvy/, /faq/, /politika-konfidencialnosti/\n10. Для локальных ниш добавь /rajony/ или /metro/ хаб-страницы\n11. AEO/GEO: /faq/ с JSON-LD FAQPage schema (попадание в AI Overviews)\n12. Каждый кластер ДОЛЖЕН быть распределён на конкретную страницу\n13. Один кластер = одна страница (no keyword cannibalization)\n14. Hub-and-spoke: разделы-хабы линкуют на дочерние spoke-страницы\n\nВАЛИДАЦИЯ:\n- orphan_pages ДОЛЖЕН быть пустым массивом\n- Все parent_url должны существовать в pages[].url\n- Не допускай дублирование URL\n\nОТВЕТ: СТРОГО валидный JSON без markdown-обёрток.`;\n\nconst userPrompt = `Ниша: ${inp.niche}\nГород: ${inp.city}\nproject_id: ${inp.project_id}\n${inp.domain ? 'Домен: ' + inp.domain : ''}\n\nКЛАСТЕРЫ (${clusters.length}):\n${clusterBlock}\n\nСгенерируй полную SEO-оптимальную структуру сайта.\n\nJSON формат ответа:\n{\n  \"pages\": [\n    {\n      \"url\": \"/\",\n      \"title\": \"Главная — [Ниша] в [Городе]\",\n      \"h1\": \"[Ниша] в [Городе] — [УТП]\",\n      \"meta_description\": \"..до 160 символов..\",\n      \"parent_url\": null,\n      \"level\": 1,\n      \"cluster_name\": \"Главная\",\n      \"page_type\": \"navigation\",\n      \"priority\": 1,\n      \"seo_role\": \"hub\",\n      \"internal_links_to\": [\"/uslugi/\", \"/catalog/\"],\n      \"schema_markup\": [\"Organization\", \"LocalBusiness\"]\n    }\n  ],\n  \"total_pages\": 25,\n  \"max_depth\": 3,\n  \"orphan_pages\": [],\n  \"sitemap_priority_map\": {\n    \"/\": 1.0,\n    \"/uslugi/\": 0.9\n  }\n}`;\n\nconst payload = {\n  model: 'llama-3.3-70b-versatile',\n  max_tokens: 8192,\n  temperature: 0.15,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ]\n};\n\nreturn [{ json: {\n  groq_payload: payload,\n  project_id: inp.project_id,\n  niche: inp.niche,\n  city: inp.city,\n  domain: inp.domain || '',\n  clusters_count: clusters.length,\n  rag_sources: ctx.rag_sources,\n  start_time: inp.start_time\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        400
      ],
      "id": "622f8b14-af53-4986-906e-4a71935f95e4",
      "name": "Build Groq Prompt v4.0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groq_payload) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -784,
        400
      ],
      "id": "1c1945f0-e746-4b3e-88c3-62e01295310c",
      "name": "Groq Generate Structure",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ufwYtnED96pshQu8",
          "name": "Groq API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\n// Guard: if LLM completely failed\nconst inputData = $input.first().json;\nif (inputData.error || inputData.code || !inputData.choices) {\n  const inp = $('Validate Input').first().json;\n  return [{ json: {\n    pages: [], pages_count: 0, max_depth: 0,\n    project_id: inp.project_id, niche: inp.niche, city: inp.city,\n    qc_score: 0, issues: ['LLM call failed completely'],\n    status: 'failed', groq_tokens: 0,\n    latency_ms: Date.now() - (inp.start_time || Date.now()),\n    timestamp: new Date().toISOString()\n  }}];\n}\n\nconst groqResponse = $input.first().json;\nconst prev = $('Build Groq Prompt v4.0').first().json;\n\n// ===== ROBUST JSON PARSING =====\nlet rawContent = groqResponse?.choices?.[0]?.message?.content || '';\n\n// Clean BOM, markdown wrappers, trailing commas\nrawContent = rawContent\n  .replace(/^\\uFEFF/, '')\n  .replace(/```json\\s*/gi, '')\n  .replace(/```\\s*/gi, '')\n  .replace(/,\\s*([}\\]])/g, '$1')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(rawContent);\n} catch(e) {\n  // Try to extract JSON object\n  const match = rawContent.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      parsed = JSON.parse(match[0].replace(/,\\s*([}\\]])/g, '$1'));\n    } catch(e2) {\n      throw new Error('Groq вернул невалидный JSON. Первые 500 символов: ' + rawContent.slice(0, 500));\n    }\n  } else {\n    throw new Error('JSON не найден в ответе Groq: ' + rawContent.slice(0, 300));\n  }\n}\n\n// ===== VALIDATION & ENRICHMENT =====\nconst pages = (parsed.pages || []).map((p, idx) => {\n  // Validate URL is Latin\n  const url = (p.url || '/').replace(/[а-яА-ЯёЁ]/g, c => {\n    const translit = {'а':'a','б':'b','в':'v','г':'g','д':'d','е':'e','ё':'yo','ж':'zh','з':'z','и':'i','й':'j','к':'k','л':'l','м':'m','н':'n','о':'o','п':'p','р':'r','с':'s','т':'t','у':'u','ф':'f','х':'kh','ц':'ts','ч':'ch','ш':'sh','щ':'shch','ъ':'','ы':'y','ь':'','э':'e','ю':'yu','я':'ya','А':'A','Б':'B','В':'V','Г':'G','Д':'D','Е':'E','Ё':'Yo','Ж':'Zh','З':'Z','И':'I','Й':'J','К':'K','Л':'L','М':'M','Н':'N','О':'O','П':'P','Р':'R','С':'S','Т':'T','У':'U','Ф':'F','Х':'Kh','Ц':'Ts','Ч':'Ch','Ш':'Sh','Щ':'Shch','Ъ':'','Ы':'Y','Ь':'','Э':'E','Ю':'Yu','Я':'Ya'};\n    return translit[c] || c;\n  }).toLowerCase();\n\n  return {\n    project_id: prev.project_id,\n    niche: prev.niche,\n    city: prev.city,\n    url,\n    title: p.title || 'Без названия',\n    h1: p.h1 || p.title || '',\n    meta_description: (p.meta_description || '').substring(0, 160),\n    parent_url: p.parent_url ?? null,\n    level: Math.min(p.level || 1, 3),\n    cluster_name: p.cluster_name || '',\n    page_type: ['commercial','informational','navigation','local','landing'].includes(p.page_type) ? p.page_type : 'navigation',\n    priority: p.priority || (idx + 1),\n    seo_role: p.seo_role || 'page',\n    internal_links_to: p.internal_links_to || [],\n    schema_markup: p.schema_markup || [],\n    status: 'draft',\n    version: 'v4.0',\n    created: new Date().toISOString()\n  };\n});\n\n// ===== STRUCTURAL VALIDATION =====\nconst urlSet = new Set(pages.map(p => p.url));\n\n// Detect orphans\nconst orphans = pages.filter(p => p.parent_url && !urlSet.has(p.parent_url));\n\n// Detect duplicate URLs\nconst urlCounts = {};\npages.forEach(p => { urlCounts[p.url] = (urlCounts[p.url] || 0) + 1; });\nconst duplicateUrls = Object.entries(urlCounts).filter(([_, c]) => c > 1).map(([u]) => u);\n\n// Detect missing mandatory pages\nconst mandatoryPages = ['/about/', '/contacts/', '/faq/'];\nconst missingMandatory = mandatoryPages.filter(mp => !urlSet.has(mp));\n\nconst maxDepth = Math.max(...pages.map(p => p.level), 0);\n\n// ===== QC SCORING =====\nconst issues = [];\nif (pages.length === 0) issues.push('0 страниц сгенерировано');\nif (pages.length < 10) issues.push(`Мало страниц: ${pages.length}`);\nif (orphans.length > 0) issues.push(`${orphans.length} страниц-сирот: ${orphans.map(o=>o.url).join(', ')}`);\nif (maxDepth > 3) issues.push(`Глубина ${maxDepth} > 3`);\nif (duplicateUrls.length > 0) issues.push(`Дублирующиеся URL: ${duplicateUrls.join(', ')}`);\nif (missingMandatory.length > 0) issues.push(`Нет обязательных: ${missingMandatory.join(', ')}`);\n\n// Check cluster coverage\nconst assignedClusters = new Set(pages.map(p => p.cluster_name).filter(Boolean));\nconst inputClusters = $('Format RAG + Cluster Context').first().json.clusters || [];\nconst unmappedClusters = inputClusters.filter(c => !assignedClusters.has(c.cluster_name));\nif (unmappedClusters.length > 0) issues.push(`${unmappedClusters.length} кластеров без страниц`);\n\nlet qc_score = 100;\nqc_score -= orphans.length * 15;\nqc_score -= duplicateUrls.length * 20;\nqc_score -= missingMandatory.length * 5;\nqc_score -= unmappedClusters.length * 3;\nqc_score -= (maxDepth > 3 ? 15 : 0);\nqc_score -= (pages.length < 10 ? 10 : 0);\nqc_score = Math.max(0, Math.min(100, qc_score));\n\nconst latency_ms = Date.now() - (prev.start_time || Date.now());\n\nreturn [{ json: {\n  pages,\n  pages_count: pages.length,\n  max_depth: maxDepth,\n  orphan_pages: orphans.map(o => o.url),\n  duplicate_urls: duplicateUrls,\n  missing_mandatory: missingMandatory,\n  unmapped_clusters: unmappedClusters.map(c => c.cluster_name),\n  qc_score,\n  issues: issues.length > 0 ? issues : null,\n  status: qc_score >= 70 ? 'ready' : (qc_score >= 40 ? 'review' : 'failed'),\n  groq_tokens: groqResponse?.usage?.total_tokens || 0,\n  groq_model: groqResponse?.model || 'unknown',\n  project_id: prev.project_id,\n  niche: prev.niche,\n  city: prev.city,\n  domain: prev.domain,\n  clusters_count: prev.clusters_count,\n  rag_sources: prev.rag_sources,\n  latency_ms,\n  sitemap_priority_map: parsed.sitemap_priority_map || {},\n  timestamp: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        400
      ],
      "id": "b82e45f3-147d-480c-863d-43071657b45d",
      "name": "Parse & Validate Structure"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "qc-gate",
              "leftValue": "={{ $json.qc_score }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        400
      ],
      "id": "81d4482d-8775-4d8e-8477-8f899d7e7944",
      "name": "QC Score Router"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'failed', qc_score: $('Parse & Validate Structure').first().json.qc_score, issues: $('Parse & Validate Structure').first().json.issues, message: 'Структура не прошла QC проверку (score < 40). Проверьте кластеры и повторите.' }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        608
      ],
      "id": "7e8a6331-7e98-4232-9278-a6c1d88350b4",
      "name": "QC Failed Response"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse & Validate Structure').first().json;\nreturn data.pages.map(p => ({ json: p }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "2b36290d-7bd4-435b-b569-573a365e0454",
      "name": "Prepare NocoDB Batch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nocodb:8080/api/v1/db/data/bulk/noco/ppxzhw4b32456e0/mkwptx0hms9w6ph",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImxhbWlhc2VhNTBAeWFob28uY29tIiwiZGlzcGxheV9uYW1lIjpudWxsLCJhdmF0YXIiOm51bGwsInVzZXJfbmFtZSI6bnVsbCwiaWQiOiJ1c3dheDM1bHl2ZnYwd3MwIiwicm9sZXMiOnsib3JnLWxldmVsLWNyZWF0b3IiOnRydWUsInN1cGVyIjp0cnVlfSwidG9rZW5fdmVyc2lvbiI6ImZlOTAyMWMyNTIxNmQ0ZWQwNzRlZDY3YjA1Yjk3MzM3Y2JiNDU4ZDRjMGI4ZWMxOGIzMTU5MmU4ZDQ5MDhkZGE1Mjc3Mzc3NzNmNTQwODdiIiwiaWF0IjoxNzc1MTE4NjY0LCJleHAiOjE3NzUxNTQ2NjR9.jwHZu_JqJXQE0D_gTX7I8o8ekrs4JlUYPfeOKmuedr8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "options": {
          "batching": {
            "batch": {
              "batchInterval": 500
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        0
      ],
      "id": "e2c3495f-7ed5-45b8-bdb1-f4cf4b95051e",
      "name": "NocoDB Bulk Save Structure",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse & Validate Structure').first().json;\n\nconst structSummary = data.pages\n  .filter(p => p.level <= 2)\n  .map(p => `${p.url} | ${p.title} | ${p.page_type} | L${p.level} | role:${p.seo_role}`)\n  .join('\\n');\n\nconst fullMap = data.pages\n  .map(p => `L${p.level} ${p.url} → parent:${p.parent_url || 'ROOT'} | ${p.page_type} | cluster:${p.cluster_name}`)\n  .join('\\n');\n\nconst text = `Структура сайта v4.0\\nНиша: ${data.niche}\\nГород: ${data.city}\\nСтраниц: ${data.pages_count}\\nГлубина: ${data.max_depth}\\nQC: ${data.qc_score}/100\\n\\nОсновная структура (L1-L2):\\n${structSummary}\\n\\nПолная карта:\\n${fullMap}`;\n\nreturn [{ json: {\n  project_id: data.project_id,\n  niche: data.niche,\n  city: data.city,\n  structure_text: text,\n  pages_count: data.pages_count,\n  max_depth: data.max_depth,\n  structure_summary: structSummary,\n  qc_score: data.qc_score\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "id": "15931d55-f2c5-4892-857c-45fa15c9dc51",
      "name": "Prepare Qdrant Embedding Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bge-m3\",\n  \"prompt\": {{ JSON.stringify($json.structure_text) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        208
      ],
      "id": "12c4978d-82d4-4e05-aaa7-066c8148af1c",
      "name": "Embed Structure",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst prev = $('Prepare Qdrant Embedding Text').first().json;\nconst vector = $input.first().json.embedding;\n\nif (!vector || !Array.isArray(vector)) throw new Error('Invalid embedding vector');\n\n// Deterministic ID: prevents duplicates on re-runs\nconst idSource = `${prev.project_id}:site_structure:${prev.niche}:${prev.city}`;\nconst pointId = crypto.createHash('md5').update(idSource).digest('hex').replace(/(\\w{8})(\\w{4})(\\w{4})(\\w{4})(\\w{12})/, '$1-$2-$3-$4-$5');\n\nconst payload = {\n  points: [{\n    id: pointId,\n    vector: vector,\n    payload: {\n      project_id: prev.project_id,\n      niche: prev.niche,\n      city: prev.city,\n      type: 'site_structure',\n      pages_count: prev.pages_count,\n      max_depth: prev.max_depth,\n      structure_summary: prev.structure_summary,\n      qc_score: prev.qc_score,\n      version: 'v4.0',\n      created_at: new Date().toISOString()\n    }\n  }]\n};\n\nreturn [{ json: { qdrant_payload: payload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        208
      ],
      "id": "ee6fa7d5-7384-41f3-8fde-6238a3b8606d",
      "name": "Prepare Qdrant Upsert"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/seo_niche_analyses/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "riVOt6HsFhmT6jeCg3z3dNMT0xeDRCVnB39FOjGWO8YG87rL"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.qdrant_payload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        784,
        208
      ],
      "id": "3f144af8-a45e-4a6f-bd9f-6054b0dbfe4e",
      "name": "Qdrant Upsert Structure",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse & Validate Structure').first().json;\n\n// Real ML features extracted from generated structure\nconst pages = data.pages || [];\nconst commercialPages = pages.filter(p => p.page_type === 'commercial').length;\nconst infoPages = pages.filter(p => p.page_type === 'informational').length;\nconst localPages = pages.filter(p => p.page_type === 'local').length;\nconst hubPages = pages.filter(p => p.seo_role === 'hub').length;\nconst spokePages = pages.filter(p => p.seo_role === 'spoke' || p.seo_role === 'page').length;\nconst hasSchemaMarkup = pages.some(p => (p.schema_markup || []).length > 0);\nconst avgLinksPerPage = pages.reduce((s, p) => s + (p.internal_links_to || []).length, 0) / Math.max(pages.length, 1);\n\nconst mlPayload = {\n  total_pages: data.pages_count,\n  max_depth: data.max_depth,\n  commercial_pages: commercialPages,\n  informational_pages: infoPages,\n  local_pages: localPages,\n  hub_pages: hubPages,\n  spoke_pages: spokePages,\n  orphan_count: data.orphan_pages.length,\n  has_faq: pages.some(p => p.url.includes('/faq')),\n  has_blog: pages.some(p => p.url.includes('/blog')),\n  has_reviews: pages.some(p => p.url.includes('/otziv') || p.url.includes('/reviews')),\n  has_schema: hasSchemaMarkup,\n  avg_internal_links: Math.round(avgLinksPerPage * 100) / 100,\n  commercial_ratio: Math.round((commercialPages / Math.max(data.pages_count, 1)) * 100) / 100,\n  qc_score: data.qc_score\n};\n\nreturn [{ json: { ml_payload: mlPayload, project_id: data.project_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "40585bcd-ec46-4f66-907b-7ed03ca58123",
      "name": "Extract ML Features",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ml-service:8000/predict/structure_quality",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ml_payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        400
      ],
      "id": "433dc9d2-b1f3-4cf6-8af0-854be6f32905",
      "name": "ML Structure Quality",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nocodb:8080/api/v1/db/data/noco/ppxzhw4b32456e0/llm_logs_table",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImxhbWlhc2VhNTBAeWFob28uY29tIiwiZGlzcGxheV9uYW1lIjpudWxsLCJhdmF0YXIiOm51bGwsInVzZXJfbmFtZSI6bnVsbCwiaWQiOiJ1c3dheDM1bHl2ZnYwd3MwIiwicm9sZXMiOnsib3JnLWxldmVsLWNyZWF0b3IiOnRydWUsInN1cGVyIjp0cnVlfSwidG9rZW5fdmVyc2lvbiI6ImZlOTAyMWMyNTIxNmQ0ZWQwNzRlZDY3YjA1Yjk3MzM3Y2JiNDU4ZDRjMGI4ZWMxOGIzMTU5MmU4ZDQ5MDhkZGE1Mjc3Mzc3NzNmNTQwODdiIiwiaWF0IjoxNzc1MTE4NjY0LCJleHAiOjE3NzUxNTQ2NjR9.jwHZu_JqJXQE0D_gTX7I8o8ekrs4JlUYPfeOKmuedr8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"project_id\": \"{{ $('Parse & Validate Structure').first().json.project_id }}\",\n  \"workflow\": \"NN_02_v3.0\",\n  \"model\": \"{{ $('Parse & Validate Structure').first().json.groq_model }}\",\n  \"tokens\": {{ $('Parse & Validate Structure').first().json.groq_tokens }},\n  \"latency_ms\": {{ $('Parse & Validate Structure').first().json.latency_ms }},\n  \"qc_score\": {{ $('Parse & Validate Structure').first().json.qc_score }},\n  \"pages_count\": {{ $('Parse & Validate Structure').first().json.pages_count }},\n  \"rag_sources\": {{ $('Parse & Validate Structure').first().json.rag_sources }},\n  \"status\": \"{{ $('Parse & Validate Structure').first().json.status }}\",\n  \"issues\": {{ JSON.stringify($('Parse & Validate Structure').first().json.issues) }},\n  \"created_at\": \"{{ $('Parse & Validate Structure').first().json.timestamp }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        800
      ],
      "id": "22225449-dcb8-4d0b-a53b-f7e0667a9c4e",
      "name": "Log LLM Call",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://grafana-push:9091/metrics/job/nn_02_structure/instance/{{ $('Parse & Validate Structure').first().json.project_id }}",
        "sendBody": true,
        "specifyBody": "string",
        "body": "=nn02_pages_count {{ $('Parse & Validate Structure').first().json.pages_count }}\nnn02_max_depth {{ $('Parse & Validate Structure').first().json.max_depth }}\nnn02_qc_score {{ $('Parse & Validate Structure').first().json.qc_score }}\nnn02_groq_tokens {{ $('Parse & Validate Structure').first().json.groq_tokens }}\nnn02_latency_ms {{ $('Parse & Validate Structure').first().json.latency_ms }}\nnn02_rag_sources {{ $('Parse & Validate Structure').first().json.rag_sources }}\nnn02_orphan_count {{ $('Parse & Validate Structure').first().json.orphan_pages.length }}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        1008
      ],
      "id": "4c46701e-b2a8-4a52-8234-7c17979be546",
      "name": "Push Grafana Metrics",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse & Validate Structure').first().json;\n\n// ML result (may have failed gracefully)\nlet mlScore = null, mlLabel = null, mlConfidence = null;\ntry {\n  const ml = $('ML Structure Quality').first().json;\n  mlScore = ml.score ?? null;\n  mlLabel = ml.label ?? null;\n  mlConfidence = ml.confidence ?? null;\n} catch(e) {}\n\n// Save statuses\nlet nocodbOk = false, qdrantOk = false;\ntry { const n = $('NocoDB Bulk Save Structure').first().json; nocodbOk = Array.isArray(n) || n?.Id != null; } catch(e) {}\ntry { const q = $('Qdrant Upsert Structure').first().json; qdrantOk = q?.result?.status === 'acknowledged' || q?.status === 'ok'; } catch(e) {}\n\nreturn [{ json: {\n  status: 'success',\n  project_id: data.project_id,\n  niche: data.niche,\n  city: data.city,\n  domain: data.domain,\n  pages_count: data.pages_count,\n  max_depth: data.max_depth,\n  orphan_pages: data.orphan_pages,\n  duplicate_urls: data.duplicate_urls,\n  missing_mandatory: data.missing_mandatory,\n  unmapped_clusters: data.unmapped_clusters,\n  qc_score: data.qc_score,\n  validation_status: data.status,\n  issues: data.issues,\n  sitemap_priority_map: data.sitemap_priority_map,\n  groq_model: data.groq_model,\n  groq_tokens: data.groq_tokens,\n  latency_ms: data.latency_ms,\n  rag_sources: data.rag_sources,\n  nocodb_saved: nocodbOk,\n  qdrant_saved: qdrantOk,\n  ml_structure_score: mlScore,\n  ml_structure_label: mlLabel,\n  ml_confidence: mlConfidence,\n  version: 'v4.0_pro',\n  timestamp: data.timestamp\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        608
      ],
      "id": "d7a6b601-ced6-41b1-abc7-23a4f57567ef",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        784,
        608
      ],
      "id": "19dbc2a9-e04e-40b8-8d45-85f30ef5f195",
      "name": "Return Result"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($(\"Build Groq Prompt v4.0\").first().json.groq_payload) }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Fallback LLM Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        720
      ],
      "id": "25b4e8e7-f963-4655-a705-267b00b7e763",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ufwYtnED96pshQu8",
          "name": "Groq API"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Monthly Update": {
      "main": [
        [
          {
            "node": "Cron Fetch Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Fetch Projects": {
      "main": [
        [
          {
            "node": "Split Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Projects": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Query Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "NocoDB Get Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Query Embedding": {
      "main": [
        [
          {
            "node": "RAG Competitor Structures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Competitor Structures": {
      "main": [
        [
          {
            "node": "Merge RAG + Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Get Clusters": {
      "main": [
        [
          {
            "node": "Merge RAG + Clusters",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RAG + Clusters": {
      "main": [
        [
          {
            "node": "Format RAG + Cluster Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG + Cluster Context": {
      "main": [
        [
          {
            "node": "Build Groq Prompt v4.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Prompt v4.0": {
      "main": [
        [
          {
            "node": "Groq Generate Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Generate Structure": {
      "main": [
        [
          {
            "node": "Parse & Validate Structure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback LLM Call": {
      "main": [
        [
          {
            "node": "Parse & Validate Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Structure": {
      "main": [
        [
          {
            "node": "QC Score Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QC Score Router": {
      "main": [
        [
          {
            "node": "Prepare NocoDB Batch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Qdrant Embedding Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract ML Features",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log LLM Call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Push Grafana Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QC Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare NocoDB Batch": {
      "main": [
        [
          {
            "node": "NocoDB Bulk Save Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Bulk Save Structure": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qdrant Embedding Text": {
      "main": [
        [
          {
            "node": "Embed Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Structure": {
      "main": [
        [
          {
            "node": "Prepare Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Qdrant Upsert Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert Structure": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ML Features": {
      "main": [
        [
          {
            "node": "ML Structure Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML Structure Quality": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log LLM Call": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Grafana Metrics": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0b0d61e5-5948-437c-857f-663ed65b9595",
  "meta": {
    "instanceId": "e400d94cd35057382ffd98f35f5f609f9bd3f2676425b3672d90c1a1c4917652"
  },
  "id": "66jp9ejetos8aOxl",
  "tags": [
    {
      "updatedAt": "2026-03-26T12:32:15.316Z",
      "createdAt": "2026-03-26T12:32:15.316Z",
      "id": "hskzuhn1m2GiRjf4",
      "name": "step_02"
    },
    {
      "updatedAt": "2026-03-30T15:08:54.560Z",
      "createdAt": "2026-03-30T15:08:54.560Z",
      "id": "UARzQVpXP6CQ8AkD",
      "name": "Production"
    },
    {
      "updatedAt": "2026-03-31T07:54:06.032Z",
      "createdAt": "2026-03-31T07:54:06.032Z",
      "id": "Gov17eQm7RYlcZQF",
      "name": "v3.0_PRO"
    }
  ]
}