NN_00_Анализ_ЦА_RAG_v4.0_PRO (3).json
{
  "name": "NN_00_Анализ_ЦА_RAG_v4.0_PRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analiz-ca",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-Workflow-Version",
                "value": "v3.0"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3600,
        624
      ],
      "id": "2d5847a1-65ec-4354-ab4d-eb2a8da19c7a",
      "name": "Webhook",
      "webhookId": "webhook-analiz-ca-001"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3600,
        224
      ],
      "id": "4e778bc2-62af-481d-9ba6-7ef2e7400ed4",
      "name": "Cron Weekly Update"
    },
    {
      "parameters": {
        "url": "=http://nocodb:8080/api/v1/db/data/noco/ppxzhw4b32456e0/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImxhbWlhc2VhNTBAeWFob28uY29tIiwiZGlzcGxheV9uYW1lIjpudWxsLCJhdmF0YXIiOm51bGwsInVzZXJfbmFtZSI6bnVsbCwiaWQiOiJ1c3dheDM1bHl2ZnYwd3MwIiwicm9sZXMiOnsib3JnLWxldmVsLWNyZWF0b3IiOnRydWUsInN1cGVyIjp0cnVlfSwidG9rZW5fdmVyc2lvbiI6ImZlOTAyMWMyNTIxNmQ0ZWQwNzRlZDY3YjA1Yjk3MzM3Y2JiNDU4ZDRjMGI4ZWMxOGIzMTU5MmU4ZDQ5MDhkZGE1Mjc3Mzc3NzNmNTQwODdiIiwiaWF0IjoxNzc1MTEyNDg5LCJleHAiOjE3NzUxNDg0ODl9.0-uzeh-HYcOWuAKZu3t4SIOg_S7EKQOUXn7arXMw5mI"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3360,
        224
      ],
      "id": "d3824fae-1ff1-4265-84cc-7b5646a3179d",
      "name": "Fetch Active Projects",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3120,
        224
      ],
      "id": "687b5c33-58c4-4459-8ed5-0579b45c6a25",
      "name": "Split Projects"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body || $input.first().json || {};\nconst niche = (body.niche || '').trim();\nconst city = (body.city || '').trim();\nconst type = (body.target_audience_type || 'B2C').trim().toUpperCase();\nconst project_id = (body.project_id || '').trim();\nconst domain = (body.domain || '').trim();\nconst niche_cluster = (body.niche_cluster || 'commercial_local').trim();\nconst priority_engines = (body.priority_engines || 'both').trim();\nconst is_cron = $execution.mode === 'trigger';\n\n// Strict validation\nconst errors = [];\nif (!niche) errors.push('niche is required');\nif (!city) errors.push('city is required');\nif (!['B2C', 'B2B', 'B2B2C'].includes(type)) errors.push('target_audience_type must be B2C/B2B/B2B2C');\nif (!project_id) errors.push('project_id is required');\n\nif (errors.length > 0) {\n  throw new Error('Validation failed: ' + errors.join('; '));\n}\n\n// Deterministic ID for deduplication\nconst crypto = require('crypto');\nconst dedup_key = `${project_id}_${niche}_${city}_${type}`.toLowerCase();\nconst deterministic_id = crypto.createHash('md5').update(dedup_key).digest('hex');\n\n// Deterministic A/B via hash instead of Math.random()\nconst ab_hash = parseInt(crypto.createHash('md5').update(project_id + niche).digest('hex').substring(0, 8), 16);\nconst ab_bucket = ab_hash % 3;\n\nreturn [{ json: {\n  niche, city, target_audience_type: type, project_id, domain,\n  niche_cluster, priority_engines,\n  embed_query: `${niche} ${city} ${type} целевая аудитория SEO анализ`,\n  is_cron_trigger: is_cron,\n  dedup_key,\n  deterministic_id,\n  ab_bucket,\n  attempt: 1,\n  best_qc: 0,\n  best_persona: null\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        624
      ],
      "id": "d48a7d0f-7240-4700-afd3-14be32a9da2a",
      "name": "Validate & Normalize Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL || 'http://ollama:11434' }}/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.EMBED_MODEL || 'bge-m3' }}\",\n  \"prompt\": \"{{ $json.embed_query }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3120,
        624
      ],
      "id": "7fee63f5-eb2a-4a45-b9a7-57e4b73d5962",
      "name": "Get Query Embedding",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://qdrant:6333/collections/competitor_audiences/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "riVOt6HsFhmT6jeCg3z3dNMT0xeDRCVnB39FOjGWO8YG87rL"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"vector\": $json.embedding, \"limit\": 5, \"score_threshold\": 0.6}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2880,
        624
      ],
      "id": "e1713595-4ad5-4c43-8357-40ae32cdf2df",
      "name": "Search competitor_audiences",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://qdrant:6333/collections/search_intents/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "riVOt6HsFhmT6jeCg3z3dNMT0xeDRCVnB39FOjGWO8YG87rL"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"vector\": $json.embedding, \"limit\": 5, \"score_threshold\": 0.6}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2880,
        912
      ],
      "id": "f9726239-9828-4267-84eb-4fa10b3cac70",
      "name": "Search search_intents",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -2640,
        624
      ],
      "id": "f8c81f95-cafe-487f-b634-dfd189c74e7f",
      "name": "Wait All RAG Results"
    },
    {
      "parameters": {
        "jsCode": "\nlet pResults = [], cResults = [], iResults = [];\ntry { pResults = $('Search seo_personas2').first().json.result || []; } catch(e) {}\ntry { cResults = $('Search competitor_audiences').first().json.result || []; } catch(e) {}\ntry { iResults = $('Search search_intents').first().json.result || []; } catch(e) {}\n\nlet context = '', sourcesCount = 0;\n\nif (pResults.length > 0) {\n  context += '=== ПОХОЖИЕ ПЕРСОНЫ ИЗ БАЗЫ (RAG) ===\\n\\n';\n  pResults.forEach((r, i) => {\n    const p = r.payload || {};\n    context += `Проект ${i+1} (релевантность: ${Math.round(r.score*100)}%):\\n`;\n    context += `  Ниша: ${p.niche||''}, город: ${p.city||''}\\n`;\n    context += `  Персона: ${p.persona_name||''}\\n`;\n    context += `  JTBD: ${p.main_jtbd||'н/д'}\\n`;\n    context += `  QC: ${p.qc_score||'н/д'}/100\\n---\\n`;\n  });\n  sourcesCount += pResults.length;\n}\n\nif (cResults.length > 0) {\n  context += '\\n=== ДАННЫЕ О ЦА КОНКУРЕНТОВ ===\\n\\n';\n  cResults.forEach((r, i) => {\n    const c = r.payload || {};\n    context += `Конкурент ${i+1}: ${c.competitor_domain||''}\\n`;\n    context += `  Сегмент: ${c.segment||'н/д'}\\n`;\n    context += `  Ключевые отличия: ${c.differentiators||'н/д'}\\n---\\n`;\n  });\n  sourcesCount += cResults.length;\n}\n\nif (iResults.length > 0) {\n  context += '\\n=== МАППИНГ SEARCH INTENT ===\\n\\n';\n  iResults.forEach((r) => {\n    const s = r.payload || {};\n    context += `${s.query||''} → ${s.intent_type||''} (Хант: ${s.hunt_level||''}, Volume: ${s.volume||'н/д'})\\n`;\n  });\n  sourcesCount += iResults.length;\n}\n\nreturn [{ json: {\n  rag_context: context || 'Нет данных в RAG базе — генерация с нуля.',\n  sources_count: sourcesCount,\n  top_score: pResults[0]?.score || 0,\n  has_competitor_data: cResults.length > 0,\n  has_intent_data: iResults.length > 0,\n  rag_quality: sourcesCount >= 5 ? 'rich' : (sourcesCount > 0 ? 'partial' : 'empty')\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        624
      ],
      "id": "88a75382-2664-474a-a664-5f043d15be9f",
      "name": "Format RAG Context"
    },
    {
      "parameters": {
        "jsCode": "\nconst rag = $('Format RAG Context').first().json;\nconst inp = $('Validate & Normalize Input').first().json;\n\n// Deterministic A/B via hash (not Math.random)\nconst abBucket = inp.ab_bucket;\nconst attempt = inp.attempt || 1;\n\n// On retry: rotate strategy\nconst effectiveBucket = (abBucket + attempt - 1) % 3;\n\nlet abVersion, promptStrategy;\nif (effectiveBucket === 0) {\n  abVersion = 'v4.0_A_structured';\n  promptStrategy = 'СТРУКТУРИРОВАННЫЙ ПОДХОД: Начни с анализа рынка, затем построй персону. Используй фреймворк JTBD + Лестница Ханта последовательно.';\n} else if (effectiveBucket === 1) {\n  abVersion = 'v4.0_B_empathy';\n  promptStrategy = 'ЭМПАТИЧЕСКИЙ ПОДХОД: Начни с болей и эмоций аудитории. Погрузись в мир персоны, затем формализуй через JTBD и поисковое поведение.';\n} else {\n  abVersion = 'v4.0_C_data_driven';\n  promptStrategy = 'DATA-DRIVEN ПОДХОД: Начни с поисковых запросов и данных конкурентов. Построй персону на основе реального поискового поведения и intent mapping.';\n}\n\nif (attempt > 1) abVersion += `_retry${attempt}`;\n\nconst ragBlock = rag.rag_context\n  ? `\\n\\nКОНТЕКСТ ИЗ RAG БАЗЫ (качество: ${rag.rag_quality}, ${rag.sources_count} источников):\\n${rag.rag_context}\\n\\nИспользуй данные RAG для обогащения, но НЕ копируй буквально. Адаптируй под текущую нишу и город.`\n  : '';\n\nconst engineSplit = inp.priority_engines === 'both'\n  ? `\\n\\nОБЯЗАТЕЛЬНО: Для КАЖДОГО поискового запроса указывай поле \"engine\": \"yandex\" | \"google\" | \"both\".\n- [Я] Яндекс-специфичные запросы: с городом, «рядом», «рейтинг», «отзывы», разговорные\n- [G] Google-специфичные: англицизмы, «best», «vs», «review», длинные информационные  \n- [ОБА] Универсальные: общие коммерческие запросы`\n  : '';\n\nconst systemPrompt = `Ты — Senior маркетолог-аналитик с 15-летним опытом в digital-маркетинге и SEO.\n\nТВОЯ СПЕЦИАЛИЗАЦИЯ:\n- Jobs-To-Be-Done (JTBD) framework — функциональные, эмоциональные, социальные работы\n- Лестница осведомлённости Бена Ханта (5 уровней)\n- AEO (Answer Engine Optimization) — оптимизация под AI-поиск\n- GEO (Generative Engine Optimization) — оптимизация под генеративные системы\n- YMYL-тематики и E-E-A-T факторы\n\nСТРАТЕГИЯ ГЕНЕРАЦИИ: ${promptStrategy}\n${ragBlock}\n\nКРИТИЧЕСКИЕ ПРАВИЛА:\n1) Создай ОДНУ детальную персону\n2) Все данные должны быть РЕАЛИСТИЧНЫМИ для указанного региона\n3) Поисковые запросы строго на РУССКОМ языке\n4) JTBD формулируй от первого лица: \"Когда я [ситуация], я хочу [действие], чтобы [результат]\"\n5) AEO-профиль ОБЯЗАТЕЛЕН: включи AI-поиск (Яндекс Нейро, ChatGPT, Perplexity)\n6) Минимум 5000 символов в ответе\n7) Каждый уровень Ханта = минимум 3 поисковых запроса\n8) Каждый запрос содержит поле \"engine\" для указания поисковой системы${engineSplit}\n\nФОРМАТ: Ответь строго валидным JSON без markdown-обёртки, без комментариев, без trailing commas.\nPrompt version: ${abVersion}`;\n\nconst userPrompt = `Создай детальный портрет целевой аудитории:\n\nВХОДНЫЕ ДАННЫЕ:\n- НИША: ${inp.niche}\n- РЕГИОН: ${inp.city}\n- СЕГМЕНТ: ${inp.target_audience_type}\n- КЛАСТЕР: ${inp.niche_cluster}\n- ПРИОРИТЕТ ПС: ${inp.priority_engines}\n${inp.domain ? '- ДОМЕН: ' + inp.domain : ''}\n\nЗаполни ВСЕ поля JSON-схемы ниже. Каждое поле обязательно.\n\n{\n  \"persona_name\": \"Имя Фамилия, роль/должность\",\n  \"segment\": \"${inp.target_audience_type}\",\n  \"demographics\": {\n    \"age_range\": \"25-35\",\n    \"gender\": \"female|male|any\",\n    \"income_level\": \"ниже среднего|средний|выше среднего|высокий\",\n    \"location\": \"${inp.city}\",\n    \"occupation\": \"конкретная профессия\",\n    \"family_status\": \"статус\",\n    \"education\": \"уровень образования\",\n    \"digital_literacy\": \"низкая|средняя|высокая\"\n  },\n  \"jtbd\": {\n    \"core_job\": \"Когда я [ситуация], я хочу [мотивация], чтобы [результат]\",\n    \"functional_jobs\": [\"задача 1\", \"задача 2\", \"задача 3\"],\n    \"emotional_job\": \"эмоциональная потребность\",\n    \"social_job\": \"социальный аспект\",\n    \"triggers\": [\"событие 1\", \"событие 2\", \"событие 3\", \"событие 4\"],\n    \"barriers\": [\"возражение 1\", \"возражение 2\", \"возражение 3\"],\n    \"hiring_criteria\": [\"критерий выбора 1\", \"критерий 2\", \"критерий 3\"],\n    \"firing_triggers\": [\"причина отказа 1\", \"причина 2\"]\n  },\n  \"hunt_ladder\": {\n    \"level_1_unaware\": {\n      \"description\": \"описание состояния\",\n      \"content_strategy\": \"стратегия контента\",\n      \"sample_queries\": [\n        {\"query\": \"запрос1\", \"engine\": \"both\"},\n        {\"query\": \"запрос2\", \"engine\": \"yandex\"},\n        {\"query\": \"запрос3\", \"engine\": \"google\"}\n      ],\n      \"content_formats\": [\"блог\", \"видео\"],\n      \"kpi_metrics\": [\"метрика1\"]\n    },\n    \"level_2_problem_aware\": {\n      \"description\": \"...\", \"content_strategy\": \"...\",\n      \"sample_queries\": [\n        {\"query\": \"запрос1\", \"engine\": \"both\"},\n        {\"query\": \"запрос2\", \"engine\": \"yandex\"},\n        {\"query\": \"запрос3\", \"engine\": \"google\"}\n      ],\n      \"content_formats\": [\"гайд\", \"чеклист\"], \"kpi_metrics\": [\"метрика1\"]\n    },\n    \"level_3_solution_aware\": {\n      \"description\": \"...\", \"content_strategy\": \"...\",\n      \"sample_queries\": [\n        {\"query\": \"запрос1\", \"engine\": \"both\"},\n        {\"query\": \"запрос2\", \"engine\": \"yandex\"},\n        {\"query\": \"запрос3\", \"engine\": \"google\"}\n      ],\n      \"content_formats\": [\"лендинг\", \"кейс\"], \"kpi_metrics\": [\"метрика1\"]\n    },\n    \"level_4_product_aware\": {\n      \"description\": \"...\", \"content_strategy\": \"...\",\n      \"sample_queries\": [\n        {\"query\": \"запрос1\", \"engine\": \"both\"},\n        {\"query\": \"запрос2\", \"engine\": \"yandex\"},\n        {\"query\": \"запрос3\", \"engine\": \"google\"}\n      ],\n      \"content_formats\": [\"страница услуги\", \"сравнение\"], \"kpi_metrics\": [\"метрика1\"]\n    },\n    \"level_5_most_aware\": {\n      \"description\": \"...\", \"content_strategy\": \"...\",\n      \"sample_queries\": [\n        {\"query\": \"запрос1\", \"engine\": \"both\"},\n        {\"query\": \"запрос2\", \"engine\": \"yandex\"},\n        {\"query\": \"запрос3\", \"engine\": \"google\"}\n      ],\n      \"content_formats\": [\"CTA-страница\", \"акция\"], \"kpi_metrics\": [\"метрика1\"]\n    }\n  },\n  \"search_behavior\": {\n    \"primary_engine\": \"Яндекс|Google|оба\",\n    \"device_split\": {\"mobile\": 70, \"desktop\": 30},\n    \"peak_search_hours\": \"19:00-23:00\",\n    \"query_style\": \"короткие|средние|длинные|микс\",\n    \"decision_timeline\": \"1 день|1 неделя|1 месяц|3+ месяца\",\n    \"decision_factors\": [\"фактор1\", \"фактор2\", \"фактор3\"],\n    \"comparison_behavior\": \"как сравнивает варианты\",\n    \"micro_moments\": [\"момент1\", \"момент2\"]\n  },\n  \"aeo_profile\": {\n    \"uses_ai_search\": true,\n    \"ai_adoption_level\": \"ранний|растущий|активный\",\n    \"ai_platforms\": [\"Яндекс Нейро\", \"ChatGPT\", \"Perplexity\"],\n    \"ai_query_examples\": [\"AI-вопрос 1\", \"AI-вопрос 2\", \"AI-вопрос 3\"],\n    \"ai_trust_level\": \"низкий|средний|высокий\",\n    \"voice_search_queries\": [\n      {\"query\": \"голосовой 1\", \"engine\": \"yandex\"},\n      {\"query\": \"голосовой 2\", \"engine\": \"google\"}\n    ],\n    \"featured_snippet_queries\": [\n      {\"query\": \"запрос для сниппета 1\", \"engine\": \"both\"},\n      {\"query\": \"запрос 2\", \"engine\": \"google\"}\n    ],\n    \"geo_queries\": [\n      {\"query\": \"${inp.city} + запрос 1\", \"engine\": \"yandex\"},\n      {\"query\": \"${inp.city} + запрос 2\", \"engine\": \"both\"}\n    ]\n  },\n  \"content_preferences\": {\n    \"preferred_formats\": [\"видео\", \"текст\", \"инфографика\"],\n    \"content_length_preference\": \"короткий|средний|лонгрид\",\n    \"social_platforms\": [\"ВКонтакте\", \"Telegram\", \"YouTube\"],\n    \"trust_signals\": [\"отзывы\", \"сертификаты\", \"кейсы\"],\n    \"ugc_influence\": \"низкое|среднее|высокое\"\n  },\n  \"competitor_overlap\": {\n    \"likely_considers\": [\"конкурент1.ru\", \"конкурент2.ru\"],\n    \"switch_triggers\": [\"причина переключения 1\", \"причина 2\"],\n    \"loyalty_factors\": [\"фактор 1\", \"фактор 2\"]\n  },\n  \"commercial_factors\": {\n    \"price_sensitivity\": \"низкая|средняя|высокая\",\n    \"avg_check_range\": \"от X до Y руб.\",\n    \"payment_preferences\": [\"онлайн\", \"наличные\", \"рассрочка\"],\n    \"seasonal_patterns\": [\"пик 1\", \"спад 1\"]\n  },\n  \"priority_score\": 85,\n  \"priority_reasoning\": \"обоснование приоритетности сегмента\"\n}`;\n\nreturn [{ json: {\n  system_prompt: systemPrompt,\n  user_prompt: userPrompt,\n  prompt_version: abVersion,\n  model: 'llama-3.3-70b-versatile',\n  fallback_model: 'llama-3.1-8b-instant',\n  attempt: inp.attempt || 1\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        624
      ],
      "id": "9b683620-dfcc-4da0-b2ca-facfaa89b983",
      "name": "Build Prompt v4.0"
    },
    {
      "parameters": {
        "jsCode": "\nconst p = $('Build Prompt v4.0').first().json;\nconst inp = $('Validate & Normalize Input').first().json;\n\nconst logEntry = {\n  workflow_name: 'NN_00_v4.0_PRO',\n  workflow_id: 'step_00',\n  project_id: inp.project_id,\n  prompt_version: p.prompt_version,\n  prompt_type: 'persona_generation',\n  model: p.model,\n  system_prompt: p.system_prompt.substring(0, 3000),\n  user_prompt: p.user_prompt.substring(0, 3000),\n  input_data: JSON.stringify({niche: inp.niche, city: inp.city, type: inp.target_audience_type, domain: inp.domain, cluster: inp.niche_cluster}),\n  attempt: p.attempt || 1,\n  status: 'pending',\n  started_at: new Date().toISOString()\n};\n\nreturn [{ json: { llm_log_payload: logEntry, prompt_version: p.prompt_version }}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        624
      ],
      "id": "4eacade3-e121-40f5-b44e-949e30b7161b",
      "name": "Prepare LLM Log (Pre)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOCODB_BASE_URL }}/api/v1/db/data/noco/{{ $env.NOCODB_ORG_ID }}/llm_logs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImxhbWlhc2VhNTBAeWFob28uY29tIiwiZGlzcGxheV9uYW1lIjpudWxsLCJhdmF0YXIiOm51bGwsInVzZXJfbmFtZSI6bnVsbCwiaWQiOiJ1c3dheDM1bHl2ZnYwd3MwIiwicm9sZXMiOnsib3JnLWxldmVsLWNyZWF0b3IiOnRydWUsInN1cGVyIjp0cnVlfSwidG9rZW5fdmVyc2lvbiI6ImZlOTAyMWMyNTIxNmQ0ZWQwNzRlZDY3YjA1Yjk3MzM3Y2JiNDU4ZDRjMGI4ZWMxOGIzMTU5MmU4ZDQ5MDhkZGE1Mjc3Mzc3NzNmNTQwODdiIiwiaWF0IjoxNzc1MTEyNDg5LCJleHAiOjE3NzUxNDg0ODl9.0-uzeh-HYcOWuAKZu3t4SIOg_S7EKQOUXn7arXMw5mI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.llm_log_payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1680,
        624
      ],
      "id": "a8674fe9-de1a-4752-8633-1e603245a925",
      "name": "Save LLM Log (Pre)",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst prompt = $('Build Prompt v4.0').first().json;\nconst preLog = $('Save LLM Log (Pre)').first().json;\nconst logId = preLog.Id || preLog.id || null;\n\nconst payload = {\n  model: prompt.model,\n  max_tokens: 5000,\n  temperature: 0.4,\n  top_p: 0.9,\n  response_format: { type: \"json_object\" },\n  messages: [\n    { role: 'system', content: prompt.system_prompt },\n    { role: 'user', content: prompt.user_prompt }\n  ]\n};\n\nreturn [{ json: {\n  groq_payload: payload,\n  fallback_model: prompt.fallback_model,\n  log_id: logId,\n  attempt: prompt.attempt || 1,\n  started_at: Date.now()\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        624
      ],
      "id": "1c0eec45-529b-4d4d-9edb-c2fc5d70b377",
      "name": "Prepare LLM Call"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groq_payload) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1200,
        624
      ],
      "id": "e3eba897-5294-433e-b541-f157d01650f4",
      "name": "Groq LLM Call",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "ufwYtnED96pshQu8",
          "name": "Groq API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst response = $input.first().json;\nconst inp = $('Validate & Normalize Input').first().json;\nconst ragInfo = $('Format RAG Context').first().json;\nconst promptInfo = $('Build Prompt v4.0').first().json;\nconst llmPrep = $('Prepare LLM Call').first().json;\nconst latency_ms = Date.now() - llmPrep.started_at;\n\nlet rawText = '', tokens = 0, model_used = '';\nif (response.choices) {\n  rawText = response.choices[0].message.content;\n  tokens = response.usage?.total_tokens || 0;\n  model_used = response.model || '';\n} else if (response.content) {\n  rawText = response.content[0].text;\n} else {\n  throw new Error('Unknown LLM response format: ' + JSON.stringify(response).substring(0, 200));\n}\n\n// Robust JSON extraction\nlet clean = rawText;\nclean = clean.replace(/^```(?:json)?\\s*\\n?/gm, '').replace(/\\n?```\\s*$/gm, '').trim();\nclean = clean.replace(/^\\uFEFF/, '');\n\nconst jsonMatch = clean.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) clean = jsonMatch[0];\n\nclean = clean.replace(/,\\s*([}\\]])/g, '$1');\nclean = clean.replace(/(?<=\":[ ]*\"[^\"]*)\\n(?=[^\"]*\")/g, '\\\\n');\n\nconst rawLength = clean.length;\n\nlet persona;\ntry {\n  persona = JSON.parse(clean);\n} catch(e) {\n  try {\n    const cleaned2 = clean\n      .replace(/[\\x00-\\x1F\\x7F]/g, ' ')\n      .replace(/,\\s*}/g, '}')\n      .replace(/,\\s*\\]/g, ']');\n    persona = JSON.parse(cleaned2);\n  } catch(e2) {\n    throw new Error('JSON parse failed after 2 attempts. First 500 chars: ' + clean.substring(0, 500));\n  }\n}\n\n// === VALIDATION ===\nconst required = [\n  'persona_name', 'segment', 'demographics', 'jtbd', 'hunt_ladder',\n  'search_behavior', 'aeo_profile', 'content_preferences', 'competitor_overlap', 'priority_score'\n];\nconst missing = required.filter(f => !persona[f]);\n\nconst huntLevels = persona.hunt_ladder ? Object.keys(persona.hunt_ladder).length : 0;\nconst hasAEO = persona.aeo_profile?.ai_platforms?.length > 0;\nconst scoreValid = persona.priority_score >= 1 && persona.priority_score <= 100;\nconst hasBarriers = persona.jtbd?.barriers?.length > 0;\nconst hasTriggers = persona.jtbd?.triggers?.length > 0;\nconst hasCommercial = !!persona.commercial_factors;\n\n// Weighted QC scoring (rule-based)\nlet qc_score = 100;\nconst issues = [];\n\nif (missing.length > 0) { qc_score -= (missing.length * 8); issues.push('Missing fields: ' + missing.join(', ')); }\nif (!hasTriggers) { qc_score -= 12; issues.push('No JTBD triggers'); }\nif (!hasBarriers) { qc_score -= 12; issues.push('No JTBD barriers'); }\nif (huntLevels < 5) { qc_score -= 20; issues.push(`Only ${huntLevels}/5 Hunt levels`); }\nif (!hasAEO) { qc_score -= 15; issues.push('No AEO data'); }\nif (!persona.demographics?.age_range) { qc_score -= 8; issues.push('No age_range'); }\nif (!scoreValid) { qc_score -= 8; issues.push('Invalid priority_score'); }\nif (rawLength < 3000) { qc_score -= 20; issues.push(`Too short: ${rawLength} chars`); }\nelse if (rawLength < 4000) { qc_score -= 10; issues.push(`Short: ${rawLength} chars`); }\nif (!hasCommercial) { qc_score -= 5; issues.push('No commercial_factors'); }\n\n// Check query count per Hunt level\nlet totalQueries = 0;\nif (persona.hunt_ladder) {\n  Object.entries(persona.hunt_ladder).forEach(([level, data]) => {\n    const queries = data?.sample_queries?.length || 0;\n    totalQueries += queries;\n    if (queries < 3) { qc_score -= 3; issues.push(`${level}: only ${queries} queries`); }\n  });\n}\n\n// Check [Я]/[G] engine tagging\nlet engineTagged = 0, engineTotal = 0;\nif (persona.hunt_ladder) {\n  Object.values(persona.hunt_ladder).forEach(level => {\n    if (level.sample_queries) {\n      level.sample_queries.forEach(q => {\n        engineTotal++;\n        if (typeof q === 'object' && q.engine) engineTagged++;\n      });\n    }\n  });\n}\nif (engineTotal > 0 && engineTagged < engineTotal * 0.5) {\n  qc_score -= 5; issues.push(`Engine tagging: only ${engineTagged}/${engineTotal} queries tagged`);\n}\n\nqc_score = Math.max(0, Math.min(100, qc_score));\nconst status = qc_score >= 80 ? 'ready' : (qc_score >= 60 ? 'review' : 'poor');\n\nconst allQueries = [];\nif (persona.hunt_ladder) {\n  Object.values(persona.hunt_ladder).forEach(level => {\n    if (level.sample_queries) {\n      level.sample_queries.forEach(q => {\n        allQueries.push(typeof q === 'object' ? q.query : q);\n      });\n    }\n  });\n}\n\n// ML features for prediction\nconst ml_features = {\n  text_length: rawLength,\n  hunt_levels: huntLevels,\n  total_queries: totalQueries,\n  has_aeo: hasAEO ? 1 : 0,\n  has_commercial: hasCommercial ? 1 : 0,\n  rag_sources: ragInfo.sources_count || 0,\n  triggers_count: (persona.jtbd?.triggers || []).length,\n  barriers_count: (persona.jtbd?.barriers || []).length,\n  missing_fields: missing.length,\n  engine_tagged_pct: engineTotal > 0 ? engineTagged / engineTotal : 0\n};\n\nreturn [{ json: {\n  persona,\n  persona_name: persona.persona_name || '',\n  segment: persona.segment || '',\n  niche: inp.niche, city: inp.city,\n  target_audience_type: inp.target_audience_type,\n  project_id: inp.project_id, domain: inp.domain,\n  niche_cluster: inp.niche_cluster,\n  priority_engines: inp.priority_engines,\n  deterministic_id: inp.deterministic_id,\n  priority_score: persona.priority_score || 50,\n  qc_score, rule_qc_score: qc_score, status, issues: issues.length > 0 ? issues : null,\n  main_jtbd: persona.jtbd?.core_job || '',\n  problems_summary: persona.jtbd?.emotional_job || '',\n  top_queries: allQueries.slice(0, 15),\n  total_queries: totalQueries,\n  hunt_ladder_levels: huntLevels,\n  triggers_count: (persona.jtbd?.triggers || []).length,\n  barriers_count: (persona.jtbd?.barriers || []).length,\n  preferred_formats: persona.content_preferences?.preferred_formats || [],\n  ai_platforms: persona.aeo_profile?.ai_platforms || [],\n  has_aeo: !!hasAEO,\n  has_commercial: hasCommercial,\n  rag_sources_used: ragInfo.sources_count || 0,\n  rag_top_score: ragInfo.top_score || 0,\n  rag_quality: ragInfo.rag_quality || 'empty',\n  uses_ai_search: persona.aeo_profile?.uses_ai_search || false,\n  groq_tokens: tokens, model_used, latency_ms,\n  embed_text: `${inp.niche} ${inp.city} ${persona.persona_name||''} ${persona.jtbd?.core_job||''} ${persona.jtbd?.emotional_job||''}`,\n  prompt_version: promptInfo.prompt_version,\n  raw_content_length: rawLength,\n  log_id: llmPrep.log_id,\n  attempt: llmPrep.attempt || 1,\n  ml_features,\n  engine_tagged: engineTagged,\n  engine_total: engineTotal\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        624
      ],
      "id": "3d931251-d837-4600-b859-9f1cb6ed0087",
      "name": "Extract & Validate JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "qc-check",
              "leftValue": "={{ $json.qc_score }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        800
      ],
      "id": "59736202-f042-4a0c-aa2c-b83f316a4898",
      "name": "QC Score Router"
    },
    {
      "parameters": {
        "jsCode": "\nconst p = $('Extract & Validate JSON').first().json;\nconst alertMessage = `🔴 SEO ALERT: Низкое качество персоны\n\nWorkflow: NN_00_v3.0_PRO\nProject: ${p.project_id}\nPersona: ${p.persona_name}\nQC Score: ${p.qc_score}/100\nStatus: ${p.status}\nIssues: ${(p.issues || []).join('\\n  • ')}\nModel: ${p.model_used}\nTokens: ${p.groq_tokens}\nLatency: ${p.latency_ms}ms\nRAG sources: ${p.rag_sources_used}\n\nТребуется ручная проверка или перегенерация!`;\n\nreturn [{ json: {\n  email_subject: `[SEO Alert] QC ${p.qc_score}/100 — ${p.project_id}`,\n  email_body: alertMessage,\n  ...p\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        416
      ],
      "id": "55ec2dad-dc15-418c-98f7-b6978fac39ef",
      "name": "Prepare Alert"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.ALERT_FROM_EMAIL || 'noreply@seaseo.ru' }}",
        "toEmail": "={{ $env.ALERT_TO_EMAIL || 'alerts@seaseo.ru' }}",
        "subject": "={{ $json.email_subject }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        240,
        416
      ],
      "id": "829b1075-627c-41f9-a238-4b9ed95583bb",
      "name": "Send Email Alert",
      "webhookId": "41513667-7679-4eef-8f67-20b68267f85b",
      "credentials": {
        "smtp": {
          "id": "gMI9sUOKFC5lmplO",
          "name": "SMTP account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.EMBED_MODEL || 'bge-m3' }}\",\n  \"prompt\": \"{{ $json.embed_text }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "fde3a588-d7cf-4cd2-b1cb-a61cf2edaed5",
      "name": "Get Persona Embedding",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "\nconst p = $('Merge ML Score').first().json;\nconst embedding = $input.first().json.embedding;\nif (!embedding || embedding.length === 0) throw new Error('Empty embedding vector');\n\nconst payload = {\n  points: [{\n    id: p.deterministic_id,\n    vector: embedding,\n    payload: {\n      persona_name: p.persona_name, segment: p.segment, niche: p.niche, city: p.city,\n      target_audience_type: p.target_audience_type, project_id: p.project_id,\n      niche_cluster: p.niche_cluster || '',\n      priority_score: p.priority_score, qc_score: p.qc_score,\n      ml_qc_score: p.ml_qc_score, qc_method: p.qc_method,\n      main_jtbd: p.main_jtbd,\n      problems_summary: p.problems_summary, top_queries: p.top_queries,\n      hunt_ladder_levels: p.hunt_ladder_levels, uses_ai_search: p.uses_ai_search,\n      status: p.status, prompt_version: p.prompt_version,\n      model_used: p.model_used, latency_ms: p.latency_ms,\n      attempt: p.attempt,\n      raw_content_length: p.raw_content_length,\n      updated_at: new Date().toISOString()\n    }\n  }]\n};\nreturn [{ json: { qdrant_payload: payload }}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "b6dbb973-8a06-43ad-a0a1-2ec3730ff656",
      "name": "Prepare Qdrant Upsert"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=http://qdrant:6333/collections/seo_personas/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "riVOt6HsFhmT6jeCg3z3dNMT0xeDRCVnB39FOjGWO8YG87rL"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.qdrant_payload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        0
      ],
      "id": "2e21cac0-4bad-4b7a-b28e-6b70ce2adc8c",
      "name": "Upsert to Qdrant",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst p = $input.first().json;\n\n// Check for existing record (dedup for cron)\nconst row = {\n  project_id: p.project_id, persona_name: p.persona_name,\n  segment: p.segment, niche: p.niche, city: p.city,\n  niche_cluster: p.niche_cluster || '',\n  priority_engines: p.priority_engines || 'both',\n  priority_score: p.priority_score, qc_score: p.qc_score,\n  ml_qc_score: p.ml_qc_score, qc_method: p.qc_method || 'rule-based',\n  status: p.status, main_jtbd: (p.main_jtbd || '').substring(0, 500),\n  total_queries: p.total_queries,\n  hunt_ladder_levels: p.hunt_ladder_levels,\n  rag_sources_used: p.rag_sources_used, rag_quality: p.rag_quality,\n  groq_tokens: p.groq_tokens, model_used: p.model_used,\n  latency_ms: p.latency_ms,\n  uses_ai_search: p.uses_ai_search, has_commercial: p.has_commercial,\n  prompt_version: p.prompt_version,\n  raw_content_length: p.raw_content_length,\n  attempt: p.attempt || 1,\n  engine_tagged: p.engine_tagged || 0,\n  engine_total: p.engine_total || 0,\n  issues: p.issues ? JSON.stringify(p.issues) : null,\n  persona_json: JSON.stringify(p.persona),\n  dedup_key: p.deterministic_id,\n  version: 'v4.0_pro',\n  created_at: new Date().toISOString()\n};\nreturn [{ json: { row }}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        624
      ],
      "id": "abcc9358-cb70-443a-bc75-a00c191afb30",
      "name": "Prepare NocoDB Row"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://nocodb:8080/api/v1/db/data/noco/ppxzhw4b32456e0/mqfqintbr2h9sf5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImxhbWlhc2VhNTBAeWFob28uY29tIiwiZGlzcGxheV9uYW1lIjpudWxsLCJhdmF0YXIiOm51bGwsInVzZXJfbmFtZSI6bnVsbCwiaWQiOiJ1c3dheDM1bHl2ZnYwd3MwIiwicm9sZXMiOnsib3JnLWxldmVsLWNyZWF0b3IiOnRydWUsInN1cGVyIjp0cnVlfSwidG9rZW5fdmVyc2lvbiI6ImZlOTAyMWMyNTIxNmQ0ZWQwNzRlZDY3YjA1Yjk3MzM3Y2JiNDU4ZDRjMGI4ZWMxOGIzMTU5MmU4ZDQ5MDhkZGE1Mjc3Mzc3NzNmNTQwODdiIiwiaWF0IjoxNzc1MTEyNDg5LCJleHAiOjE3NzUxNDg0ODl9.0-uzeh-HYcOWuAKZu3t4SIOg_S7EKQOUXn7arXMw5mI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.row) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        624
      ],
      "id": "8d9bd88b-037f-4c9e-b03f-acf11b45b099",
      "name": "Save to NocoDB",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst p = $input.first().json;\nreturn [{ json: {\n  workflow: 'NN_00_v4.0_PRO',\n  project_id: p.project_id,\n  qc_score: p.qc_score,\n  ml_qc_score: p.ml_qc_score,\n  rule_qc_score: p.rule_qc_score,\n  qc_method: p.qc_method,\n  groq_tokens: p.groq_tokens,\n  latency_ms: p.latency_ms,\n  rag_sources: p.rag_sources_used,\n  rag_quality: p.rag_quality,\n  status: p.status,\n  model: p.model_used,\n  prompt_version: p.prompt_version,\n  hunt_levels: p.hunt_ladder_levels,\n  total_queries: p.total_queries,\n  attempt: p.attempt,\n  engine_tagged_pct: p.engine_total > 0 ? Math.round(p.engine_tagged / p.engine_total * 100) : 0,\n  timestamp: new Date().toISOString()\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1008
      ],
      "id": "e6bfe226-09a4-4f58-a6c0-c988d967b26b",
      "name": "Prepare Metrics"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GRAFANA_PUSH_URL || 'http://grafana:3000/api/push/seo_workflow_metrics' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 5000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        1008
      ],
      "id": "e05e5ddc-4ed8-408e-ab44-e04874381f5e",
      "name": "Push Grafana Metrics",
      "credentials": {
        "httpHeaderAuth": {
          "id": "makJxw2eoKhfdLZ0",
          "name": "Yandex Wordstat"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst p = $input.first().json;\nconst logUpdate = {\n  status: 'completed',\n  response_summary: `${p.persona_name} | QC: ${p.qc_score} (${p.qc_method}) | ${p.status} | att:${p.attempt}`,\n  total_tokens: p.groq_tokens,\n  model_used: p.model_used,\n  latency_ms: p.latency_ms,\n  qc_score: p.qc_score,\n  ml_qc_score: p.ml_qc_score,\n  attempt: p.attempt,\n  updated_at: new Date().toISOString()\n};\nreturn [{ json: { log_update: logUpdate, log_id: p.log_id }}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        1200
      ],
      "id": "0256e59b-495b-445a-b1fb-ce759be17568",
      "name": "Prepare LLM Log (Post)"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.NOCODB_BASE_URL }}/api/v1/db/data/noco/{{ $env.NOCODB_ORG_ID }}/llm_logs/{{ $json.log_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImxhbWlhc2VhNTBAeWFob28uY29tIiwiZGlzcGxheV9uYW1lIjpudWxsLCJhdmF0YXIiOm51bGwsInVzZXJfbmFtZSI6bnVsbCwiaWQiOiJ1c3dheDM1bHl2ZnYwd3MwIiwicm9sZXMiOnsib3JnLWxldmVsLWNyZWF0b3IiOnRydWUsInN1cGVyIjp0cnVlfSwidG9rZW5fdmVyc2lvbiI6ImZlOTAyMWMyNTIxNmQ0ZWQwNzRlZDY3YjA1Yjk3MzM3Y2JiNDU4ZDRjMGI4ZWMxOGIzMTU5MmU4ZDQ5MDhkZGE1Mjc3Mzc3NzNmNTQwODdiIiwiaWF0IjoxNzc1MTEyNDg5LCJleHAiOjE3NzUxNDg0ODl9.0-uzeh-HYcOWuAKZu3t4SIOg_S7EKQOUXn7arXMw5mI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.log_update) }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        1200
      ],
      "id": "6acbe37f-892b-4136-89e1-4eb3848691cd",
      "name": "Update LLM Log",
      "continueOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        720,
        624
      ],
      "id": "9f90276f-2c48-4da6-bae8-97f4dd430850",
      "name": "Wait All Saves"
    },
    {
      "parameters": {
        "jsCode": "\nconst p = $('Merge ML Score').first().json;\nconst ragInfo = $('Format RAG Context').first().json;\n\nlet qdrantOk = false, nocodbOk = false;\ntry { const q = $('Upsert to Qdrant').first().json; qdrantOk = q.result?.status === 'acknowledged' || q.status === 'ok'; } catch(e) {}\ntry { const n = $('Save to NocoDB').first().json; nocodbOk = n.Id != null || n.id != null; } catch(e) {}\n\nreturn [{ json: {\n  status: 'ok',\n  version: 'v4.0_pro',\n  persona: p.persona,\n  meta: {\n    persona_name: p.persona_name,\n    segment: p.segment,\n    project_id: p.project_id,\n    niche_cluster: p.niche_cluster,\n    priority_engines: p.priority_engines,\n    qc_score: p.qc_score,\n    ml_qc_score: p.ml_qc_score,\n    qc_method: p.qc_method,\n    validation_status: p.status,\n    issues: p.issues,\n    priority_score: p.priority_score,\n    prompt_version: p.prompt_version,\n    model_used: p.model_used,\n    groq_tokens: p.groq_tokens,\n    latency_ms: p.latency_ms,\n    raw_content_length: p.raw_content_length,\n    total_queries: p.total_queries,\n    hunt_levels: p.hunt_ladder_levels,\n    attempt: p.attempt,\n    engine_tagging: { tagged: p.engine_tagged, total: p.engine_total },\n    rag: {\n      sources: ragInfo.sources_count,\n      top_score: ragInfo.top_score,\n      quality: ragInfo.rag_quality,\n      has_competitor_data: ragInfo.has_competitor_data,\n      has_intent_data: ragInfo.has_intent_data\n    },\n    storage: {\n      qdrant_saved: qdrantOk,\n      nocodb_saved: nocodbOk\n    }\n  },\n  timestamp: new Date().toISOString()\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        624
      ],
      "id": "4eae7892-3a3b-4cae-a7d7-406fcec96774",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-QC-Score",
                "value": "={{ $json.meta.qc_score }}"
              },
              {
                "name": "X-Workflow-Version",
                "value": "v3.0"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        624
      ],
      "id": "460b6e2b-d4b9-4f5e-b2c2-664344019509",
      "name": "Return Persona"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({}, JSON.parse(JSON.stringify($(\"Prepare LLM Call\").first().json.groq_payload)), { model: $(\"Prepare LLM Call\").first().json.fallback_model })) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1088,
        832
      ],
      "id": "c11bae62-0c21-4e26-955b-f7966100d48a",
      "name": "Fallback LLM Call",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "makJxw2eoKhfdLZ0",
          "name": "Yandex Wordstat"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://ml-service:8000/predict/content_quality",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ml_features) }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "ML Predict Quality",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        832
      ],
      "id": "6ed602f4-1c97-4801-8ea0-8a02e6fbe9dc",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst extracted = $('Extract & Validate JSON').first().json;\nlet ml_qc = null, ml_available = false;\n\ntry {\n  const mlResult = $('ML Predict Quality').first().json;\n  if (mlResult && mlResult.prediction !== undefined) {\n    ml_qc = Math.round(mlResult.prediction * 100);\n    ml_available = true;\n  }\n} catch(e) {}\n\n// Merge: ML available → weighted average, otherwise rule-based only\nlet final_qc;\nif (ml_available && ml_qc !== null) {\n  final_qc = Math.round(extracted.rule_qc_score * 0.4 + ml_qc * 0.6);\n} else {\n  final_qc = extracted.rule_qc_score;\n}\n\nfinal_qc = Math.max(0, Math.min(100, final_qc));\nconst final_status = final_qc >= 80 ? 'ready' : (final_qc >= 60 ? 'review' : 'poor');\n\nreturn [{ json: {\n  ...extracted,\n  qc_score: final_qc,\n  ml_qc_score: ml_qc,\n  ml_available,\n  status: final_status,\n  qc_method: ml_available ? 'ml+rule hybrid' : 'rule-based only'\n}}];\n"
      },
      "name": "Merge ML Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        624
      ],
      "id": "30c4b30c-8637-43ca-a9db-7b167645f39a"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst attempt = data.attempt || 1;\nconst qc = data.qc_score;\n\nif (qc < 60 && attempt < 3) {\n  // RETRY: rotate A/B strategy and try again\n  return [{\n    json: {\n      ...data,\n      retry: true,\n      next_attempt: attempt + 1,\n      retry_reason: `QC ${qc}/100 on attempt ${attempt}, trying strategy rotation`\n    }\n  }];\n} else {\n  // PROCEED: either good enough or max retries reached\n  const is_best = !data.best_persona || qc > (data.best_qc || 0);\n  return [{\n    json: {\n      ...data,\n      retry: false,\n      is_final: true,\n      final_note: qc >= 60 \n        ? `QC ${qc}/100 passed on attempt ${attempt}` \n        : `QC ${qc}/100 after ${attempt} attempts (max retries reached)`\n    }\n  }];\n}\n"
      },
      "name": "QC Retry Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        624
      ],
      "id": "9b75bc84-e494-432c-8043-ebc18ce7e01d"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst inp = $('Validate & Normalize Input').first().json;\n\n// Update attempt counter and pass back to Build Prompt\nreturn [{ json: {\n  ...inp,\n  attempt: data.next_attempt,\n  best_qc: Math.max(data.best_qc || 0, data.qc_score),\n  best_persona: (data.qc_score > (data.best_qc || 0)) ? data.persona : data.best_persona,\n  retry_reason: data.retry_reason\n}}];\n"
      },
      "name": "Prepare Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        416
      ],
      "id": "b332fb31-5e9f-4141-ae7d-650fa30c5b44"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "retry-check",
              "leftValue": "={{ $json.retry }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        },
        "options": {}
      },
      "name": "Should Retry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        624
      ],
      "id": "6a73e4d2-2ee9-498b-ab5b-d35384e326af"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://qdrant:6333/collections/seo_personas/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "riVOt6HsFhmT6jeCg3z3dNMT0xeDRCVnB39FOjGWO8YG87rL"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"vector\": $json.embedding, \"limit\": 5, \"score_threshold\": 0.6}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2880,
        416
      ],
      "id": "db16d76b-4986-40ff-b155-96cb5d72bbb1",
      "name": "Search seo_personas",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "alwaysOutputData": true,
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Weekly Update": {
      "main": [
        [
          {
            "node": "Fetch Active Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Projects": {
      "main": [
        [
          {
            "node": "Split Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Projects": {
      "main": [
        [
          {
            "node": "Validate & Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize Input": {
      "main": [
        [
          {
            "node": "Get Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Query Embedding": {
      "main": [
        [
          {
            "node": "Search competitor_audiences",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search search_intents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search seo_personas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search competitor_audiences": {
      "main": [
        [
          {
            "node": "Wait All RAG Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait All RAG Results": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context": {
      "main": [
        [
          {
            "node": "Build Prompt v4.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt v4.0": {
      "main": [
        [
          {
            "node": "Prepare LLM Log (Pre)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Log (Pre)": {
      "main": [
        [
          {
            "node": "Save LLM Log (Pre)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save LLM Log (Pre)": {
      "main": [
        [
          {
            "node": "Prepare LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Call": {
      "main": [
        [
          {
            "node": "Groq LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM Call": {
      "main": [
        [
          {
            "node": "Extract & Validate JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback LLM Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback LLM Call": {
      "main": [
        [
          {
            "node": "Extract & Validate JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate JSON": {
      "main": [
        [
          {
            "node": "ML Predict Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML Predict Quality": {
      "main": [
        [
          {
            "node": "Merge ML Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ML Score": {
      "main": [
        [
          {
            "node": "QC Retry Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QC Retry Router": {
      "main": [
        [
          {
            "node": "Should Retry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Retry?": {
      "main": [
        [
          {
            "node": "Prepare Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QC Score Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retry": {
      "main": [
        [
          {
            "node": "Build Prompt v4.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QC Score Router": {
      "main": [
        [
          {
            "node": "Prepare Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Persona Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare NocoDB Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare LLM Log (Post)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alert": {
      "main": [
        [
          {
            "node": "Send Email Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Alert": {
      "main": [
        [
          {
            "node": "Get Persona Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare NocoDB Row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare LLM Log (Post)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Persona Embedding": {
      "main": [
        [
          {
            "node": "Prepare Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Upsert to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare NocoDB Row": {
      "main": [
        [
          {
            "node": "Save to NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metrics": {
      "main": [
        [
          {
            "node": "Push Grafana Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Log (Post)": {
      "main": [
        [
          {
            "node": "Update LLM Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Qdrant": {
      "main": [
        [
          {
            "node": "Wait All Saves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to NocoDB": {
      "main": [
        [
          {
            "node": "Wait All Saves",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait All Saves": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search search_intents": {
      "main": [
        []
      ]
    },
    "Search seo_personas": {
      "main": [
        [
          {
            "node": "Wait All RAG Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ffddd972-5d9d-45fe-880f-4fd347942e6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e400d94cd35057382ffd98f35f5f609f9bd3f2676425b3672d90c1a1c4917652"
  },
  "id": "yEKVTCFigtdsgcss",
  "tags": [
    {
      "updatedAt": "2026-03-26T08:20:35.632Z",
      "createdAt": "2026-03-26T08:20:35.632Z",
      "id": "kdu2vN2me2Ec78M6",
      "name": "step_00"
    },
    {
      "updatedAt": "2026-03-30T15:08:54.557Z",
      "createdAt": "2026-03-30T15:08:54.557Z",
      "id": "kmx2W4SUpBuXd6qu",
      "name": "SEO_v3.0"
    },
    {
      "updatedAt": "2026-03-30T15:08:54.560Z",
      "createdAt": "2026-03-30T15:08:54.560Z",
      "id": "UARzQVpXP6CQ8AkD",
      "name": "Production"
    }
  ]
}