NN_09_Text_Relevance_v4_0_PRO.json
{
  "name": "NN_09_Текстовая_Релевантность_v4.0_PRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-text-relevance-v4",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-Workflow-Version",
                "value": "4.0"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "id": "ad37f5ba-1471-4442-96b0-078afcbed7eb",
      "name": "Webhook",
      "webhookId": "c5bc4e5d-5cc3-4ba0-82cf-18d850852674"
    },
    {
      "parameters": {
        "jsCode": "\n// ═══ CENTRALIZED CONFIGURATION v4.0 ═══\n// All configurable values in one place. Change here, applies everywhere.\n\nconst CONFIG = {\n  // NocoDB\n  nocodb: {\n    baseUrl: $env.NOCODB_BASE_URL || 'http://nocodb:8080',\n    apiPrefix: '/api/v1/db/data/noco',\n    orgId: $env.NOCODB_ORG_ID || 'ppxzhw4b32456e0',\n    tables: {\n      structures: $env.NOCODB_TABLE_STRUCTURES || 'mvd9w6n0m6uaon1',\n      briefs: $env.NOCODB_TABLE_BRIEFS || 'mwd3au8e0j3vrxo',\n      results: $env.NOCODB_TABLE_RESULTS || 'mvuttgzgqpknpyj',\n      projects: $env.NOCODB_TABLE_PROJECTS || 'mprojects001'\n    },\n    pageSize: 200,\n    maxRows: 5000,\n    authEmail: $env.NOCODB_EMAIL,\n    authPassword: $env.NOCODB_PASSWORD\n  },\n  // LLM\n  llm: {\n    provider: 'groq',\n    model: $env.LLM_MODEL || 'llama-3.3-70b-versatile',\n    maxTokens: 8192,\n    temperature: 0.15,\n    apiKey: $env.GROQ_API_KEY,\n    baseUrl: 'https://api.groq.com/openai/v1/chat/completions',\n    retryAttempts: 3,\n    retryDelayMs: 3000,\n    batchDelayMs: 2500,\n    tokenBudget: parseInt($env.LLM_TOKEN_BUDGET) || 500000\n  },\n  // Crawler\n  crawler: {\n    timeoutMs: 20000,\n    maxRedirects: 5,\n    maxTextLength: 6000,\n    userAgent: 'SEOBot/4.0 (+https://example.com/bot)',\n    respectRobotsTxt: true,\n    cacheTtlHours: 24\n  },\n  // ML Service\n  ml: {\n    url: $env.ML_SERVICE_URL || 'http://ml-service:8000',\n    timeoutMs: 15000,\n    enabled: ($env.ML_SERVICE_ENABLED || 'false') === 'true'\n  },\n  // Analysis\n  analysis: {\n    batchSize: { min: 1, max: 10, default: 3 },\n    version: 'v4.0_pro',\n    keywordDensity: {\n      commercial: { min: 1.5, max: 3.0 },\n      informational: { min: 1.0, max: 2.0 }\n    },\n    scoring: {\n      excellent: { min: 9 },\n      good: { min: 7 },\n      average: { min: 5 },\n      poor: { min: 1 }\n    }\n  },\n  // Alerts\n  alerts: {\n    webhookUrl: $env.ALERT_WEBHOOK_URL || '',\n    provider: $env.ALERT_PROVIDER || 'telegram',\n    minScoreThreshold: 6,\n    enabled: !!$env.ALERT_WEBHOOK_URL\n  }\n};\n\nreturn [{ json: { config: CONFIG } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "83d6a5c4-11d0-4bea-a20b-22a2d376e994",
      "name": "Init Config"
    },
    {
      "parameters": {
        "jsCode": "\nconst headers = $input.first().json.headers || {};\nconst apiKey = headers['x-api-key'] || headers['X-Api-Key'] || '';\nconst expectedKey = $env.WORKFLOW_API_KEY || '';\n\nif (expectedKey && apiKey !== expectedKey) {\n  const err = new Error('HTTP 401: Invalid or missing API key');\n  err.httpCode = 401;\n  throw err;\n}\n\n// Pass through with request metadata\nconst item = $input.first().json;\nreturn [{ json: {\n  ...item,\n  _auth: { authenticated: !!expectedKey, ip: headers['x-forwarded-for'] || 'unknown' }\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        304
      ],
      "id": "1023f62f-828a-4d9b-8fc2-1de0c5d75670",
      "name": "Auth Check"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body || $input.first().json;\nconst config = $('Init Config').first().json.config;\nconst { niche, city, project_id, batch_size, domain, crawl_pages, force_recrawl } = body;\n\n// ── Strict validation ──\nconst errors = [];\nif (!niche || typeof niche !== 'string' || niche.trim().length < 2)\n  errors.push('niche: обязательно, строка, мин. 2 символа');\nif (!city || typeof city !== 'string' || city.trim().length < 2)\n  errors.push('city: обязательно, строка');\nif (!project_id || typeof project_id !== 'string' || !/^[a-zA-Z0-9_-]+$/.test(project_id))\n  errors.push('project_id: обязательно, только [a-zA-Z0-9_-]');\n\n// Domain SSRF protection\nlet safeDomain = (domain || '').trim();\nif (safeDomain) {\n  try {\n    const url = new URL(safeDomain.startsWith('http') ? safeDomain : 'https://' + safeDomain);\n    const forbidden = ['localhost', '127.0.0.1', '0.0.0.0', '::1', 'metadata.google', '169.254.'];\n    if (forbidden.some(f => url.hostname.includes(f)))\n      errors.push('domain: запрещённый адрес');\n    if (!['http:', 'https:'].includes(url.protocol))\n      errors.push('domain: только http/https');\n    safeDomain = url.origin;\n  } catch(e) { errors.push('domain: невалидный URL'); }\n}\n\nif (errors.length > 0) {\n  throw new Error('Validation errors:\\n• ' + errors.join('\\n• '));\n}\n\nconst bs = config.analysis.batchSize;\nconst safeBatch = Math.min(Math.max(parseInt(batch_size) || bs.default, bs.min), bs.max);\n\nreturn [{ json: {\n  niche: niche.trim(),\n  city: city.trim(),\n  project_id: project_id.trim(),\n  domain: safeDomain,\n  batch_size: safeBatch,\n  crawl_pages: crawl_pages !== false,\n  force_recrawl: !!force_recrawl,\n  is_cron_trigger: false,\n  workflow_version: config.analysis.version,\n  started_at: new Date().toISOString(),\n  _config: config\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        304
      ],
      "id": "b915bbea-0665-49d9-b98e-564653fb4f05",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -200
      ],
      "id": "ff5b7cdc-896c-4767-98da-83d58578038d",
      "name": "Cron Monthly Audit"
    },
    {
      "parameters": {
        "jsCode": "\nconst config = $('Init Config').first().json.config;\n\n// Fetch active projects from NocoDB instead of ENV\nconst authResp = await fetch(config.nocodb.baseUrl + '/api/v1/auth/user/signin', {\n  method: 'POST',\n  headers: { 'Content-Type': 'application/json' },\n  body: JSON.stringify({ email: config.nocodb.authEmail, password: config.nocodb.authPassword })\n});\nconst authData = await authResp.json();\nif (!authData.token) { console.log('[Cron] NocoDB auth failed'); return []; }\n\nconst tableUrl = `${config.nocodb.baseUrl}${config.nocodb.apiPrefix}/${config.nocodb.orgId}/${config.nocodb.tables.projects}`;\nconst resp = await fetch(tableUrl + '?where=(is_active,eq,true)&limit=100', {\n  headers: { 'xc-auth': authData.token }\n});\nconst data = await resp.json();\nconst projects = data.list || [];\n\nif (projects.length === 0) {\n  console.log('[Cron] No active projects found');\n  return [];\n}\n\nreturn projects.map(p => ({ json: {\n  niche: p.niche,\n  city: p.city,\n  project_id: p.project_id,\n  domain: p.domain || '',\n  batch_size: config.analysis.batchSize.default,\n  crawl_pages: true,\n  force_recrawl: false,\n  is_cron_trigger: true,\n  workflow_version: config.analysis.version,\n  started_at: new Date().toISOString(),\n  _config: config\n}}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        -200
      ],
      "id": "94af757d-ba97-439b-b8c3-bf241efb2a2d",
      "name": "Fetch Active Projects"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Init Config').first().json.config.nocodb.baseUrl }}/api/v1/auth/user/signin",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $env.NOCODB_EMAIL }}\",\n  \"password\": \"{{ $env.NOCODB_PASSWORD }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        304
      ],
      "id": "1d534b9f-1098-48b4-98af-4edf644f825d",
      "name": "NocoDB Auth"
    },
    {
      "parameters": {
        "jsCode": "\nconst validate = $('Validate Input').first().json;\nconst config = validate._config;\nconst token = $('NocoDB Auth').first().json.body?.token || $('NocoDB Auth').first().json.token;\n\nif (!token) throw new Error('NocoDB auth failed: no token received');\n\n// ── Reusable paginated fetch ──\nasync function fetchTable(tableId, projectId, extraFields) {\n  const baseUrl = `${config.nocodb.baseUrl}${config.nocodb.apiPrefix}/${config.nocodb.orgId}/${tableId}`;\n  let allRows = [], offset = 0;\n  const ps = config.nocodb.pageSize;\n  const maxRows = config.nocodb.maxRows;\n\n  while (offset < maxRows) {\n    const url = `${baseUrl}?where=(project_id,eq,${projectId})&limit=${ps}&offset=${offset}`;\n    const resp = await fetch(url, { headers: { 'xc-auth': token } });\n    if (!resp.ok) throw new Error(`NocoDB fetch error: ${resp.status} ${await resp.text()}`);\n    const data = await resp.json();\n    const rows = data.list || [];\n    allRows = allRows.concat(rows);\n    if (rows.length < ps) break;\n    offset += ps;\n  }\n  return allRows;\n}\n\nconst projectId = validate.project_id;\n\n// Parallel fetch all 3 tables\nconst [structures, briefs, existingRows] = await Promise.all([\n  fetchTable(config.nocodb.tables.structures, projectId),\n  fetchTable(config.nocodb.tables.briefs, projectId),\n  fetchTable(config.nocodb.tables.results, projectId)\n]);\n\nif (structures.length === 0) {\n  throw new Error('Нет структур для project_id: ' + projectId);\n}\n\n// Build lookup maps\nconst briefsMap = {};\nbriefs.forEach(b => { if (b.page_slug) briefsMap[b.page_slug] = b; });\n\nconst existingMap = {};\nexistingRows.forEach(r => { if (r.page_slug) existingMap[r.page_slug] = r; });\n\n// Deduplicate structures by slug\nconst seen = new Set();\nconst uniqueStructures = structures.filter(s => {\n  const slug = s.recommended_url || '';\n  if (!slug || seen.has(slug)) return false;\n  seen.add(slug);\n  return true;\n});\n\nconsole.log(`[v4.0] Fetched: ${uniqueStructures.length} structures (deduped from ${structures.length}), ${briefs.length} briefs, ${existingRows.length} existing results`);\n\nreturn [{ json: {\n  structures: uniqueStructures,\n  briefs_map: briefsMap,\n  existing_map: existingMap,\n  token: token,\n  counts: {\n    structures: uniqueStructures.length,\n    briefs: briefs.length,\n    existing: existingRows.length,\n    duplicates_removed: structures.length - uniqueStructures.length\n  }\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        304
      ],
      "id": "4f442c7d-a09c-4fc4-a72b-93257c8d8293",
      "name": "Fetch All Data"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst validate = $('Validate Input').first().json;\nconst structures = data.structures;\n\nif (!validate.crawl_pages || !validate.domain) {\n  return [{ json: { text_map: {}, crawled: 0, skipped: true, _passthrough: data } }];\n}\n\n// Validate and build URL list\nconst urls = [];\nconst skipped = [];\n\nfor (const p of structures) {\n  const slug = p.recommended_url || '';\n  if (!slug) { skipped.push({ slug: '(empty)', reason: 'no_slug' }); continue; }\n\n  let fullUrl;\n  try {\n    fullUrl = slug.startsWith('http') ? slug : validate.domain.replace(/\\/$/, '') + slug;\n    new URL(fullUrl); // validate URL format\n  } catch(e) {\n    skipped.push({ slug, reason: 'invalid_url' });\n    continue;\n  }\n\n  // Skip already analyzed pages if not force_recrawl\n  if (!validate.force_recrawl && data.existing_map[slug]\n      && data.existing_map[slug].updated_at) {\n    const lastUpdate = new Date(data.existing_map[slug].updated_at);\n    const hoursSince = (Date.now() - lastUpdate.getTime()) / 3600000;\n    if (hoursSince < (validate._config?.crawler?.cacheTtlHours || 24)) {\n      skipped.push({ slug, reason: 'cache_fresh', hours: Math.round(hoursSince) });\n      continue;\n    }\n  }\n\n  urls.push({ slug, url: fullUrl, page_type: p.page_type || 'commercial' });\n}\n\nif (skipped.length > 0) {\n  console.log(`[v4.0] Crawl: ${urls.length} to crawl, ${skipped.length} skipped`);\n}\n\nif (urls.length === 0) {\n  return [{ json: { text_map: {}, crawled: 0, skipped: true, skip_reason: 'all_cached_or_invalid', _passthrough: data } }];\n}\n\nreturn urls.map(u => ({ json: { ...u, _passthrough: data } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        304
      ],
      "id": "83a2c89d-235d-4112-a1c4-93690ed46e36",
      "name": "Prepare Crawl List"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          },
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1420,
        208
      ],
      "id": "e01f1d9b-a64f-4ddf-aecb-369c5c5ba48c",
      "name": "Crawl Page",
      "onError": "continueRegularOutput",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst config = $('Validate Input').first().json._config;\nconst maxLen = config?.crawler?.maxTextLength || 6000;\nconst textMap = {};\n\nfor (const item of items) {\n  const slug = item.json.slug || '';\n\n  // Handle crawl errors gracefully\n  const statusCode = item.json.statusCode || item.json.headers?.['status'] || 200;\n  const html = item.json.body || item.json.data || '';\n\n  if (!html || typeof html !== 'string' || html.length < 50) {\n    textMap[slug] = { text: '', word_count: 0, h_tags: [], meta: {},\n      error: statusCode >= 400 ? `http_${statusCode}` : 'empty_response' };\n    continue;\n  }\n\n  // ── Extract meta tags ──\n  const meta = {};\n  const titleMatch = html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\n  meta.title = titleMatch ? titleMatch[1].replace(/<[^>]+>/g, '').trim() : '';\n  const descMatch = html.match(/<meta\\s+name=[\"']description[\"']\\s+content=[\"']([\\s\\S]*?)[\"']/i);\n  meta.description = descMatch ? descMatch[1].trim() : '';\n  const robotsMatch = html.match(/<meta\\s+name=[\"']robots[\"']\\s+content=[\"']([\\s\\S]*?)[\"']/i);\n  meta.robots = robotsMatch ? robotsMatch[1].trim().toLowerCase() : '';\n  const canonicalMatch = html.match(/<link\\s+rel=[\"']canonical[\"']\\s+href=[\"']([\\s\\S]*?)[\"']/i);\n  meta.canonical = canonicalMatch ? canonicalMatch[1].trim() : '';\n\n  // Check noindex\n  if (meta.robots.includes('noindex')) {\n    textMap[slug] = { text: '', word_count: 0, h_tags: [], meta,\n      warning: 'page_has_noindex' };\n    continue;\n  }\n\n  // ── Strip non-content elements ──\n  let clean = html\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, '')\n    .replace(/<nav[\\s\\S]*?<\\/nav>/gi, '')\n    .replace(/<footer[\\s\\S]*?<\\/footer>/gi, '')\n    .replace(/<header[\\s\\S]*?<\\/header>/gi, '')\n    .replace(/<aside[\\s\\S]*?<\\/aside>/gi, '')\n    .replace(/<iframe[\\s\\S]*?<\\/iframe>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '');\n\n  // ── Extract H-tags ──\n  const hTags = [];\n  const hRegex = /<(h[1-6])[^>]*>([\\s\\S]*?)<\\/\\1>/gi;\n  let hMatch;\n  while ((hMatch = hRegex.exec(html)) !== null) {\n    const text = hMatch[2].replace(/<[^>]+>/g, '').trim();\n    if (text) hTags.push({ tag: hMatch[1].toLowerCase(), text });\n  }\n\n  // ── Extract alt texts ──\n  const altTexts = [];\n  const altRegex = /alt=[\"']([\\s\\S]*?)[\"']/gi;\n  let altMatch;\n  while ((altMatch = altRegex.exec(html)) !== null) {\n    if (altMatch[1].trim()) altTexts.push(altMatch[1].trim());\n  }\n\n  // ── Extract structured data (JSON-LD) ──\n  let hasJsonLd = false;\n  let jsonLdTypes = [];\n  const ldRegex = /<script\\s+type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi;\n  let ldMatch;\n  while ((ldMatch = ldRegex.exec(html)) !== null) {\n    hasJsonLd = true;\n    try {\n      const ld = JSON.parse(ldMatch[1]);\n      if (ld['@type']) jsonLdTypes.push(ld['@type']);\n      if (Array.isArray(ld['@graph'])) {\n        ld['@graph'].forEach(g => { if (g['@type']) jsonLdTypes.push(g['@type']); });\n      }\n    } catch(e) {}\n  }\n\n  // ── Clean text extraction ──\n  const text = clean\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"').replace(/&apos;/g, \"'\")\n    .replace(/&#\\d+;/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  // ── Compute text metrics ──\n  const words = text.split(/\\s+/).filter(w => w.length > 0);\n  const sentences = text.split(/[.!?]+/).filter(s => s.trim().length > 3);\n  const uniqueWords = [...new Set(words.map(w => w.toLowerCase()))];\n\n  // ── Extract first paragraph ──\n  const firstP = clean.match(/<p[^>]*>([\\s\\S]*?)<\\/p>/i);\n  const firstParagraph = firstP ? firstP[1].replace(/<[^>]+>/g, '').trim() : text.substring(0, 300);\n\n  // ── Internal links count ──\n  const internalLinks = (html.match(/<a\\s[^>]*href=[\"']\\/[^\"']*[\"']/gi) || []).length;\n  const externalLinks = (html.match(/<a\\s[^>]*href=[\"']https?:\\/\\/[^\"']*[\"']/gi) || []).length;\n\n  textMap[slug] = {\n    text: text.substring(0, maxLen),\n    first_paragraph: firstParagraph.substring(0, 500),\n    word_count: words.length,\n    char_count: text.length,\n    sentence_count: sentences.length,\n    paragraph_count: (clean.match(/<p[\\s>]/gi) || []).length,\n    avg_sentence_len: sentences.length > 0 ? Math.round(words.length / sentences.length * 10) / 10 : 0,\n    avg_word_len: words.length > 0 ? Math.round(words.reduce((s, w) => s + w.length, 0) / words.length * 10) / 10 : 0,\n    unique_words_count: uniqueWords.length,\n    unique_ratio: words.length > 0 ? Math.round(uniqueWords.length / words.length * 100) / 100 : 0,\n    h_tags: hTags,\n    alt_texts: altTexts,\n    meta: meta,\n    has_json_ld: hasJsonLd,\n    json_ld_types: jsonLdTypes,\n    internal_links: internalLinks,\n    external_links: externalLinks\n  };\n}\n\n// Get passthrough data from first item\nconst passthrough = items[0]?.json?._passthrough || {};\n\nreturn [{ json: {\n  text_map: textMap,\n  crawled: Object.keys(textMap).length,\n  skipped: false,\n  structures: passthrough.structures || [],\n  briefs_map: passthrough.briefs_map || {},\n  existing_map: passthrough.existing_map || {},\n  token: passthrough.token || ''\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        304
      ],
      "id": "b6a9fd02-8c68-4987-812a-819b6d4497be",
      "name": "Extract & Analyze Text"
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst validate = $('Validate Input').first().json;\nconst config = validate._config;\nconst textMap = data.text_map || {};\nconst structures = data.structures || [];\nconst briefsMap = data.briefs_map || {};\n\nconst BATCH_SIZE = validate.batch_size || config.analysis.batchSize.default;\nconst batches = [];\n\nfor (let i = 0; i < structures.length; i += BATCH_SIZE) {\n  const batch = structures.slice(i, i + BATCH_SIZE);\n  const pagesData = batch.map((p, j) => {\n    const slug = p.recommended_url || '';\n    const brief = briefsMap[slug] || {};\n    const pageText = textMap[slug] || {};\n    const existing = data.existing_map?.[slug] || null;\n    const mainKeyword = (p.main_keyword || '').toLowerCase().trim();\n    const text = (pageText.text || '').toLowerCase();\n\n    // ── PROGRAMMATIC keyword metrics (NOT LLM!) ──\n    let keywordMetrics = {\n      density_exact: 0, count_exact: 0,\n      density_morphological: 0, count_morphological: 0,\n      in_title: false, in_h1: false, in_first_paragraph: false,\n      in_h2_h3: false, in_body: false, in_alt: false\n    };\n\n    if (mainKeyword && mainKeyword.length > 2 && text) {\n      // Exact match\n      const exactRegex = new RegExp(mainKeyword.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&'), 'gi');\n      const exactMatches = text.match(exactRegex) || [];\n      keywordMetrics.count_exact = exactMatches.length;\n      const wordCount = pageText.word_count || 1;\n      const keywordWordCount = mainKeyword.split(/\\s+/).length;\n      keywordMetrics.density_exact = Math.round(exactMatches.length * keywordWordCount / wordCount * 100 * 100) / 100;\n\n      // Morphological (stem-based: first 4+ chars of each word)\n      const keyWords = mainKeyword.split(/\\s+/).filter(w => w.length > 3);\n      if (keyWords.length > 0) {\n        const stems = keyWords.map(w => w.substring(0, Math.min(w.length - 1, 5)));\n        let morphCount = 0;\n        const textWords = text.split(/\\s+/);\n        for (const tw of textWords) {\n          if (stems.some(s => tw.startsWith(s))) morphCount++;\n        }\n        keywordMetrics.count_morphological = morphCount;\n        keywordMetrics.density_morphological = Math.round(morphCount / wordCount * 100 * 100) / 100;\n      }\n\n      // Zone checks\n      const meta = pageText.meta || {};\n      keywordMetrics.in_title = (meta.title || '').toLowerCase().includes(mainKeyword);\n      keywordMetrics.in_h1 = (pageText.h_tags || []).some(h => h.tag === 'h1' && h.text.toLowerCase().includes(mainKeyword));\n      keywordMetrics.in_first_paragraph = (pageText.first_paragraph || '').toLowerCase().includes(mainKeyword);\n      keywordMetrics.in_h2_h3 = (pageText.h_tags || []).some(h => ['h2','h3'].includes(h.tag) && h.text.toLowerCase().includes(mainKeyword));\n      keywordMetrics.in_body = keywordMetrics.count_exact > 0;\n      keywordMetrics.in_alt = (pageText.alt_texts || []).some(a => a.toLowerCase().includes(mainKeyword));\n    }\n\n    // ── Parse blocks/sections ──\n    let blocks = [];\n    try { blocks = typeof p.blocks === 'string' ? JSON.parse(p.blocks) : (p.blocks || []); } catch(e) {}\n    let sections = [];\n    try { sections = typeof brief.sections_json === 'string' ? JSON.parse(brief.sections_json) : (brief.sections_json || []); } catch(e) {}\n\n    // ── Readability heuristic ──\n    let readabilityScore = 7;\n    const avgSentLen = pageText.avg_sentence_len || 0;\n    if (avgSentLen > 30) readabilityScore -= 2;\n    else if (avgSentLen > 25) readabilityScore -= 1;\n    if (avgSentLen < 8 && avgSentLen > 0) readabilityScore -= 1;\n    if ((pageText.unique_ratio || 0) < 0.3) readabilityScore -= 2;\n    if ((pageText.unique_ratio || 0) > 0.7) readabilityScore += 1;\n    if ((pageText.paragraph_count || 0) < 3 && pageText.word_count > 200) readabilityScore -= 1;\n    readabilityScore = Math.min(Math.max(readabilityScore, 1), 10);\n\n    // ── Word count deviation ──\n    const targetWC = brief.word_count_target || p.total_word_count || 0;\n    const actualWC = pageText.word_count || 0;\n    const wcDeviation = targetWC > 0 ? Math.round((actualWC - targetWC) / targetWC * 100 * 10) / 10 : null;\n\n    return {\n      index: i + j + 1,\n      page_type: p.page_type || 'commercial',\n      cluster_name: p.cluster_name || '',\n      slug: slug,\n      main_keyword: p.main_keyword || '',\n      h1: p.h1_template || '',\n      title: p.title_template || '',\n      description: p.description_template || '',\n      target_word_count: targetWC,\n      actual_word_count: actualWC,\n      word_count_deviation_pct: wcDeviation,\n      keyword_metrics: keywordMetrics,\n      readability_heuristic: readabilityScore,\n      blocks: blocks.map(b => ({\n        name: b.block_name, words: b.word_count || 0,\n        keywords: b.keywords_to_include || []\n      })),\n      sections: sections.map(s => s.section_name || s),\n      text_stats: {\n        sentence_count: pageText.sentence_count || 0,\n        paragraph_count: pageText.paragraph_count || 0,\n        avg_sentence_len: avgSentLen,\n        avg_word_len: pageText.avg_word_len || 0,\n        unique_ratio: pageText.unique_ratio || 0,\n        h_tags: pageText.h_tags || [],\n        alt_texts_count: (pageText.alt_texts || []).length,\n        internal_links: pageText.internal_links || 0,\n        external_links: pageText.external_links || 0,\n        has_json_ld: pageText.has_json_ld || false,\n        json_ld_types: pageText.json_ld_types || []\n      },\n      page_text_preview: (pageText.text || '').substring(0, 3000),\n      meta: pageText.meta || {},\n      previous_score: existing ? existing.relevance_score : null,\n      previous_status: existing ? existing.status : null\n    };\n  });\n\n  batches.push({\n    batch_index: Math.floor(i / BATCH_SIZE) + 1,\n    total_batches: Math.ceil(structures.length / BATCH_SIZE),\n    pages: pagesData,\n    batch_size: pagesData.length,\n    niche: validate.niche,\n    city: validate.city,\n    project_id: validate.project_id,\n    total_pages: structures.length,\n    has_real_text: Object.keys(textMap).length > 0,\n    token: data.token\n  });\n}\n\nreturn batches.map(b => ({ json: b }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1900,
        304
      ],
      "id": "0f45505b-3268-4a28-99f5-9bf48889d437",
      "name": "Compute Metrics & Build Batches"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2140,
        304
      ],
      "id": "8717c0a0-2ad9-4afd-9bec-92ed7ab79f4c",
      "name": "Loop Batches"
    },
    {
      "parameters": {
        "jsCode": "\nconst batch = $input.first().json;\nconst config = $('Validate Input').first().json._config;\n\nconst systemPrompt = `Ты — Senior SEO-аналитик текстовой релевантности экспертного уровня (15+ лет опыта). Год: 2026.\n\n═══ РОЛЬ И КОНТЕКСТ ═══\nТы анализируешь текстовую релевантность страниц сайта. Тебе предоставлены:\n- ТОЧНЫЕ вычисленные метрики (keyword density, counts, zones) — НЕ пересчитывай их, используй как есть\n- Превью текста страницы для качественного анализа\n- Данные о структуре и брифе\n\n═══ ТВОЯ ЗАДАЧА ═══\nНа основе предоставленных метрик и текста выполни КАЧЕСТВЕННЫЙ анализ:\n\n1. **LSI/Тематическое покрытие** (lsi_score: 1-10):\n   - Наличие синонимов, связанных терминов, тематических n-грамм\n   - Покрытие семантического ядра ниши \"${batch.niche}\"\n   - Укажи КОНКРЕТНЫЕ недостающие термины в lsi_missing_terms\n\n2. **Переоптимизация** (overoptimization_risk: low/medium/high):\n   - Используй предоставленный keyword_density — если >3% для коммерческих или >2% для инфо → risk выше\n   - Неестественные конструкции, keyword stuffing в тексте\n   - Скрытый текст, чрезмерные повторы\n\n3. **AEO-готовность** (aeo_ready: true/false, aeo_details):\n   - Есть ли прямые ответы на вопросы (featured snippets format)\n   - FAQ-блоки, How-to структура, определения\n   - JSON-LD разметка\n\n4. **E-E-A-T сигналы** (eeat_score: 1-10):\n   - Experience: есть ли примеры из практики, кейсы\n   - Expertise: профессиональная терминология, глубина раскрытия\n   - Authoritativeness: ссылки на источники, данные, исследования\n   - Trust: контактная информация, гарантии, лицензии\n\n5. **Entity Salience** (entity_score: 1-10):\n   - Насколько чётко текст связан с главной сущностью (keyword)\n   - Связи с другими релевантными сущностями ниши\n   - Гео-привязка к городу \"${batch.city}\"\n\n6. **Content Gap** (content_gaps: [...]):\n   - Какие темы/вопросы НЕ раскрыты, но должны быть для ниши\n   - Сравнение с рекомендованными блоками/секциями\n\n7. **Итоговая оценка** (relevance_score: 1-10):\n   Формула: keyword_zones_coverage(20%) + lsi(20%) + eeat(15%) + entity(15%) + content_completeness(15%) + readability(15%)\n   Используй предоставленные метрики для keyword_zones и readability.\n\n═══ ШКАЛА ═══\n• 9-10 (excellent): все зоны покрыты, LSI превосходно, E-E-A-T сильный\n• 7-8 (good): мелкие пробелы, хорошая база\n• 5-6 (average): существенные пробелы, требует доработки\n• 3-4 (poor): критические проблемы с релевантностью\n• 1-2 (critical): страница нерелевантна запросу\n\n═══ SEVERITY ═══\n• critical: влияет на ранжирование, требует немедленного исправления\n• warning: заметное влияние, исправить в ближайшее время\n• info: рекомендация для улучшения\n\n═══ ФОРМАТ ОТВЕТА ═══\nВерни СТРОГО валидный JSON (без markdown, без комментариев):\n{\"relevance_results\":[{\n  \"page_slug\":\"/url/\",\n  \"page_type\":\"commercial\",\n  \"main_keyword\":\"ключ\",\n  \"lsi_score\":7,\n  \"lsi_missing_terms\":[\"термин1\",\"термин2\"],\n  \"overoptimization_risk\":\"low\",\n  \"overoptimization_details\":\"описание если есть\",\n  \"aeo_ready\":false,\n  \"aeo_details\":\"что добавить для AEO\",\n  \"eeat_score\":6,\n  \"eeat_details\":{\"experience\":5,\"expertise\":7,\"authority\":6,\"trust\":6},\n  \"entity_score\":7,\n  \"entity_details\":\"описание\",\n  \"content_gaps\":[\"тема1\",\"тема2\"],\n  \"relevance_score\":7,\n  \"issues\":[{\"type\":\"тип\",\"description\":\"описание\",\"severity\":\"warning\",\"zone\":\"зона\"}],\n  \"recommendations\":[{\"priority\":1,\"action\":\"описание\",\"impact\":\"high\",\"effort\":\"low\"}],\n  \"status\":\"good\",\n  \"analysis_summary\":\"краткое резюме 1-2 предложения\"\n}]}`;\n\nconst pagesText = batch.pages.map(p => {\n  let out = `${p.index}. [${p.page_type.toUpperCase()}] ${p.cluster_name}\n   URL: ${p.slug}\n   Главный ключ: \"${p.main_keyword}\"\n   H1: \"${p.h1}\" | Title: \"${p.title}\"\n   Description: \"${p.description}\"`;\n\n  // Pre-computed metrics (LLM should NOT recalculate these)\n  const km = p.keyword_metrics || {};\n  out += `\\n   ── ВЫЧИСЛЕННЫЕ МЕТРИКИ (точные, не пересчитывай) ──\n   Keyword Density (exact): ${km.density_exact}% | Count: ${km.count_exact}\n   Keyword Density (morph): ${km.density_morphological}% | Count: ${km.count_morphological}\n   Keyword Zones: Title=${km.in_title} | H1=${km.in_h1} | 1st Para=${km.in_first_paragraph} | H2-H3=${km.in_h2_h3} | Body=${km.in_body} | Alt=${km.in_alt}`;\n\n  out += `\\n   Объём: ${p.actual_word_count} / ${p.target_word_count} слов (${p.word_count_deviation_pct !== null ? p.word_count_deviation_pct + '%' : 'N/A'})\n   Readability: ${p.readability_heuristic}/10 | Предложений: ${p.text_stats.sentence_count} | Ср.длина: ${p.text_stats.avg_sentence_len}\n   Уникальность слов: ${(p.text_stats.unique_ratio * 100).toFixed(0)}% | Links: int=${p.text_stats.internal_links} ext=${p.text_stats.external_links}\n   JSON-LD: ${p.text_stats.has_json_ld ? 'YES (' + p.text_stats.json_ld_types.join(', ') + ')' : 'NO'}`;\n\n  if (p.text_stats.h_tags.length > 0) {\n    out += '\\n   H-tags: ' + p.text_stats.h_tags.slice(0, 15).map(h => h.tag + ': \"' + h.text.substring(0, 60) + '\"').join(' | ');\n  }\n\n  if (p.blocks.length > 0) {\n    out += '\\n   Блоки: ' + p.blocks.map(b => `${b.name}(${b.words}w, keys: ${(b.keywords||[]).slice(0,3).join(',')})`).join('; ');\n  }\n\n  if (p.page_text_preview) {\n    // Sanitize text to prevent prompt injection\n    const safeText = p.page_text_preview\n      .replace(/\\b(system|ignore|forget|disregard|override|instruction|prompt)\\b/gi, '[$1]')\n      .substring(0, 2500);\n    out += '\\n   ── ТЕКСТ СТРАНИЦЫ (превью, для качественного анализа) ──\\n   ' + safeText;\n  }\n\n  if (p.previous_score !== null) {\n    out += `\\n   Предыдущий: score=${p.previous_score} status=${p.previous_status}`;\n  }\n\n  return out;\n}).join('\\n\\n');\n\nconst userPrompt = `Батч ${batch.batch_index}/${batch.total_batches} | НИША: ${batch.niche} | ГОРОД: ${batch.city}\nРеальный текст: ${batch.has_real_text ? 'ДА' : 'НЕТ (только метаданные)'}\n\nСТРАНИЦЫ:\n${pagesText}\n\nВАЖНО:\n- Keyword density и counts УЖЕ вычислены точно — используй их как есть\n- Сосредоточься на LSI, E-E-A-T, AEO, content gaps, entity salience\n- Ответь СТРОГО JSON без markdown`;\n\nreturn [{ json: {\n  llm_payload: {\n    model: config.llm.model,\n    max_tokens: config.llm.maxTokens,\n    temperature: config.llm.temperature,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ]\n  },\n  batch_index: batch.batch_index,\n  total_batches: batch.total_batches,\n  batch_size: batch.batch_size,\n  project_id: batch.project_id,\n  niche: batch.niche,\n  city: batch.city,\n  pages: batch.pages,\n  token: batch.token\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        304
      ],
      "id": "aeade1cc-6b89-4bde-9062-35b0ebb246f1",
      "name": "Build LLM Prompt"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\nconst config = $('Validate Input').first().json._config;\nconst payload = input.llm_payload;\n\nconst MAX_RETRIES = config.llm.retryAttempts;\nconst RETRY_DELAY = config.llm.retryDelayMs;\nlet lastError = null;\nlet response = null;\n\nfor (let attempt = 1; attempt <= MAX_RETRIES; attempt++) {\n  try {\n    const resp = await fetch(config.llm.baseUrl, {\n      method: 'POST',\n      headers: {\n        'Authorization': 'Bearer ' + config.llm.apiKey,\n        'Content-Type': 'application/json'\n      },\n      body: JSON.stringify(payload),\n      signal: AbortSignal.timeout(90000)\n    });\n\n    if (resp.status === 429) {\n      // Rate limited — wait longer\n      const retryAfter = parseInt(resp.headers.get('retry-after') || '10') * 1000;\n      console.log(`[v4.0] Rate limited, attempt ${attempt}/${MAX_RETRIES}, waiting ${retryAfter}ms`);\n      await new Promise(r => setTimeout(r, retryAfter));\n      continue;\n    }\n\n    if (!resp.ok) {\n      const errText = await resp.text();\n      lastError = `HTTP ${resp.status}: ${errText.substring(0, 200)}`;\n      if (resp.status >= 500) {\n        console.log(`[v4.0] Server error ${resp.status}, attempt ${attempt}/${MAX_RETRIES}`);\n        await new Promise(r => setTimeout(r, RETRY_DELAY * attempt));\n        continue;\n      }\n      break; // Client errors (4xx except 429) — don't retry\n    }\n\n    response = await resp.json();\n    break; // Success\n  } catch(e) {\n    lastError = e.message;\n    console.log(`[v4.0] Request failed attempt ${attempt}/${MAX_RETRIES}: ${e.message}`);\n    if (attempt < MAX_RETRIES) {\n      await new Promise(r => setTimeout(r, RETRY_DELAY * attempt));\n    }\n  }\n}\n\nif (!response) {\n  return [{ json: {\n    ...input,\n    llm_response: null,\n    llm_error: lastError || 'All retries exhausted',\n    llm_tokens: 0\n  }}];\n}\n\nreturn [{ json: {\n  ...input,\n  llm_response: response,\n  llm_error: null,\n  llm_tokens: response?.usage?.total_tokens || 0\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        304
      ],
      "id": "a49119f7-2efb-4a78-9d09-f3bfb0929c9d",
      "name": "LLM Request with Retry"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\n\n// Handle LLM errors\nif (input.llm_error || !input.llm_response) {\n  console.error(`[v4.0] LLM error batch ${input.batch_index}: ${input.llm_error}`);\n  // Generate fallback results from computed metrics\n  const fallback = input.pages.map(p => ({\n    project_id: input.project_id,\n    niche: input.niche,\n    city: input.city,\n    page_slug: p.slug,\n    page_type: p.page_type,\n    main_keyword: p.main_keyword,\n    keyword_density_exact: p.keyword_metrics?.density_exact || 0,\n    keyword_density_morphological: p.keyword_metrics?.density_morphological || 0,\n    keyword_count_exact: p.keyword_metrics?.count_exact || 0,\n    keyword_count_morphological: p.keyword_metrics?.count_morphological || 0,\n    word_count_actual: p.actual_word_count || 0,\n    word_count_target: p.target_word_count || 0,\n    word_count_deviation_pct: p.word_count_deviation_pct,\n    keyword_zones: JSON.stringify(p.keyword_metrics || {}),\n    lsi_score: 0,\n    eeat_score: 0,\n    entity_score: 0,\n    overoptimization_risk: 'unknown',\n    aeo_ready: false,\n    readability_score: p.readability_heuristic || 5,\n    relevance_score: 5, // neutral fallback\n    issues_json: JSON.stringify([{type:'llm_error', description: 'LLM analysis failed: ' + (input.llm_error || 'unknown'), severity:'warning'}]),\n    recommendations_json: '[]',\n    content_gaps_json: '[]',\n    status: 'average',\n    analysis_summary: 'Автоматический анализ (LLM недоступен)',\n    delta_vs_previous: null,\n    analysis_version: 'v4.0',\n    analysis_source: 'fallback_metrics_only',\n    created_at: new Date().toISOString()\n  }));\n\n  return [{ json: {\n    batch_index: input.batch_index, total_batches: input.total_batches,\n    results: fallback, results_count: fallback.length,\n    llm_tokens: 0, error: input.llm_error, token: input.token\n  }}];\n}\n\n// Parse LLM response\nconst rawContent = input.llm_response?.choices?.[0]?.message?.content || '';\nlet parsed;\n\ntry {\n  parsed = JSON.parse(rawContent);\n} catch(e) {\n  const cleaned = rawContent.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n  try { parsed = JSON.parse(cleaned); } catch(e2) {\n    try {\n      const m = cleaned.match(/\\{[\\s\\S]*\"relevance_results\"[\\s\\S]*\\}/);\n      if (m) parsed = JSON.parse(m[0]);\n    } catch(e3) {}\n  }\n}\n\nif (!parsed) {\n  console.error('[v4.0] JSON parse failed:', rawContent.substring(0, 300));\n  return [{ json: {\n    batch_index: input.batch_index, total_batches: input.total_batches,\n    results: [], results_count: 0,\n    llm_tokens: input.llm_tokens, error: 'JSON parse failed', token: input.token\n  }}];\n}\n\n// Normalize\nif (Array.isArray(parsed)) parsed = { relevance_results: parsed };\nelse if (!parsed.relevance_results && parsed.page_slug) parsed = { relevance_results: [parsed] };\n\nconst VALID_STATUSES = ['poor', 'average', 'good', 'excellent'];\n\nconst results = (parsed.relevance_results || []).map((r, idx) => {\n  const page = input.pages[idx] || input.pages.find(p => p.slug === r.page_slug) || {};\n  const km = page.keyword_metrics || {};\n\n  // Use COMPUTED metrics, not LLM-generated ones\n  const score = Math.min(Math.max(typeof r.relevance_score === 'number' ? r.relevance_score : 5, 1), 10);\n  let status = (r.status || '').toLowerCase();\n  if (!VALID_STATUSES.includes(status)) {\n    status = score <= 4 ? 'poor' : score <= 6 ? 'average' : score <= 8 ? 'good' : 'excellent';\n  }\n\n  return {\n    project_id: input.project_id,\n    niche: input.niche,\n    city: input.city,\n    page_slug: r.page_slug || page.slug || '',\n    page_type: r.page_type || page.page_type || 'commercial',\n    main_keyword: r.main_keyword || page.main_keyword || '',\n    // COMPUTED metrics (authoritative)\n    keyword_density_exact: km.density_exact || 0,\n    keyword_density_morphological: km.density_morphological || 0,\n    keyword_count_exact: km.count_exact || 0,\n    keyword_count_morphological: km.count_morphological || 0,\n    word_count_actual: page.actual_word_count || 0,\n    word_count_target: page.target_word_count || 0,\n    word_count_deviation_pct: page.word_count_deviation_pct,\n    keyword_zones: JSON.stringify({\n      title: km.in_title, h1: km.in_h1,\n      first_paragraph: km.in_first_paragraph,\n      h2_h3: km.in_h2_h3, body: km.in_body, alt: km.in_alt\n    }),\n    // LLM qualitative analysis\n    lsi_score: Math.min(typeof r.lsi_score === 'number' ? r.lsi_score : 0, 10),\n    lsi_missing_terms: JSON.stringify(r.lsi_missing_terms || []),\n    eeat_score: Math.min(typeof r.eeat_score === 'number' ? r.eeat_score : 0, 10),\n    eeat_details: JSON.stringify(r.eeat_details || {}),\n    entity_score: Math.min(typeof r.entity_score === 'number' ? r.entity_score : 0, 10),\n    overoptimization_risk: ['low','medium','high'].includes(r.overoptimization_risk) ? r.overoptimization_risk : 'low',\n    aeo_ready: !!r.aeo_ready,\n    aeo_details: r.aeo_details || '',\n    readability_score: page.readability_heuristic || 5,\n    relevance_score: score,\n    issues_json: JSON.stringify(r.issues || []),\n    recommendations_json: JSON.stringify(r.recommendations || []),\n    content_gaps_json: JSON.stringify(r.content_gaps || []),\n    status: status,\n    analysis_summary: r.analysis_summary || '',\n    delta_vs_previous: page.previous_score !== null ? (score - page.previous_score).toString() : null,\n    analysis_version: 'v4.0',\n    analysis_source: 'llm_with_computed_metrics',\n    created_at: new Date().toISOString()\n  };\n});\n\nreturn [{ json: {\n  batch_index: input.batch_index, total_batches: input.total_batches,\n  results, results_count: results.length,\n  llm_tokens: input.llm_tokens, error: null, token: input.token\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2860,
        304
      ],
      "id": "54881b21-380f-4fcf-9a42-877b74647576",
      "name": "Parse & Validate Response"
    },
    {
      "parameters": {
        "jsCode": "\n// Fallback when ML service is unavailable or disabled\nconst batch = $input.first().json;\n\nconst results = batch.results.map(r => {\n  // Use the pre-computed heuristic readability score\n  const score = r.readability_score || 5;\n  return {\n    ...r,\n    ml_readability_score: score,\n    ml_readability_label: score >= 7 ? 'good' : score >= 5 ? 'average' : 'poor',\n    ml_confidence: 0.5,\n    ml_source: 'heuristic'\n  };\n});\n\nreturn [{ json: { ...batch, results } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        304
      ],
      "id": "832a6adc-3d5c-4889-b1fb-1073bc3d4293",
      "name": "Enrich with ML"
    },
    {
      "parameters": {
        "jsCode": "\nconst batch = $input.first().json;\nconst token = batch.token;\nconst existing = $('Fetch All Data').first().json.existing_map;\nconst config = $('Validate Input').first().json._config;\nconst baseUrl = `${config.nocodb.baseUrl}${config.nocodb.apiPrefix}/${config.nocodb.orgId}/${config.nocodb.tables.results}`;\n\nconst results = batch.results || [];\nconst toInsert = [];\nconst toUpdate = [];\n\nfor (const r of results) {\n  const prev = existing[r.page_slug];\n  const record = { ...r };\n  delete record.nlp_features; // Don't store raw features\n\n  if (prev && prev.Id) {\n    record.Id = prev.Id;\n    record.updated_at = new Date().toISOString();\n    toUpdate.push(record);\n  } else {\n    toInsert.push(record);\n  }\n}\n\n// Bulk insert\nif (toInsert.length > 0) {\n  try {\n    const resp = await fetch(baseUrl, {\n      method: 'POST',\n      headers: { 'xc-auth': token, 'Content-Type': 'application/json' },\n      body: JSON.stringify(toInsert)\n    });\n    if (!resp.ok) console.error('[v4.0] Bulk insert error:', (await resp.text()).substring(0, 200));\n  } catch(e) { console.error('[v4.0] Insert exception:', e.message); }\n}\n\n// Bulk update (NocoDB supports PATCH with array)\nif (toUpdate.length > 0) {\n  try {\n    const resp = await fetch(baseUrl, {\n      method: 'PATCH',\n      headers: { 'xc-auth': token, 'Content-Type': 'application/json' },\n      body: JSON.stringify(toUpdate)\n    });\n    if (!resp.ok) console.error('[v4.0] Bulk update error:', (await resp.text()).substring(0, 200));\n  } catch(e) { console.error('[v4.0] Update exception:', e.message); }\n}\n\nconsole.log(`[v4.0] Batch ${batch.batch_index}/${batch.total_batches}: inserted=${toInsert.length} updated=${toUpdate.length}`);\n\nreturn [{ json: {\n  batch_index: batch.batch_index,\n  total_batches: batch.total_batches,\n  inserted: toInsert.length,\n  updated: toUpdate.length,\n  results_count: results.length,\n  llm_tokens: batch.llm_tokens\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        304
      ],
      "id": "5cbf8d14-d6e7-4235-a862-8c07a4ee95df",
      "name": "Upsert Results"
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconst config = $('Validate Input').first().json._config;\n\nconsole.log(`[v4.0] Batch ${d.batch_index}/${d.total_batches} DONE: ${d.results_count} pages ` +\n  `(ins:${d.inserted} upd:${d.updated}) tokens:${d.llm_tokens}`);\n\n// Rate limiting between batches\nif (d.batch_index < d.total_batches) {\n  const delay = config.llm.batchDelayMs || 2500;\n  await new Promise(r => setTimeout(r, delay));\n}\n\nreturn [{ json: d }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3580,
        304
      ],
      "id": "c360e463-8b5c-4686-b786-978e7a8f218c",
      "name": "Log & Rate Limit"
    },
    {
      "parameters": {
        "jsCode": "\nconst token = $('Fetch All Data').first().json.token;\nconst validate = $('Validate Input').first().json;\nconst config = validate._config;\nconst baseUrl = `${config.nocodb.baseUrl}${config.nocodb.apiPrefix}/${config.nocodb.orgId}/${config.nocodb.tables.results}`;\n\n// Fetch final state\nlet allRows = [], offset = 0;\nwhile (offset < config.nocodb.maxRows) {\n  const resp = await fetch(\n    `${baseUrl}?where=(project_id,eq,${validate.project_id})&limit=${config.nocodb.pageSize}&offset=${offset}`,\n    { headers: { 'xc-auth': token } }\n  );\n  if (!resp.ok) break;\n  const data = await resp.json();\n  const rows = data.list || [];\n  allRows = allRows.concat(rows);\n  if (rows.length < config.nocodb.pageSize) break;\n  offset += config.nocodb.pageSize;\n}\n\n// ── Compute aggregates ──\nconst count = allRows.length;\nconst safeAvg = (field) => count > 0 ? Math.round(allRows.reduce((s,r) => s + (r[field]||0), 0) / count * 10) / 10 : 0;\n\nconst statusDist = { excellent: 0, good: 0, average: 0, poor: 0 };\nallRows.forEach(r => { if (statusDist[r.status] !== undefined) statusDist[r.status]++; });\n\nconst issuesByType = {};\nlet totalIssues = 0;\nallRows.forEach(r => {\n  try {\n    const issues = JSON.parse(r.issues_json || '[]');\n    totalIssues += issues.length;\n    issues.forEach(i => {\n      const t = i.type || 'other';\n      issuesByType[t] = (issuesByType[t] || 0) + 1;\n    });\n  } catch(e) {}\n});\n\nconst criticalPages = allRows\n  .filter(r => r.relevance_score <= 4)\n  .map(r => ({ slug: r.page_slug, score: r.relevance_score, keyword: r.main_keyword, status: r.status }))\n  .sort((a,b) => a.score - b.score);\n\nconst topPages = allRows\n  .filter(r => r.relevance_score >= 8)\n  .map(r => ({ slug: r.page_slug, score: r.relevance_score }))\n  .sort((a,b) => b.score - a.score)\n  .slice(0, 10);\n\n// Score distribution histogram\nconst scoreDist = {};\nfor (let i = 1; i <= 10; i++) scoreDist[i] = 0;\nallRows.forEach(r => { if (r.relevance_score) scoreDist[r.relevance_score]++; });\n\nreturn [{ json: {\n  status: 'success',\n  step: '09_text_relevance',\n  project_id: validate.project_id,\n  niche: validate.niche,\n  city: validate.city,\n  pages_analyzed: count,\n  avg_relevance_score: safeAvg('relevance_score'),\n  avg_keyword_density: safeAvg('keyword_density_exact'),\n  avg_lsi_score: safeAvg('lsi_score'),\n  avg_eeat_score: safeAvg('eeat_score'),\n  avg_readability_score: safeAvg('readability_score'),\n  total_issues: totalIssues,\n  issues_by_type: issuesByType,\n  status_distribution: statusDist,\n  score_distribution: scoreDist,\n  critical_pages: criticalPages,\n  critical_pages_count: criticalPages.length,\n  top_pages: topPages,\n  top_pages_count: topPages.length,\n  version: config.analysis.version,\n  started_at: validate.started_at,\n  completed_at: new Date().toISOString(),\n  duration_sec: Math.round((Date.now() - new Date(validate.started_at).getTime()) / 1000)\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        608
      ],
      "id": "0c6c7b6e-868b-470c-8d93-73c3848b1c9a",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "jsCode": "\nconst result = $input.first().json;\nconst config = $('Validate Input').first().json._config;\n\n// Check if alerts needed\nif (result.critical_pages_count === 0 && result.avg_relevance_score >= config.alerts.minScoreThreshold) {\n  return [{ json: { ...result, alert_sent: false, alert_reason: 'no_critical_issues' } }];\n}\n\nconst statusEmoji = { excellent: '🟢', good: '🟡', average: '🟠', poor: '🔴' };\nconst dist = result.status_distribution;\nconst distLine = Object.entries(dist).map(([k,v]) => `${statusEmoji[k]||''} ${k}: ${v}`).join(' | ');\n\nconst alertMsg = `🚨 SEO Text Relevance Report v4.0\n━━━━━━━━━━━━━━━━━━━━━\n📋 Project: ${result.project_id}\n🏷️ Niche: ${result.niche} | City: ${result.city}\n📊 Pages: ${result.pages_analyzed} | Duration: ${result.duration_sec}s\n━━━━━━━━━━━━━━━━━━━━━\n📈 Avg Relevance: ${result.avg_relevance_score}/10\n📈 Avg E-E-A-T: ${result.avg_eeat_score}/10\n📈 Avg LSI: ${result.avg_lsi_score}/10\n⚠️ Total Issues: ${result.total_issues}\n━━━━━━━━━━━━━━━━━━━━━\n${distLine}\n${result.critical_pages_count > 0 ? '\\n🔴 Critical Pages:\\n' + result.critical_pages.slice(0, 10).map(p => `  • ${p.slug} (score: ${p.score})`).join('\\n') : '✅ No critical pages'}`;\n\n// Send via configured webhook\nif (config.alerts.enabled && config.alerts.webhookUrl) {\n  try {\n    let body, headers = { 'Content-Type': 'application/json' };\n\n    if (config.alerts.provider === 'telegram') {\n      body = JSON.stringify({\n        chat_id: $env.TELEGRAM_CHAT_ID,\n        text: alertMsg,\n        parse_mode: 'HTML'\n      });\n    } else {\n      // Slack / generic webhook\n      body = JSON.stringify({ text: alertMsg });\n    }\n\n    const resp = await fetch(config.alerts.webhookUrl, {\n      method: 'POST', headers, body,\n      signal: AbortSignal.timeout(10000)\n    });\n\n    if (!resp.ok) {\n      console.error('[v4.0] Alert send failed:', resp.status);\n    }\n  } catch(e) {\n    console.error('[v4.0] Alert error:', e.message);\n  }\n}\n\nconsole.log('[v4.0 ALERT]', alertMsg);\nreturn [{ json: { ...result, alert_sent: true, alert_message: alertMsg } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        608
      ],
      "id": "cd95b5a9-5aea-4c98-a36a-3f976274fc50",
      "name": "Send Alerts"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "X-Analysis-Version",
                "value": "4.0"
              },
              {
                "name": "X-Pages-Analyzed",
                "value": "={{ $json.pages_analyzed }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2860,
        608
      ],
      "id": "d14ca262-f16a-4232-a348-3bcf57860fb6",
      "name": "Return Result"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Monthly Audit": {
      "main": [
        [
          {
            "node": "Init Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Config": {
      "main": [
        [
          {
            "node": "Fetch Active Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Projects": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "NocoDB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Auth": {
      "main": [
        [
          {
            "node": "Fetch All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Data": {
      "main": [
        [
          {
            "node": "Prepare Crawl List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Crawl List": {
      "main": [
        [
          {
            "node": "Crawl Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crawl Page": {
      "main": [
        [
          {
            "node": "Extract & Analyze Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Analyze Text": {
      "main": [
        [
          {
            "node": "Compute Metrics & Build Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Metrics & Build Batches": {
      "main": [
        [
          {
            "node": "Loop Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Batches": {
      "main": [
        [
          {
            "node": "Build LLM Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build LLM Prompt": {
      "main": [
        [
          {
            "node": "LLM Request with Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Request with Retry": {
      "main": [
        [
          {
            "node": "Parse & Validate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Response": {
      "main": [
        [
          {
            "node": "Enrich with ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with ML": {
      "main": [
        [
          {
            "node": "Upsert Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Results": {
      "main": [
        [
          {
            "node": "Log & Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log & Rate Limit": {
      "main": [
        [
          {
            "node": "Loop Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Send Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alerts": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "versionId": "86b2a99e-fa63-4733-9189-bbb51073328d",
  "meta": {
    "instanceId": "e400d94cd35057382ffd98f35f5f609f9bd3f2676425b3672d90c1a1c4917652"
  },
  "tags": [
    {
      "id": "tag_step09",
      "name": "step_09"
    },
    {
      "id": "tag_seo_v4",
      "name": "SEO_v4.0"
    },
    {
      "id": "tag_pro",
      "name": "PRO"
    },
    {
      "id": "tag_text_rel",
      "name": "text_relevance"
    },
    {
      "id": "tag_eeat",
      "name": "E-E-A-T"
    }
  ]
}