NN_04_Структура_страниц_v4.0_PRO.json
{
  "name": "NN_04_Структура_страниц_v4.0_PRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-page-structure",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "node-webhook",
      "name": "Webhook",
      "webhookId": "analyze-page-structure-v3"
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body || $input.first().json;\nconst { niche, city, project_id, target_url, competitors, batch_size, mode, \n        niche_cluster, priority_engines } = body;\n\nif (!niche) throw new Error('Поле \"niche\" обязательно');\nif (!city) throw new Error('Поле \"city\" обязательно');\nif (!project_id) throw new Error('Поле \"project_id\" обязательно');\n\nlet competitorsList = [];\nif (Array.isArray(competitors) && competitors.length > 0) {\n  competitorsList = competitors\n    .filter(c => typeof c === 'string' && c.startsWith('http'))\n    .slice(0, 10);\n}\n\nconst runMode = mode || 'full';\n\nreturn [{ json: {\n  niche, city, project_id,\n  niche_cluster: niche_cluster || 'commercial_local',\n  priority_engines: priority_engines || 'both',\n  target_url: target_url || '',\n  competitors: competitorsList,\n  batch_size: Math.min(batch_size || 3, 5),\n  mode: runMode,\n  embed_query: niche + ' ' + city + ' структура страницы лендинг блоки секции конверсия SEO 2026',\n  started_at: new Date().toISOString(),\n  workflow_version: 'v4.0_pro'\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "node-validate",
      "name": "Validate Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bge-m3\",\n  \"prompt\": \"{{ $json.embed_query }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        480,
        0
      ],
      "id": "node-embed-query",
      "name": "Get Query Embedding",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/top10_page_structures/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.QDRANT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({vector: $json.embedding, limit: 5, with_payload: true, score_threshold: 0.55}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        -120
      ],
      "id": "node-rag-structures",
      "name": "RAG Structures",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/seo_personas/points/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.QDRANT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({vector: $('Get Query Embedding').first().json.embedding, limit: 3, with_payload: true, score_threshold: 0.50}) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        120
      ],
      "id": "node-rag-personas",
      "name": "RAG Personas",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        960,
        0
      ],
      "id": "node-merge-rag",
      "name": "Merge RAG Results"
    },
    {
      "parameters": {
        "jsCode": "\nlet structResults = [];\nlet personaResults = [];\n\ntry { structResults = $('RAG Structures').first().json.result || []; } catch(e) {}\ntry { personaResults = $('RAG Personas').first().json.result || []; } catch(e) {}\n\nlet context = '';\nif (structResults.length > 0) {\n  context = '=== СТРУКТУРЫ СТРАНИЦ ПОХОЖИХ НИШ (RAG) ===\\n\\n';\n  structResults.forEach((r, i) => {\n    const p = r.payload || {};\n    context += `Проект ${i+1} (сходство: ${Math.round(r.score*100)}%):\\n`;\n    context += `  Ниша: ${p.niche||''}, город: ${p.city||''}\\n`;\n    if (p.blocks_structure || p.structure_summary) {\n      const summary = p.blocks_structure || p.structure_summary;\n      const text = typeof summary === 'string' ? summary : JSON.stringify(summary);\n      context += `  Блоки: ${text.substring(0, 800)}\\n`;\n    }\n    context += '---\\n';\n  });\n}\n\nif (personaResults.length > 0) {\n  context += '\\n=== ПЕРСОНЫ ЦА (RAG) ===\\n\\n';\n  personaResults.forEach((r, i) => {\n    const p = r.payload || {};\n    context += `Персона ${i+1}: ${p.persona_name || ''}\\n`;\n    context += `  JTBD: ${p.main_jtbd || ''}\\n`;\n    context += `  Боли: ${p.problems_summary || ''}\\n---\\n`;\n  });\n}\n\nreturn [{ json: {\n  rag_context: context || 'Нет данных из RAG — первый проект.',\n  rag_struct_count: structResults.length,\n  rag_persona_count: personaResults.length,\n  rag_avg_score: structResults.length > 0 \n    ? Math.round(structResults.reduce((s,r) => s + (r.score||0), 0) / structResults.length * 100) / 100 \n    : 0\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "node-format-rag",
      "name": "Format RAG Context"
    },
    {
      "parameters": {
        "jsCode": "\n// Auth handled via headers on each NocoDB node\nconst validate = $('Validate Input').first().json;\nreturn [{ json: { ...validate, auth_method: 'header' } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        224
      ],
      "id": "node-nocodb-auth",
      "name": "NocoDB Auth"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://nocodb:8080/api/v1/db/data/bulk/noco/ppxzhw4b32456e0/mkwptx0hms9w6ph",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "={{ $env.NOCODB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ where: '(project_id,eq,' + $('Validate Input').first().json.project_id + ')' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1440,
        224
      ],
      "id": "node-delete-old",
      "name": "Delete Old Structures",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "http://nocodb:8080/api/v1/db/data/noco/ppxzhw4b32456e0/mrr8j52dx71oi3y",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "={{ $env.NOCODB_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(project_id,eq,{{ $(\"Validate Input\").first().json.project_id }})"
            },
            {
              "name": "limit",
              "value": "200"
            },
            {
              "name": "sort",
              "value": "priority"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        224
      ],
      "id": "node-fetch-clusters",
      "name": "Fetch Clusters"
    },
    {
      "parameters": {
        "jsCode": "\nconst response = $input.first().json;\nconst validate = $('Validate Input').first().json;\nconst ragInfo = $('Format RAG Context').first().json;\n\nconst rows = response.list || (Array.isArray(response) ? response : []);\nif (rows.length === 0) {\n  throw new Error('Нет кластеров для project_id: ' + validate.project_id + '. Сначала запустите NN_01.');\n}\n\nconst clusters = rows.map(r => {\n  let keywords = [];\n  try { keywords = typeof r.keywords === 'string' ? JSON.parse(r.keywords) : (r.keywords || []); } catch(e) {}\n  return {\n    cluster_name: r.cluster_name || r.Title || '',\n    main_keyword: r.main_keyword || '',\n    page_type: r.page_type || 'commercial',\n    priority: r.priority || 99,\n    keywords_count: r.keywords_count || keywords.length,\n    total_frequency: r.total_frequency || 0,\n    recommended_url: r.recommended_url || '',\n    aeo_query: r.aeo_query || '',\n    top_keywords: (keywords.slice(0, 10)).map(k => typeof k === 'string' ? k : (k.keyword || k.text || '')).join(', ')\n  };\n}).filter(c => c.cluster_name);\n\n// Collect all URLs for internal linking validation\nconst allUrls = clusters.map(c => ({ cluster: c.cluster_name, url: c.recommended_url }));\n\nconst BATCH_SIZE = validate.batch_size || 3;\nconst batches = [];\nfor (let i = 0; i < clusters.length; i += BATCH_SIZE) {\n  const batch = clusters.slice(i, i + BATCH_SIZE);\n  batches.push({\n    batch_index: Math.floor(i / BATCH_SIZE) + 1,\n    total_batches: Math.ceil(clusters.length / BATCH_SIZE),\n    batch_clusters: batch,\n    clusters_summary: batch.map((c, j) =>\n      (i + j + 1) + '. [' + c.page_type.toUpperCase() + '] ' + c.cluster_name +\n      ' | Ключ: ' + c.main_keyword +\n      ' | Частота: ' + c.total_frequency +\n      ' | URL: ' + c.recommended_url +\n      (c.aeo_query ? ' | AEO: ' + c.aeo_query : '') +\n      (c.top_keywords ? ' | Ключи: ' + c.top_keywords : '')\n    ).join('\\n'),\n    batch_size: batch.length,\n    niche: validate.niche,\n    city: validate.city,\n    project_id: validate.project_id,\n    target_url: validate.target_url,\n    competitors: validate.competitors,\n    total_clusters: clusters.length,\n    all_project_urls: JSON.stringify(allUrls),\n    rag_context: ragInfo.rag_context\n  });\n}\n\nreturn batches.map(b => ({ json: b }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        224
      ],
      "id": "node-split-batches",
      "name": "Parse & Split Batches"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2160,
        224
      ],
      "id": "node-loop",
      "name": "Loop Batches"
    },
    {
      "parameters": {
        "jsCode": "\nconst batch = $input.first().json;\n\nconst systemPrompt = `Ты — Senior SEO-специалист и UX-архитектор. Текущий год: 2026.\n\nЗАДАЧА: спроектируй оптимальную структуру посадочной страницы для каждого кластера.\n\n${batch.rag_context}\n\nДОСТУПНЫЕ URL ПРОЕКТА (для internal linking):\n${batch.all_project_urls}\n\nОБЯЗАТЕЛЬНЫЕ ПРИНЦИПЫ:\n1. MOBILE-FIRST: все блоки адаптивны, критический контент — выше fold\n2. CTA: первый CTA выше fold, повтор каждые 2-3 экрана, разные формулировки\n3. E-E-A-T: блоки экспертизы — автор, сертификаты, опыт, реальные кейсы\n4. AEO (Answer Engine Optimization): FAQ с прямыми ответами для AI Overview / Яндекс Нейро\n5. GEO (Generative Engine Optimization): цитируемые факты, статистика, структурированные данные\n6. КОММЕРЧЕСКИЕ ФАКТОРЫ [Я]: цены/прайс, таблица услуг, фото работ, карта проезда, реквизиты, гарантии\n7. CORE WEB VITALS [G]: минимум JS, lazy-load изображений, оптимальная структура для LCP/CLS/INP\n8. SCHEMA.ORG [ОБА]: правильная разметка для каждого блока (Service, FAQPage, LocalBusiness, Review)\n9. ПОВЕДЕНЧЕСКИЕ ФАКТОРЫ [Я]: интерактивные элементы, калькуляторы, до/после — для CTR и dwell time\n10. ВНУТРЕННЯЯ ПЕРЕЛИНКОВКА: только на реально существующие URL проекта из списка выше\n\nCONTENT PROTOCOL V2 (5 слоёв качества контента):\n- Слой 1 РЕЛЕВАНТНОСТЬ: каждый блок содержит ключевые слова кластера, TF-IDF coverage ≥80%\n- Слой 2 ЧИТАЕМОСТЬ: Flesch-Kincaid адаптирован для RU, язык понятен ЦА\n- Слой 3 E-E-A-T КОНТЕНТ: факты с источниками, авторство, даты, цитируемые данные\n- Слой 4 AEO/GEO ГОТОВНОСТЬ: FAQ-структура, прямые ответы, cite-friendly факты\n- Слой 5 AI DETECTION: контент должен быть UGC-стиль, личный опыт, специфика ниши\n\nМАРКИРОВКА ПОИСКОВЫХ СИСТЕМ:\nДля КАЖДОГО блока укажи поле \"engine_relevance\": \"yandex\" | \"google\" | \"both\"\n- [Я] Яндекс-специфичные: КФ-блоки (цены, гарантии, лицензии), ПФ-элементы, карта\n- [G] Google-специфичные: CWV-оптимизация, E-E-A-T сигналы, Schema.org\n- [ОБА] Универсальные: Hero, FAQ, контент, CTA\n\nТИПЫ СТРАНИЦ (адаптируй под нишу \"${batch.niche}\"):\n- COMMERCIAL: Hero → УТП/Преимущества → Услуги/Цены → Кейсы/До-После → Эксперты → Отзывы → FAQ → Калькулятор/CTA → Карта\n- INFORMATIONAL: Hero → Оглавление → Контент (H2/H3) → Экспертное мнение → FAQ → Связанные услуги → CTA\n- LOCAL: Hero → Карта/Адрес → Услуги филиала → Команда → Отзывы → FAQ → CTA\n- NAVIGATION: Hero → Миссия → Ключевые направления → Команда → Сертификаты/Лицензии → Контакты → CTA\n\nПРАВИЛА ГЕНЕРАЦИИ:\n- Минимум 8 блоков на страницу\n- FAQ: минимум 5 вопросов, ответы 2-4 предложения\n- Title: ≤ 60 символов, содержит main_keyword + город\n- Description: ≤ 155 символов, с CTA-элементом\n- H1: уникальный, содержит main_keyword\n- internal_links: ТОЛЬКО из списка URL проекта\n- Слова: commercial ≥ 2500, informational ≥ 3000, local ≥ 1500\n\nФОРМАТ ОТВЕТА — строго JSON (без markdown, без комментариев):\n{\"page_structures\":[{\n  \"cluster_name\":\"Название кластера\",\n  \"main_keyword\":\"основной ключ\",\n  \"page_type\":\"commercial\",\n  \"recommended_url\":\"/slug/\",\n  \"meta\":{\n    \"title_template\":\"Title ≤60 символов\",\n    \"description_template\":\"Description ≤155 символов\",\n    \"h1_template\":\"H1 заголовок\",\n    \"og_title\":\"OG Title\",\n    \"og_description\":\"OG Description\"\n  },\n  \"blocks\":[{\n    \"order\":1,\n    \"block_name\":\"Hero\",\n    \"block_type\":\"hero\",\n    \"h2\":\"Заголовок блока\",\n    \"content_guidelines\":\"Что должно быть в блоке\",\n    \"word_count\":150,\n    \"keywords_to_include\":[\"ключ1\",\"ключ2\"],\n    \"schema_type\":\"Service\",\n    \"conversion_element\":\"button|form|calculator|phone|chat\",\n    \"is_above_fold\":true,\n    \"design_notes\":\"Рекомендации по визуалу\",\n    \"engine_relevance\":\"both\"\n  }],\n  \"total_word_count\":2500,\n  \"total_blocks\":10,\n  \"internal_links\":[{\n    \"anchor\":\"текст ссылки\",\n    \"target_cluster\":\"Имя кластера\",\n    \"target_url\":\"/url/\",\n    \"context\":\"В каком блоке разместить\"\n  }],\n  \"aeo_block\":{\n    \"question\":\"Основной вопрос для AI Overview\",\n    \"short_answer\":\"Прямой ответ 1-2 предложения (featured snippet)\",\n    \"detailed_answer\":\"Развёрнутый ответ 3-5 предложений\",\n    \"related_questions\":[\"Доп вопрос 1\",\"Доп вопрос 2\"],\n    \"speakable_text\":\"Текст для Алисы / голосового поиска (2-3 предложения)\"\n  },\n  \"geo_block\":{\n    \"citable_facts\":[\"Факт 1 со статистикой\",\"Факт 2 с источником\"],\n    \"expert_quotes\":[\"Цитата эксперта с должностью\"],\n    \"data_points\":[\"Числовой факт для цитирования AI\"]\n  },\n  \"schema_types\":[\"Service\",\"FAQPage\",\"LocalBusiness\"],\n  \"priority_score\":95,\n  \"estimated_conversion_elements\":5,\n  \"content_quality_layers\":{\n    \"relevance_coverage\":\"описание покрытия ключевых сущностей\",\n    \"eeat_signals\":[\"сигнал1\",\"сигнал2\"],\n    \"humanization_notes\":\"как сделать контент UGC-стилем\"\n  }\n}]}`;\n\nconst userPrompt = 'Батч ' + batch.batch_index + '/' + batch.total_batches +\n  '. НИША: ' + batch.niche +\n  ' | ГОРОД: ' + batch.city +\n  (batch.competitors.length > 0 ? '\\nКОНКУРЕНТЫ: ' + batch.competitors.join(', ') : '') +\n  '\\n\\nКЛАСТЕРЫ (' + batch.batch_size + ' шт.):\\n' + batch.clusters_summary +\n  '\\n\\nОтветь СТРОГО JSON. Без markdown-обёрток.';\n\nconst payload = {\n  model: 'llama-3.3-70b-versatile',\n  max_tokens: 8192,\n  temperature: 0.15,\n  top_p: 0.9,\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ],\n  response_format: { type: 'json_object' }\n};\n\nreturn [{ json: {\n  groq_payload: JSON.stringify(payload),\n  batch_index: batch.batch_index,\n  total_batches: batch.total_batches,\n  batch_size: batch.batch_size,\n  project_id: batch.project_id,\n  niche: batch.niche,\n  city: batch.city,\n  all_project_urls: batch.all_project_urls\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        224
      ],
      "id": "node-build-prompt",
      "name": "Build Batch Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.groq_payload }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2640,
        224
      ],
      "id": "node-groq",
      "name": "Groq LLM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ufwYtnED96pshQu8",
          "name": "Groq API"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst groqResponse = $input.first().json;\nconst batchInfo = $('Build Batch Prompt').first().json;\n\n// Error handling\nif (groqResponse.error) {\n  return [{ json: {\n    batch_index: batchInfo.batch_index,\n    structures: [],\n    nocodb_rows: [],\n    error: groqResponse.error.message || 'Groq API error',\n    groq_tokens: 0,\n    total_batches: batchInfo.total_batches,\n    structures_count: 0,\n    status: 'error'\n  }}];\n}\n\nconst rawContent = groqResponse?.choices?.[0]?.message?.content || '';\nlet cleanJson = rawContent.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (err) {\n  // Fallback: extract JSON\n  try {\n    const objMatch = cleanJson.match(/\\{[\\s\\S]+\\}/);\n    if (objMatch) parsed = JSON.parse(objMatch[0]);\n  } catch(e2) {}\n  if (!parsed) {\n    try {\n      const arrMatch = cleanJson.match(/\\[[\\s\\S]+\\]/);\n      if (arrMatch) parsed = { page_structures: JSON.parse(arrMatch[0]) };\n    } catch(e3) {}\n  }\n  if (!parsed) {\n    return [{ json: {\n      batch_index: batchInfo.batch_index, structures: [], nocodb_rows: [],\n      error: 'JSON parse failed. Raw (first 500): ' + rawContent.substring(0, 500),\n      groq_tokens: groqResponse?.usage?.total_tokens || 0,\n      total_batches: batchInfo.total_batches, structures_count: 0, status: 'parse_error'\n    }}];\n  }\n}\n\n// Normalize\nif (Array.isArray(parsed)) parsed = { page_structures: parsed };\nelse if (parsed && !parsed.page_structures) {\n  if (parsed.cluster_name || parsed.blocks) parsed = { page_structures: [parsed] };\n}\n\n// Valid project URLs for link validation\nlet validUrls = [];\ntry { validUrls = JSON.parse(batchInfo.all_project_urls || '[]'); } catch(e) {}\nconst validUrlSet = new Set(validUrls.map(u => u.url));\n\n// Process & validate each structure\nconst warnings = [];\nconst structures = (parsed.page_structures || []).map((s, idx) => {\n  const blocks = Array.isArray(s.blocks) ? s.blocks.map((b, bi) => ({\n    order: b.order || (bi+1),\n    block_name: b.block_name || 'Block '+(bi+1),\n    block_type: b.block_type || 'content',\n    h2: b.h2 || '',\n    content_guidelines: b.content_guidelines || '',\n    word_count: b.word_count || 100,\n    keywords_to_include: Array.isArray(b.keywords_to_include) ? b.keywords_to_include : [],\n    schema_type: b.schema_type || null,\n    conversion_element: b.conversion_element || null,\n    is_above_fold: !!b.is_above_fold,\n    design_notes: b.design_notes || '',\n    engine_relevance: b.engine_relevance || 'both'\n  })) : [];\n\n  // Validation warnings\n  if (blocks.length < 8) warnings.push(s.cluster_name + ': только ' + blocks.length + ' блоков (нужно ≥8)');\n\n  const meta = s.meta || {};\n  if (meta.title_template && meta.title_template.length > 65) warnings.push(s.cluster_name + ': Title ' + meta.title_template.length + ' символов (макс 60)');\n  if (meta.description_template && meta.description_template.length > 165) warnings.push(s.cluster_name + ': Description ' + meta.description_template.length + ' символов (макс 155)');\n\n  const aeo = s.aeo_block || {};\n  if (!aeo.question) warnings.push(s.cluster_name + ': отсутствует AEO question');\n\n  // Validate internal links against real URLs\n  const links = Array.isArray(s.internal_links) ? s.internal_links.filter(l => {\n    if (l.target_url && !validUrlSet.has(l.target_url)) {\n      warnings.push(s.cluster_name + ': ссылка на несуществующий URL ' + l.target_url);\n      return false;\n    }\n    return true;\n  }) : [];\n\n  const totalWords = s.total_word_count || blocks.reduce((sum, b) => sum + (b.word_count || 0), 0);\n\n  return {\n    cluster_name: s.cluster_name || 'Structure '+(idx+1),\n    main_keyword: s.main_keyword || '',\n    page_type: ['commercial','informational','navigation','local'].includes(s.page_type) ? s.page_type : 'commercial',\n    recommended_url: s.recommended_url || '',\n    meta: {\n      title_template: meta.title_template || '',\n      description_template: meta.description_template || '',\n      h1_template: meta.h1_template || '',\n      og_title: meta.og_title || meta.title_template || '',\n      og_description: meta.og_description || meta.description_template || ''\n    },\n    blocks,\n    total_word_count: totalWords,\n    total_blocks: blocks.length,\n    internal_links: links,\n    aeo_block: {\n      question: aeo.question || '',\n      short_answer: aeo.short_answer || '',\n      detailed_answer: aeo.detailed_answer || '',\n      related_questions: Array.isArray(aeo.related_questions) ? aeo.related_questions : []\n    },\n    schema_types: Array.isArray(s.schema_types) ? s.schema_types : [],\n    priority_score: s.priority_score || 50,\n    estimated_conversion_elements: s.estimated_conversion_elements || blocks.filter(b => b.conversion_element).length,\n    geo_block: s.geo_block || { citable_facts: [], expert_quotes: [], data_points: [] },\n    content_quality_layers: s.content_quality_layers || {}\n  };\n});\n\n// Build NocoDB rows\nconst nocodbRows = structures.map(s => ({\n  project_id: batchInfo.project_id,\n  niche: batchInfo.niche,\n  city: batchInfo.city,\n  cluster_name: s.cluster_name,\n  main_keyword: s.main_keyword,\n  page_type: s.page_type,\n  recommended_url: s.recommended_url,\n  title_template: s.meta.title_template,\n  description_template: s.meta.description_template,\n  h1_template: s.meta.h1_template,\n  og_title: s.meta.og_title,\n  og_description: s.meta.og_description,\n  blocks: JSON.stringify(s.blocks),\n  total_blocks: s.total_blocks,\n  total_word_count: s.total_word_count,\n  internal_links: JSON.stringify(s.internal_links),\n  aeo_question: s.aeo_block.question,\n  aeo_short_answer: s.aeo_block.short_answer,\n  aeo_detailed_answer: s.aeo_block.detailed_answer,\n  aeo_related_questions: JSON.stringify(s.aeo_block.related_questions),\n  schema_types: JSON.stringify(s.schema_types),\n  priority_score: s.priority_score,\n  conversion_elements_count: s.estimated_conversion_elements,\n  geo_citable_facts: JSON.stringify((s.geo_block || {}).citable_facts || []),\n  content_quality: JSON.stringify(s.content_quality_layers || {}),\n  status: 'active',\n  version: 'v4.0',\n  batch_index: batchInfo.batch_index,\n  created_at: new Date().toISOString()\n}));\n\nreturn [{ json: {\n  batch_index: batchInfo.batch_index,\n  total_batches: batchInfo.total_batches,\n  structures_count: structures.length,\n  nocodb_rows: nocodbRows,\n  groq_tokens: groqResponse?.usage?.total_tokens || 0,\n  warnings: warnings,\n  error: null,\n  status: 'ok'\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        224
      ],
      "id": "node-parse-batch",
      "name": "Parse & Validate Batch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nocodb:8080/api/v1/db/data/bulk/noco/ppxzhw4b32456e0/mkwptx0hms9w6ph",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "={{ $env.NOCODB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.nocodb_rows) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3120,
        224
      ],
      "id": "node-save-nocodb",
      "name": "Save to NocoDB",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst batch = $('Parse & Validate Batch').first().json;\nconst saveResult = $input.first().json;\n\nconst logEntry = {\n  step: '04_page_structure',\n  batch: batch.batch_index + '/' + batch.total_batches,\n  structures: batch.structures_count,\n  tokens: batch.groq_tokens,\n  warnings: batch.warnings?.length || 0,\n  saved: !saveResult.error,\n  status: batch.error ? 'ERROR: ' + batch.error : 'OK',\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('[NN_04] ' + JSON.stringify(logEntry));\nreturn [{ json: logEntry }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        224
      ],
      "id": "node-log",
      "name": "Log Progress"
    },
    {
      "parameters": {
        "jsCode": "\n// Adaptive delay: check remaining rate limit from Groq headers\n// Default 3s pause between batches, increase if approaching limit\nconst batch = $('Parse & Validate Batch').first().json;\nconst delay = batch.groq_tokens > 6000 ? 5000 : 2000;\nawait new Promise(resolve => setTimeout(resolve, delay));\nreturn [{ json: { delayed_ms: delay } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        224
      ],
      "id": "node-rate-limit",
      "name": "Adaptive Delay"
    },
    {
      "parameters": {
        "url": "http://nocodb:8080/api/v1/db/data/noco/ppxzhw4b32456e0/mkwptx0hms9w6ph",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-auth",
              "value": "={{ $env.NOCODB_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(project_id,eq,{{ $(\"Validate Input\").first().json.project_id }})"
            },
            {
              "name": "limit",
              "value": "500"
            },
            {
              "name": "sort",
              "value": "-priority_score"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3840,
        0
      ],
      "id": "node-fetch-results",
      "name": "Fetch All Results",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst response = $input.first().json;\nconst validate = $('Validate Input').first().json;\nconst rows = response.list || [];\n\nconst typeBreakdown = {};\nrows.forEach(r => { typeBreakdown[r.page_type || 'unknown'] = (typeBreakdown[r.page_type || 'unknown'] || 0) + 1; });\n\nconst topStructures = rows\n  .sort((a, b) => (b.priority_score || 0) - (a.priority_score || 0))\n  .slice(0, 15)\n  .map(r => r.cluster_name + ' [' + r.page_type + ']: ' + r.total_blocks + ' блоков, ' + r.total_word_count + ' слов, score=' + r.priority_score)\n  .join('\\n');\n\nconst aeoSummary = rows\n  .filter(r => r.aeo_question)\n  .slice(0, 10)\n  .map(r => 'Q: ' + r.aeo_question + '\\nA: ' + (r.aeo_short_answer || '').substring(0, 100))\n  .join('\\n---\\n');\n\nconst totalBlocks = rows.reduce((s, r) => s + (r.total_blocks || 0), 0);\nconst totalWords = rows.reduce((s, r) => s + (r.total_word_count || 0), 0);\nconst avgScore = rows.length > 0 ? Math.round(rows.reduce((s, r) => s + (r.priority_score || 0), 0) / rows.length) : 0;\n\nconst nicheText = [\n  'Ниша: ' + validate.niche,\n  'Город: ' + validate.city,\n  'Структур: ' + rows.length,\n  'Блоков: ' + totalBlocks,\n  'Слов: ' + totalWords,\n  'Средний приоритет: ' + avgScore,\n  'Типы: ' + JSON.stringify(typeBreakdown),\n  '',\n  'Топ структуры:',\n  topStructures,\n  '',\n  'AEO:',\n  aeoSummary\n].join('\\n');\n\nreturn [{ json: {\n  project_id: validate.project_id,\n  niche: validate.niche,\n  city: validate.city,\n  niche_text: nicheText,\n  structures_count: rows.length,\n  total_blocks: totalBlocks,\n  total_words: totalWords,\n  avg_priority: avgScore,\n  type_breakdown: typeBreakdown,\n  rows\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        0
      ],
      "id": "node-prepare-summary",
      "name": "Prepare Qdrant Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bge-m3\",\n  \"prompt\": {{ JSON.stringify($json.niche_text.substring(0, 2000)) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4320,
        0
      ],
      "id": "node-embed-summary",
      "name": "Embed Summary",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst prev = $('Prepare Qdrant Summary').first().json;\nconst vector = $input.first().json.embedding;\nif (!vector || vector.length < 100) throw new Error('Invalid embedding: length=' + (vector?.length || 0));\n\n// Deterministic UUID-like ID from project_id (more collision-resistant)\nfunction stableHash(str) {\n  let h1 = 0xdeadbeef, h2 = 0x41c6ce57;\n  for (let i = 0; i < str.length; i++) {\n    const ch = str.charCodeAt(i);\n    h1 = Math.imul(h1 ^ ch, 2654435761);\n    h2 = Math.imul(h2 ^ ch, 1597334677);\n  }\n  h1 = Math.imul(h1 ^ (h1 >>> 16), 2246822507) ^ Math.imul(h2 ^ (h2 >>> 13), 3266489909);\n  h2 = Math.imul(h2 ^ (h2 >>> 16), 2246822507) ^ Math.imul(h1 ^ (h1 >>> 13), 3266489909);\n  return (4294967296 * (2097151 & h2) + (h1 >>> 0)) % 2147483647;\n}\n\nconst pointId = stableHash(prev.project_id + '_page_struct_v4');\n\nreturn [{ json: { qdrant_payload: JSON.stringify({\n  points: [{\n    id: pointId,\n    vector,\n    payload: {\n      project_id: prev.project_id,\n      niche: prev.niche,\n      city: prev.city,\n      type: 'page_structure_analysis',\n      structures_count: prev.structures_count,\n      total_blocks: prev.total_blocks,\n      total_words: prev.total_words,\n      avg_priority: prev.avg_priority,\n      type_breakdown: prev.type_breakdown,\n      version: 'v4.0',\n      created_at: new Date().toISOString()\n    }\n  }]\n})}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        0
      ],
      "id": "node-prepare-qdrant",
      "name": "Prepare Qdrant Save"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/top10_page_structures/points",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "={{ $env.QDRANT_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.qdrant_payload }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4800,
        0
      ],
      "id": "node-save-qdrant",
      "name": "Save to Qdrant",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "\nconst summary = $('Prepare Qdrant Summary').first().json;\nconst ragInfo = $('Format RAG Context').first().json;\nconst validate = $('Validate Input').first().json;\nconst rows = summary.rows || [];\n\nconst aeoCount = rows.filter(r => r.aeo_question).length;\nlet schemaCount = 0, ctaCount = 0, engineBoth = 0, engineYa = 0, engineG = 0;\nrows.forEach(r => {\n  try {\n    const bl = typeof r.blocks === 'string' ? JSON.parse(r.blocks) : (r.blocks || []);\n    schemaCount += bl.filter(b => b.schema_type && b.schema_type !== 'null').length;\n    ctaCount += bl.filter(b => b.conversion_element && b.conversion_element !== 'null').length;\n    bl.forEach(b => {\n      if (b.engine_relevance === 'yandex') engineYa++;\n      else if (b.engine_relevance === 'google') engineG++;\n      else engineBoth++;\n    });\n  } catch(e) {}\n});\n\n// ML result\nlet mlScore = null, mlLabel = null;\ntry {\n  const ml = $('ML Structure Predict').first().json;\n  mlScore = ml.score ?? ml.prediction ?? null;\n  mlLabel = ml.label ?? null;\n} catch(e) {}\n\n// Save statuses\nlet nocodbOk = false, qdrantOk = false;\ntry { const n = $('Save to NocoDB').first().json; nocodbOk = Array.isArray(n) || n?.Id != null; } catch(e) {}\ntry { const q = $('Save to Qdrant').first().json; qdrantOk = q?.result?.status === 'acknowledged' || q?.status === 'ok'; } catch(e) {}\n\nconst duration = Math.round((Date.now() - new Date(validate.started_at).getTime()) / 1000);\n\nreturn [{ json: {\n  status: 'success',\n  step: '04_page_structure',\n  version: 'v4.0_pro',\n  project_id: summary.project_id,\n  niche: summary.niche,\n  city: summary.city,\n  niche_cluster: validate.niche_cluster,\n  priority_engines: validate.priority_engines,\n  metrics: {\n    structures_count: summary.structures_count,\n    total_blocks: summary.total_blocks,\n    total_word_count: summary.total_words,\n    avg_priority_score: summary.avg_priority,\n    aeo_blocks: aeoCount,\n    schema_blocks: schemaCount,\n    cta_blocks: ctaCount,\n    type_breakdown: summary.type_breakdown,\n    engine_tagging: { yandex: engineYa, google: engineG, both: engineBoth }\n  },\n  rag: {\n    struct_sources: ragInfo.rag_struct_count,\n    persona_sources: ragInfo.rag_persona_count,\n    avg_relevance: ragInfo.rag_avg_score\n  },\n  ml: {\n    structure_score: mlScore,\n    structure_label: mlLabel,\n    available: mlScore != null\n  },\n  storage: {\n    qdrant_saved: qdrantOk,\n    nocodb_saved: nocodbOk\n  },\n  execution: {\n    duration_seconds: duration,\n    timestamp: new Date().toISOString()\n  }\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        0
      ],
      "id": "node-build-response",
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5280,
        0
      ],
      "id": "node-return",
      "name": "Return Result"
    },
    {
      "parameters": {
        "jsCode": "\nconst error = $input.first().json;\nconst errorResponse = {\n  status: 'error',\n  step: '04_page_structure',\n  version: 'v4.0_pro',\n  error: {\n    message: error.message || error.error?.message || 'Unknown error',\n    node: error.node?.name || 'unknown',\n    timestamp: new Date().toISOString()\n  }\n};\nreturn [{ json: errorResponse }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        300
      ],
      "id": "node-error-handler",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5280,
        300
      ],
      "id": "node-return-error",
      "name": "Return Error"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.groq_payload }}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Fallback LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2690,
        424
      ],
      "id": "fallback-llm-wf04",
      "retryOnFail": true,
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ml-service:8000/predict/page_structure_rank",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ml_payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "ML Structure Predict",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        600
      ],
      "id": "ml-struct-wf04",
      "continueOnFail": true,
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Get Query Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "NocoDB Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Query Embedding": {
      "main": [
        [
          {
            "node": "RAG Structures",
            "type": "main",
            "index": 0
          },
          {
            "node": "RAG Personas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Structures": {
      "main": [
        [
          {
            "node": "Merge RAG Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Personas": {
      "main": [
        [
          {
            "node": "Merge RAG Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge RAG Results": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB Auth": {
      "main": [
        [
          {
            "node": "Delete Old Structures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context": {
      "main": [
        [
          {
            "node": "Delete Old Structures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Structures": {
      "main": [
        [
          {
            "node": "Fetch Clusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Clusters": {
      "main": [
        [
          {
            "node": "Parse & Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Split Batches": {
      "main": [
        [
          {
            "node": "Loop Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Batches": {
      "main": [
        [
          {
            "node": "Build Batch Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Batch Prompt": {
      "main": [
        [
          {
            "node": "Groq LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "main": [
        [
          {
            "node": "Parse & Validate Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback LLM": {
      "main": [
        [
          {
            "node": "Parse & Validate Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Batch": {
      "main": [
        [
          {
            "node": "Save to NocoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to NocoDB": {
      "main": [
        [
          {
            "node": "Log Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Progress": {
      "main": [
        [
          {
            "node": "Adaptive Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adaptive Delay": {
      "main": [
        [
          {
            "node": "Loop Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Results": {
      "main": [
        [
          {
            "node": "Prepare Qdrant Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract ML Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qdrant Summary": {
      "main": [
        [
          {
            "node": "Embed Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Summary": {
      "main": [
        [
          {
            "node": "Prepare Qdrant Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Qdrant Save": {
      "main": [
        [
          {
            "node": "Save to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Qdrant": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract ML Features": {
      "main": [
        [
          {
            "node": "ML Structure Predict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML Structure Predict": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v0",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": [
    {
      "id": "tag-step04",
      "name": "step_04"
    },
    {
      "id": "tag-seo-v3",
      "name": "SEO_v3_PRO"
    }
  ]
}