NN_06_EEAT_v4.0_PRO.json
{
  "name": "NN_06_EEAT_v4.0_PRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-eeat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        340
      ],
      "id": "node_000",
      "name": "Webhook"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDay": 1,
              "triggerAtHour": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "node_001",
      "name": "Cron Monthly Audit"
    },
    {
      "parameters": {
        "url": "http://nocodb:8080/api/v1/db/data/noco/{{ $env.NOCODB_ORG_ID }}/{{ $env.NOCODB_PROJECTS_TABLE }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "(eeat_audit_enabled,eq,true)"
            },
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "fields",
              "value": "project_id,niche,niche_cluster,city,target_url,competitors,project_phase"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        0
      ],
      "id": "node_002",
      "name": "Load Projects from DB",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3.1,
      "position": [
        480,
        0
      ],
      "id": "node_003",
      "name": "Split Projects"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{ json: {\n  body: {\n    niche: item.niche || item.Niche || '',\n    niche_cluster: item.niche_cluster || 'commercial_local',\n    city: item.city || item.City || '',\n    project_id: item.project_id || item.ProjectId || '',\n    project_phase: item.project_phase || 'growth',\n    target_url: item.target_url || '',\n    competitors: item.competitors ? \n      (typeof item.competitors === 'string' ? JSON.parse(item.competitors) : item.competitors) : []\n  }\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "node_004",
      "name": "Map Project to Input"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nlet { niche, niche_cluster, city, project_id, project_phase, target_url, competitors } = body;\n\nconst sanitize = (s, maxLen = 200) => {\n  if (!s || typeof s !== 'string') return '';\n  return s.replace(/<[^>]*>/g, '').replace(/[\\x00-\\x1F]/g, '').trim().substring(0, maxLen);\n};\n\nniche = sanitize(niche);\ncity = sanitize(city, 100);\nproject_id = sanitize(project_id, 50);\nniche_cluster = sanitize(niche_cluster, 30) || 'commercial_local';\nproject_phase = sanitize(project_phase, 20) || 'growth';\n\nif (!niche) throw new Error('Поле \"niche\" обязательно');\nif (!city) throw new Error('Поле \"city\" обязательно');\nif (!project_id) throw new Error('Поле \"project_id\" обязательно');\n\nconst validClusters = ['commercial_local','commercial_national','ecom','saas','info'];\nif (!validClusters.includes(niche_cluster)) niche_cluster = 'commercial_local';\n\nconst validPhases = ['setup','growth','maintenance','recovery'];\nif (!validPhases.includes(project_phase)) project_phase = 'growth';\n\nconst urlRegex = /^https?:\\/\\/[\\w.-]+\\.[a-z]{2,}/i;\nlet competitorsList = [];\nif (Array.isArray(competitors)) {\n  competitorsList = competitors.filter(u => typeof u === 'string' && urlRegex.test(u)).slice(0, 5);\n}\nif (target_url && !urlRegex.test(target_url)) target_url = '';\n\nconst embed_query = niche + ' ' + city + ' E-E-A-T ' + niche_cluster;\n\nreturn [{ json: {\n  niche, niche_cluster, city, project_id, project_phase,\n  target_url: target_url || '',\n  competitors: competitorsList,\n  embed_query,\n  is_cron_trigger: $execution.mode === 'trigger',\n  workflow_version: 'v4.0_pro',\n  run_id: $execution.id,\n  started_at: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        340
      ],
      "id": "node_005",
      "name": "Validate & Sanitize Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bge-m3\",\n  \"prompt\": \"{{ $json.embed_query }}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        960,
        340
      ],
      "id": "node_006",
      "name": "Get Query Embedding",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/seo_personas/points/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($(\"Get Query Embedding\").first().json.embedding) }},\n  \"limit\": 5,\n  \"with_payload\": true,\n  \"score_threshold\": 0.45\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        200
      ],
      "id": "node_007",
      "name": "RAG seo_personas",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/top10_page_structures/points/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($(\"Get Query Embedding\").first().json.embedding) }},\n  \"limit\": 5,\n  \"with_payload\": true,\n  \"score_threshold\": 0.45\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        380
      ],
      "id": "node_008",
      "name": "RAG page_structures",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/eeat_analyses/points/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($(\"Get Query Embedding\").first().json.embedding) }},\n  \"limit\": 5,\n  \"with_payload\": true,\n  \"score_threshold\": 0.45\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        560
      ],
      "id": "node_009",
      "name": "RAG eeat_history",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/competitor_benchmarks/points/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($(\"Get Query Embedding\").first().json.embedding) }},\n  \"limit\": 5,\n  \"with_payload\": true,\n  \"score_threshold\": 0.45\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1200,
        740
      ],
      "id": "node_010",
      "name": "RAG competitor_eeat",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const collections = [\n  { node: 'RAG seo_personas', label: 'ЦЕЛЕВАЯ АУДИТОРИЯ', prefix: 'Персона' },\n  { node: 'RAG page_structures', label: 'СТРУКТУРЫ СТРАНИЦ ТОП-10', prefix: 'Проект' },\n  { node: 'RAG eeat_history', label: 'ИСТОРИЯ E-E-A-T АНАЛИЗОВ', prefix: 'Анализ' },\n  { node: 'RAG competitor_eeat', label: 'КОНКУРЕНТНЫЕ E-E-A-T СИГНАЛЫ', prefix: 'Конкурент' }\n];\n\nlet ragContext = '';\nlet totalSources = 0;\nconst sourceCounts = {};\n\nfor (const col of collections) {\n  let results = [];\n  try { results = $(col.node).first().json.result || []; } catch(e) {}\n  \n  // Sort by relevance score desc\n  results.sort((a, b) => (b.score || 0) - (a.score || 0));\n  \n  sourceCounts[col.node] = results.length;\n  totalSources += results.length;\n\n  if (results.length > 0) {\n    ragContext += '\\n=== ' + col.label + ' (' + results.length + ' sources) ===\\n\\n';\n    results.forEach((r, i) => {\n      const p = r.payload || {};\n      const score = r.score ? ` [relevance: ${r.score.toFixed(3)}]` : '';\n      ragContext += col.prefix + ' ' + (i+1) + score + ':\\n';\n      // Full payload — no truncation for critical keys\n      const criticalKeys = ['description','content','summary','analysis','recommendations','elements','factors','eeat_type','niche','city'];\n      const otherKeys = Object.keys(p).filter(k => !criticalKeys.includes(k));\n      \n      for (const k of criticalKeys) {\n        if (p[k]) {\n          const val = typeof p[k] === 'string' ? p[k].substring(0, 500) : JSON.stringify(p[k]).substring(0, 500);\n          ragContext += '  ' + k + ': ' + val + '\\n';\n        }\n      }\n      for (const k of otherKeys.slice(0, 8)) {\n        if (p[k]) {\n          const val = typeof p[k] === 'string' ? p[k].substring(0, 300) : JSON.stringify(p[k]).substring(0, 300);\n          ragContext += '  ' + k + ': ' + val + '\\n';\n        }\n      }\n      ragContext += '\\n';\n    });\n  }\n}\n\nreturn [{ json: {\n  rag_context: ragContext || 'Нет данных из базы знаний.',\n  rag_total_sources: totalSources,\n  rag_source_counts: sourceCounts\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        340
      ],
      "id": "node_011",
      "name": "Format RAG Context"
    },
    {
      "parameters": {
        "url": "http://nocodb:8080/api/v1/db/data/noco/{{ $env.NOCODB_ORG_ID }}/{{ $env.NOCODB_CF_TABLE }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(project_id,eq,{{ $('Validate & Sanitize Input').first().json.project_id }})"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "sort",
              "value": "-priority"
            },
            {
              "name": "fields",
              "value": "factor_name,factor_type,description,priority,status"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        740
      ],
      "id": "node_012",
      "name": "Fetch Commercial Factors",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "http://nocodb:8080/api/v1/db/data/noco/{{ $env.NOCODB_ORG_ID }}/{{ $env.NOCODB_EEAT_TABLE }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(project_id,eq,{{ $('Validate & Sanitize Input').first().json.project_id }})"
            },
            {
              "name": "limit",
              "value": "30"
            },
            {
              "name": "sort",
              "value": "-created_at"
            },
            {
              "name": "fields",
              "value": "element_name,eeat_type,priority,impact,search_engine,status,version,created_at"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1520,
        960
      ],
      "id": "node_013",
      "name": "Fetch Previous EEAT",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1780,
        540
      ],
      "id": "node_014",
      "name": "Merge RAG + CF"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1980,
        740
      ],
      "id": "node_015",
      "name": "Merge All Data"
    },
    {
      "parameters": {
        "jsCode": "const validate = $('Validate & Sanitize Input').first().json;\n\n// Collect RAG context\nlet ragInfo;\ntry { ragInfo = $('Format RAG Context').first().json; } catch(e) { ragInfo = { rag_context: '', rag_total_sources: 0 }; }\n\n// Collect CF\nlet cfRows;\ntry { \n  const cfResponse = $('Fetch Commercial Factors').first().json;\n  cfRows = cfResponse.list || cfResponse.data || [];\n} catch(e) { cfRows = []; }\n\n// Collect previous EEAT for delta\nlet prevElements = [];\ntry {\n  const prevResponse = $('Fetch Previous EEAT').first().json;\n  prevElements = prevResponse.list || prevResponse.data || [];\n} catch(e) {}\n\nlet cfContext = '';\nif (cfRows.length > 0) {\n  cfContext = '\\n=== КОММЕРЧЕСКИЕ ФАКТОРЫ ПРОЕКТА ===\\n';\n  cfRows.slice(0, 20).forEach((r, i) => {\n    cfContext += (i+1) + '. ' + (r.factor_name||'') + ' [' + (r.factor_type||'') + '] — ' + (r.description||'').substring(0,300) + ' | status: ' + (r.status||'pending') + '\\n';\n  });\n}\n\nlet prevContext = '';\nif (prevElements.length > 0) {\n  prevContext = '\\n=== ПРЕДЫДУЩИЙ E-E-A-T АУДИТ (для delta-анализа) ===\\n';\n  prevElements.slice(0, 20).forEach((r, i) => {\n    prevContext += (i+1) + '. ' + (r.element_name||'') + ' [' + (r.eeat_type||'') + '] impact=' + (r.impact||'') + ' status=' + (r.status||'') + ' engine=' + (r.search_engine||'') + '\\n';\n  });\n}\n\n// Phase-specific priorities\nconst phaseGuidance = {\n  setup: 'ФАЗА SETUP: Приоритет на базовые E-E-A-T сигналы — author schema, org schema, about page, contact info, privacy policy. Фундамент доверия.',\n  growth: 'ФАЗА GROWTH: Приоритет на экспертность и авторитетность — публикации, кейсы, сертификаты, внешние упоминания, отзывы, Schema расширения.',\n  maintenance: 'ФАЗА MAINTENANCE: Приоритет на обновление и мониторинг — актуальность дат, свежесть контента, новые отзывы, мониторинг конкурентов.',\n  recovery: 'ФАЗА RECOVERY: Приоритет на восстановление Trust — удаление некачественного контента, усиление авторских сигналов, аудит обратных ссылок.'\n};\n\n// Niche cluster specific guidance\nconst clusterGuidance = {\n  commercial_local: 'КЛАСТЕР COMMERCIAL_LOCAL: Критичны — Яндекс.Бизнес [Я], Google Business Profile [G], NAP-консистентность [ОБА], отзывы на площадках [ОБА], сертификаты/лицензии [Я].',\n  commercial_national: 'КЛАСТЕР COMMERCIAL_NATIONAL: Критичны — backlink-профиль [G], E-E-A-T авторов [G], ИКС [Я], экспертные публикации [ОБА].',\n  ecom: 'КЛАСТЕР ECOM: Критичны — Product Schema [G], отзывы на товары [ОБА], гарантии и возврат [Я], безопасность платежей [ОБА].',\n  saas: 'КЛАСТЕР SAAS: Критичны — техническая экспертиза авторов [G], кейсы и case studies [ОБА], интеграции и партнёры [ОБА], документация [G].',\n  info: 'КЛАСТЕР INFO: Критичны — авторская экспертиза [G], цитируемость [ОБА], актуальность дат [ОБА], YMYL-сигналы если применимо [G].'\n};\n\nconst systemPrompt = `Ты PENTA-ROLE EXPERT по System Prompt v4.0: Senior SEO Strategist + Automation Engineer + MLOps + Competitive Intelligence + CRO Analyst.\n\nЗАДАЧА: Провести E-E-A-T аудит v4.0 для конкретной ниши, города и фазы проекта. Сгенерировать персонализированный чек-лист с маркировкой [Я]/[G]/[ОБА].\n\n${phaseGuidance[validate.project_phase] || phaseGuidance.growth}\n\n${clusterGuidance[validate.niche_cluster] || clusterGuidance.commercial_local}\n\nКОНТЕКСТ ИЗ БАЗЫ ЗНАНИЙ:\n${ragInfo.rag_context}\n${cfContext}\n${prevContext}\n\nCONTENT PROTOCOL v2.0 — учитывай 5 слоёв:\n1. Релевантность: E-E-A-T элементы должны усиливать тематическую релевантность\n2. Читаемость: рекомендации должны быть понятны для внедрения\n3. E-E-A-T контент: факты с источниками, авторство, цитируемые данные\n4. AEO/GEO: FAQ-структура, Schema FAQPage, Speakable, cite-friendly факты\n5. AI Detection: рекомендации по humanization UGC-стиля\n\nМАРКИРОВКА ПОИСКОВЫХ СИСТЕМ — ОБЯЗАТЕЛЬНА для КАЖДОГО элемента:\n[Я] — специфично для Яндекса (ИКС, ПФ, КФ, Тематический индекс)\n[G] — специфично для Google (E-E-A-T, CWV, HCU, SGE)\n[ОБА] — универсально для обоих\n\nМАРКИРОВКА УВЕРЕННОСТИ — для каждого элемента:\nverified — подтверждено кейсами\nreasoned — логически выведено\nhypothesis — требует проверки\n\nФОРМАТ ОТВЕТА — строго JSON без markdown:\n{\n  \"eeat_elements\": [\n    {\n      \"element_name\": \"Конкретное название\",\n      \"eeat_type\": \"experience|expertise|authority|trust\",\n      \"description\": \"Детальная рекомендация для этой ниши и фазы (3-4 предложения)\",\n      \"implementation_steps\": [\"Шаг 1\", \"Шаг 2\", \"Шаг 3\"],\n      \"priority\": 1,\n      \"impact\": \"high|medium|low\",\n      \"search_engine\": \"yandex|google|both\",\n      \"estimated_effort\": \"low|medium|high\",\n      \"confidence\": \"verified|reasoned|hypothesis\",\n      \"content_layer\": \"relevance|readability|eeat|aeo_geo|humanization\",\n      \"attribution_metric\": \"Какой KPI отслеживать для оценки эффекта\"\n    }\n  ],\n  \"ymyl_score\": 0-10,\n  \"top3_quick_wins\": [\"Элемент 1\", \"Элемент 2\", \"Элемент 3\"],\n  \"delta_vs_previous\": \"Краткий анализ изменений vs предыдущий аудит (если есть данные)\",\n  \"phase_recommendations\": \"Рекомендации специфичные для текущей фазы проекта\"\n}`;\n\nconst userPrompt = `НИША: ${validate.niche}\nКЛАСТЕР НИШИ: ${validate.niche_cluster}\nГОРОД: ${validate.city}\nФАЗА ПРОЕКТА: ${validate.project_phase}\n${validate.target_url ? 'ЦЕЛЕВОЙ URL: ' + validate.target_url : ''}\n${validate.competitors.length > 0 ? 'КОНКУРЕНТЫ: ' + validate.competitors.join(', ') : ''}\nКоммерческих факторов в базе: ${cfRows.length}\nПредыдущих E-E-A-T элементов: ${prevElements.length}\nRAG-источников: ${ragInfo.rag_total_sources}\n\nСгенерируй 16-24 элемента E-E-A-T. Распредели равномерно: 4-6 experience, 4-6 expertise, 4-6 authority, 4-6 trust.\nКаждый элемент ОБЯЗАТЕЛЬНО маркируй search_engine: yandex|google|both.\nУчитывай фазу проекта ${validate.project_phase} при назначении приоритетов.\nЕсли есть данные предыдущего аудита — укажи delta_vs_previous.\nОтветь строго JSON.`;\n\nconst payload = {\n  model: 'llama-3.3-70b-versatile',\n  max_tokens: 8192,\n  temperature: 0.2,\n  top_p: 0.85,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userPrompt }\n  ]\n};\n\nreturn [{ json: {\n  groq_payload: payload,\n  project_id: validate.project_id,\n  niche: validate.niche,\n  niche_cluster: validate.niche_cluster,\n  city: validate.city,\n  project_phase: validate.project_phase,\n  target_url: validate.target_url,\n  cf_count: cfRows.length,\n  prev_eeat_count: prevElements.length,\n  prev_elements: prevElements,\n  rag_total_sources: ragInfo.rag_total_sources\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        740
      ],
      "id": "node_016",
      "name": "Build EEAT Prompt v4.0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groq_payload) }}",
        "options": {
          "timeout": 90000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2440,
        740
      ],
      "id": "node_017",
      "name": "Groq EEAT Analysis",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst batchInfo = $('Build EEAT Prompt v4.0').first().json;\n\nif (groqResponse.error) {\n  throw new Error('Groq API error: ' + (groqResponse.error.message || JSON.stringify(groqResponse.error)));\n}\n\nconst rawContent = groqResponse?.choices?.[0]?.message?.content || '';\nlet cleanJson = rawContent.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleanJson);\n} catch (err) {\n  const objMatch = cleanJson.match(/\\{[\\s\\S]*\"eeat_elements\"[\\s\\S]*\\}/);\n  if (objMatch) {\n    try { parsed = JSON.parse(objMatch[0]); } catch(e2) {}\n  }\n  if (!parsed) {\n    const arrMatch = cleanJson.match(/\\[[\\s\\S]+\\]/);\n    if (arrMatch) {\n      try { parsed = { eeat_elements: JSON.parse(arrMatch[0]) }; } catch(e3) {}\n    }\n  }\n  if (!parsed) {\n    throw new Error('Failed to parse LLM JSON. Raw preview: ' + rawContent.substring(0, 500));\n  }\n}\n\nif (Array.isArray(parsed)) parsed = { eeat_elements: parsed };\n\nconst validTypes = ['experience', 'expertise', 'authority', 'trust'];\nconst validImpact = ['high', 'medium', 'low'];\nconst validEngines = ['yandex', 'google', 'both'];\nconst validEffort = ['low', 'medium', 'high'];\nconst validConfidence = ['verified', 'reasoned', 'hypothesis'];\nconst validLayers = ['relevance', 'readability', 'eeat', 'aeo_geo', 'humanization'];\n\nconst elements = (parsed.eeat_elements || []).map((el, idx) => ({\n  project_id: batchInfo.project_id,\n  niche: batchInfo.niche,\n  niche_cluster: batchInfo.niche_cluster,\n  city: batchInfo.city,\n  project_phase: batchInfo.project_phase,\n  element_name: (el.element_name || 'Элемент ' + (idx+1)).substring(0, 200),\n  eeat_type: validTypes.includes(el.eeat_type) ? el.eeat_type : validTypes[idx % 4],\n  description: (el.description || '').substring(0, 1500),\n  implementation_steps: JSON.stringify(el.implementation_steps || []),\n  priority: Math.min(Math.max(parseInt(el.priority) || (idx+1), 1), 24),\n  impact: validImpact.includes(el.impact) ? el.impact : 'medium',\n  search_engine: validEngines.includes(el.search_engine) ? el.search_engine : 'both',\n  estimated_effort: validEffort.includes(el.estimated_effort) ? el.estimated_effort : 'medium',\n  confidence: validConfidence.includes(el.confidence) ? el.confidence : 'reasoned',\n  content_layer: validLayers.includes(el.content_layer) ? el.content_layer : 'eeat',\n  attribution_metric: (el.attribution_metric || '').substring(0, 200),\n  status: 'pending',\n  version: 'v4.0',\n  created_at: new Date().toISOString()\n}));\n\n// Distribution check\nconst dist = { experience: 0, expertise: 0, authority: 0, trust: 0 };\nelements.forEach(e => dist[e.eeat_type]++);\n\n// Engine distribution\nconst engineDist = { yandex: 0, google: 0, both: 0 };\nelements.forEach(e => engineDist[e.search_engine]++);\n\n// Confidence distribution\nconst confDist = { verified: 0, reasoned: 0, hypothesis: 0 };\nelements.forEach(e => confDist[e.confidence]++);\n\nreturn [{ json: {\n  elements,\n  elements_count: elements.length,\n  distribution: dist,\n  engine_distribution: engineDist,\n  confidence_distribution: confDist,\n  ymyl_score: parsed.ymyl_score || null,\n  top3_quick_wins: parsed.top3_quick_wins || [],\n  delta_vs_previous: parsed.delta_vs_previous || '',\n  phase_recommendations: parsed.phase_recommendations || '',\n  groq_tokens: groqResponse?.usage?.total_tokens || 0,\n  project_id: batchInfo.project_id,\n  niche: batchInfo.niche,\n  niche_cluster: batchInfo.niche_cluster,\n  city: batchInfo.city,\n  project_phase: batchInfo.project_phase,\n  target_url: batchInfo.target_url,\n  prev_elements: batchInfo.prev_elements || []\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        740
      ],
      "id": "node_018",
      "name": "Parse & Validate EEAT Response"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $input.first().json;\nconst prevElements = parsed.prev_elements || [];\nconst newElements = parsed.elements || [];\n\nlet delta = {\n  new_elements: [],\n  removed_elements: [],\n  changed_elements: [],\n  distribution_delta: {}\n};\n\nif (prevElements.length > 0) {\n  const prevNames = new Set(prevElements.map(e => e.element_name));\n  const newNames = new Set(newElements.map(e => e.element_name));\n  \n  delta.new_elements = newElements.filter(e => !prevNames.has(e.element_name)).map(e => e.element_name);\n  delta.removed_elements = prevElements.filter(e => !newNames.has(e.element_name)).map(e => e.element_name);\n  \n  // Distribution delta\n  const prevDist = { experience: 0, expertise: 0, authority: 0, trust: 0 };\n  prevElements.forEach(e => { if (prevDist[e.eeat_type] !== undefined) prevDist[e.eeat_type]++; });\n  \n  for (const type of ['experience', 'expertise', 'authority', 'trust']) {\n    delta.distribution_delta[type] = (parsed.distribution[type] || 0) - (prevDist[type] || 0);\n  }\n}\n\nreturn [{ json: {\n  ...parsed,\n  delta,\n  has_previous: prevElements.length > 0,\n  prev_count: prevElements.length\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2920,
        740
      ],
      "id": "node_019",
      "name": "EEAT Delta Analysis"
    },
    {
      "parameters": {
        "url": "http://nocodb:8080/api/v1/db/data/noco/{{ $env.NOCODB_ORG_ID }}/{{ $env.NOCODB_EEAT_TABLE }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "where",
              "value": "=(project_id,eq,{{ $('Validate & Sanitize Input').first().json.project_id }})~and(version,eq,v4.0)"
            },
            {
              "name": "limit",
              "value": "200"
            },
            {
              "name": "fields",
              "value": "Id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3160,
        440
      ],
      "id": "node_020",
      "name": "List Old EEAT Records",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst records = response.list || response.data || [];\nconst ids = records.map(r => r.Id || r.id).filter(Boolean);\n\nreturn [{ json: {\n  ids_to_delete: ids,\n  has_records: ids.length > 0,\n  delete_url: 'http://nocodb:8080/api/v1/db/data/noco/' + $env.NOCODB_ORG_ID + '/' + $env.NOCODB_EEAT_TABLE,\n  token: $env.NOCODB_API_TOKEN\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        440
      ],
      "id": "node_021",
      "name": "Prepare Delete IDs"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.delete_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ids_to_delete) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3640,
        440
      ],
      "id": "node_022",
      "name": "Delete Old EEAT Records",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://nocodb:8080/api/v1/db/data/noco/{{ $env.NOCODB_ORG_ID }}/{{ $env.NOCODB_EEAT_TABLE }}/bulk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xc-token",
              "value": "={{ $env.NOCODB_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('EEAT Delta Analysis').first().json.elements) }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3880,
        440
      ],
      "id": "node_023",
      "name": "Insert EEAT Records",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "const p = $('EEAT Delta Analysis').first().json;\nconst dist = p.distribution || {};\nconst engineDist = p.engine_distribution || {};\nconst confDist = p.confidence_distribution || {};\n\n// Calculate balance score (0-1, 1 = perfect balance)\nconst counts = [dist.experience||0, dist.expertise||0, dist.authority||0, dist.trust||0];\nconst avg = counts.reduce((a,b) => a+b, 0) / 4;\nconst variance = counts.reduce((a,b) => a + Math.pow(b - avg, 2), 0) / 4;\nconst balanceScore = avg > 0 ? Math.max(0, 1 - (Math.sqrt(variance) / avg)) : 0;\n\n// High impact ratio\nconst highImpact = p.elements.filter(e => e.impact === 'high').length;\nconst highImpactRatio = p.elements_count > 0 ? highImpact / p.elements_count : 0;\n\n// Engine coverage\nconst hasYandex = engineDist.yandex > 0 || engineDist.both > 0;\nconst hasGoogle = engineDist.google > 0 || engineDist.both > 0;\nconst engineCoverage = (hasYandex ? 0.5 : 0) + (hasGoogle ? 0.5 : 0);\n\nreturn [{ json: {\n  ml_payload: {\n    page_slug: p.target_url || '/',\n    elements_count: p.elements_count || 0,\n    experience_count: dist.experience || 0,\n    expertise_count: dist.expertise || 0,\n    authority_count: dist.authority || 0,\n    trust_count: dist.trust || 0,\n    balance_score: parseFloat(balanceScore.toFixed(3)),\n    high_impact_ratio: parseFloat(highImpactRatio.toFixed(3)),\n    high_impact_count: highImpact,\n    ymyl_score: p.ymyl_score || 0,\n    engine_yandex: engineDist.yandex || 0,\n    engine_google: engineDist.google || 0,\n    engine_both: engineDist.both || 0,\n    engine_coverage: engineCoverage,\n    confidence_verified: confDist.verified || 0,\n    confidence_reasoned: confDist.reasoned || 0,\n    has_previous: p.has_previous || false,\n    delta_new_count: (p.delta?.new_elements || []).length,\n    delta_removed_count: (p.delta?.removed_elements || []).length,\n    niche_cluster: p.niche_cluster || 'commercial_local',\n    project_phase: p.project_phase || 'growth'\n  },\n  original_data: p\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        740
      ],
      "id": "node_024",
      "name": "Prepare ML Features"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ml-service:8000/predict/eeat_completeness",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.ml_payload) }}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3400,
        740
      ],
      "id": "node_025",
      "name": "ML EEAT Completeness",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const p = $('EEAT Delta Analysis').first().json;\nconst dist = p.distribution || {};\nconst engineDist = p.engine_distribution || {};\n\n// Build rich summary for embedding\nconst typeGroups = {};\np.elements.forEach(e => {\n  if (!typeGroups[e.eeat_type]) typeGroups[e.eeat_type] = [];\n  typeGroups[e.eeat_type].push(e.element_name + ' [' + e.search_engine + '] ' + e.impact);\n});\n\nlet summary = `E-E-A-T аудит v4.0 | ${p.niche} | ${p.city} | ${p.niche_cluster} | фаза: ${p.project_phase}\nЭлементов: ${p.elements_count} | YMYL: ${p.ymyl_score || 'N/A'}\nРаспределение: exp=${dist.experience} expt=${dist.expertise} auth=${dist.authority} trust=${dist.trust}\nДвижки: Я=${engineDist.yandex||0} G=${engineDist.google||0} ОБА=${engineDist.both||0}`;\n\nfor (const [type, items] of Object.entries(typeGroups)) {\n  summary += `\\n${type.toUpperCase()}: ${items.join('; ')}`;\n}\n\nif (p.top3_quick_wins?.length) {\n  summary += `\\nQuick wins: ${p.top3_quick_wins.join('; ')}`;\n}\n\nif (p.delta_vs_previous) {\n  summary += `\\nDelta: ${p.delta_vs_previous}`;\n}\n\nreturn [{ json: {\n  summary_text: summary.substring(0, 2000),\n  project_id: p.project_id,\n  niche: p.niche,\n  niche_cluster: p.niche_cluster,\n  city: p.city,\n  project_phase: p.project_phase,\n  elements_count: p.elements_count,\n  distribution: p.distribution,\n  engine_distribution: p.engine_distribution\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        1000
      ],
      "id": "node_026",
      "name": "Build Summary for Embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"bge-m3\",\n  \"prompt\": {{ JSON.stringify($json.summary_text) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3400,
        1000
      ],
      "id": "node_027",
      "name": "Embed Summary",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://qdrant:6333/collections/eeat_analyses/points",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"points\": [{\n    \"id\": \"{{ (() => { const s = $('Build Summary for Embedding').first().json.project_id + '_eeat_v4'; let h = 0; for(let i=0;i<s.length;i++){h=((h<<5)-h)+s.charCodeAt(i);h|=0;} return Math.abs(h); })() }}\",\n    \"vector\": {{ JSON.stringify($json.embedding) }},\n    \"payload\": {\n      \"project_id\": \"{{ $('Build Summary for Embedding').first().json.project_id }}\",\n      \"niche\": \"{{ $('Build Summary for Embedding').first().json.niche }}\",\n      \"niche_cluster\": \"{{ $('Build Summary for Embedding').first().json.niche_cluster }}\",\n      \"city\": \"{{ $('Build Summary for Embedding').first().json.city }}\",\n      \"project_phase\": \"{{ $('Build Summary for Embedding').first().json.project_phase }}\",\n      \"type\": \"eeat_analysis\",\n      \"elements_count\": {{ $('Build Summary for Embedding').first().json.elements_count }},\n      \"distribution\": {{ JSON.stringify($('Build Summary for Embedding').first().json.distribution) }},\n      \"engine_distribution\": {{ JSON.stringify($('Build Summary for Embedding').first().json.engine_distribution) }},\n      \"version\": \"v4.0\",\n      \"created_at\": \"{{ new Date().toISOString() }}\"\n    }\n  }]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3640,
        1000
      ],
      "id": "node_028",
      "name": "Save to Qdrant",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4120,
        580
      ],
      "id": "node_029",
      "name": "Merge NocoDB + ML"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4360,
        740
      ],
      "id": "node_030",
      "name": "Merge All Branches"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('EEAT Delta Analysis').first().json;\nconst validate = $('Validate & Sanitize Input').first().json;\nconst ragInfo = $('Format RAG Context').first().json;\n\n// ML results\nlet mlScore = null, mlLabel = null, mlConfidence = null;\ntry {\n  const ml = $('ML EEAT Completeness').first().json;\n  mlScore = ml.score ?? null;\n  mlLabel = ml.label ?? null;\n  mlConfidence = ml.confidence ?? null;\n} catch(e) {}\n\n// Storage status\nlet nocodbOk = false, qdrantOk = false;\ntry { \n  const n = $('Insert EEAT Records').first().json;\n  nocodbOk = Array.isArray(n) ? n.length > 0 : !!n;\n} catch(e) {}\ntry {\n  const q = $('Save to Qdrant').first().json;\n  qdrantOk = q?.result?.status === 'acknowledged' || q?.status === 'ok' || !!q?.result;\n} catch(e) {}\n\nreturn [{ json: {\n  status: 'success',\n  step: '06_eeat',\n  version: 'v4.0_pro',\n  project_id: validate.project_id,\n  niche: validate.niche,\n  niche_cluster: validate.niche_cluster,\n  city: validate.city,\n  project_phase: validate.project_phase,\n  \n  // Analysis results\n  elements_count: parsed.elements_count,\n  distribution: parsed.distribution,\n  engine_distribution: parsed.engine_distribution,\n  confidence_distribution: parsed.confidence_distribution,\n  ymyl_score: parsed.ymyl_score,\n  top3_quick_wins: parsed.top3_quick_wins,\n  delta_vs_previous: parsed.delta_vs_previous,\n  phase_recommendations: parsed.phase_recommendations,\n  \n  // Delta analysis\n  delta: parsed.delta,\n  has_previous: parsed.has_previous,\n  \n  // ML enrichment\n  ml_eeat_score: mlScore,\n  ml_eeat_label: mlLabel,\n  ml_confidence: mlConfidence,\n  \n  // Data sources\n  rag_total_sources: ragInfo.rag_total_sources,\n  rag_source_counts: ragInfo.rag_source_counts,\n  groq_tokens: parsed.groq_tokens,\n  \n  // Storage status\n  nocodb_saved: nocodbOk,\n  qdrant_saved: qdrantOk,\n  \n  // Elements preview (first 5)\n  elements_preview: parsed.elements.slice(0, 5).map(e => ({\n    name: e.element_name,\n    type: e.eeat_type,\n    priority: e.priority,\n    impact: e.impact,\n    engine: e.search_engine,\n    confidence: e.confidence\n  })),\n  \n  // Attribution data\n  attribution: {\n    workflow_id: '06',\n    workflow_name: 'E-E-A-T Audit v4.0',\n    version: 'v4.0',\n    affected_pages: validate.target_url ? [validate.target_url] : ['all'],\n    elements_generated: parsed.elements_count,\n    engine_split: parsed.engine_distribution\n  },\n  \n  // Meta\n  run_id: validate.run_id,\n  started_at: validate.started_at,\n  completed_at: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4600,
        740
      ],
      "id": "node_031",
      "name": "Build Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_count",
              "leftValue": "={{ $json.elements_count }}",
              "rightValue": "12",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "cond_ml",
              "leftValue": "={{ $json.ml_eeat_score }}",
              "rightValue": "0.4",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4840,
        740
      ],
      "id": "node_032",
      "name": "Check Quality"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ E-E-A-T Audit Low Quality v4.0\\nProject: {{ $json.project_id }}\\nNiche: {{ $json.niche }} ({{ $json.niche_cluster }})\\nPhase: {{ $json.project_phase }}\\nElements: {{ $json.elements_count }} (expected 16+)\\nML Score: {{ $json.ml_eeat_score }}\\nDistribution: {{ JSON.stringify($json.distribution) }}\\nEngine Split: {{ JSON.stringify($json.engine_distribution) }}\\nRun: {{ $json.run_id }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5080,
        580
      ],
      "id": "node_033",
      "name": "Notify: Low Quality Alert",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Build Response').first().json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5080,
        900
      ],
      "id": "node_034",
      "name": "Return Result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        2440,
        1200
      ],
      "id": "node_035",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nlet validate = {};\ntry { validate = $('Validate & Sanitize Input').first().json; } catch(e) {}\n\nreturn [{ json: {\n  status: 'error',\n  step: '06_eeat',\n  version: 'v4.0_pro',\n  project_id: validate.project_id || 'unknown',\n  niche: validate.niche || 'unknown',\n  error_message: error.execution?.error?.message || error.message || 'Unknown error',\n  error_node: error.execution?.lastNodeExecuted || 'unknown',\n  error_timestamp: error.execution?.stoppedAt || new Date().toISOString(),\n  run_id: validate.run_id || $execution.id,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2680,
        1200
      ],
      "id": "node_036",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🔴 E-E-A-T v4.0 Workflow ERROR\\nProject: {{ $json.project_id }}\\nNiche: {{ $json.niche }}\\nNode: {{ $json.error_node }}\\nError: {{ $json.error_message }}\\nRun: {{ $json.run_id }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2920,
        1200
      ],
      "id": "node_037",
      "name": "Notify: Error Alert",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 500
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3160,
        1200
      ],
      "id": "node_038",
      "name": "Return Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Monthly Audit": {
      "main": [
        [
          {
            "node": "Load Projects from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Projects from DB": {
      "main": [
        [
          {
            "node": "Split Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Projects": {
      "main": [
        [
          {
            "node": "Map Project to Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Project to Input": {
      "main": [
        [
          {
            "node": "Validate & Sanitize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Sanitize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Sanitize Input": {
      "main": [
        [
          {
            "node": "Get Query Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Commercial Factors",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Previous EEAT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Query Embedding": {
      "main": [
        [
          {
            "node": "RAG seo_personas",
            "type": "main",
            "index": 0
          },
          {
            "node": "RAG page_structures",
            "type": "main",
            "index": 0
          },
          {
            "node": "RAG eeat_history",
            "type": "main",
            "index": 0
          },
          {
            "node": "RAG competitor_eeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG seo_personas": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG page_structures": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG eeat_history": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG competitor_eeat": {
      "main": [
        [
          {
            "node": "Format RAG Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format RAG Context": {
      "main": [
        [
          {
            "node": "Merge RAG + CF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Commercial Factors": {
      "main": [
        [
          {
            "node": "Merge RAG + CF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge RAG + CF": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Previous EEAT": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Build EEAT Prompt v4.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build EEAT Prompt v4.0": {
      "main": [
        [
          {
            "node": "Groq EEAT Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq EEAT Analysis": {
      "main": [
        [
          {
            "node": "Parse & Validate EEAT Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate EEAT Response": {
      "main": [
        [
          {
            "node": "EEAT Delta Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EEAT Delta Analysis": {
      "main": [
        [
          {
            "node": "List Old EEAT Records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare ML Features",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Summary for Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Old EEAT Records": {
      "main": [
        [
          {
            "node": "Prepare Delete IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delete IDs": {
      "main": [
        [
          {
            "node": "Delete Old EEAT Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old EEAT Records": {
      "main": [
        [
          {
            "node": "Insert EEAT Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare ML Features": {
      "main": [
        [
          {
            "node": "ML EEAT Completeness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary for Embedding": {
      "main": [
        [
          {
            "node": "Embed Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Summary": {
      "main": [
        [
          {
            "node": "Save to Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert EEAT Records": {
      "main": [
        [
          {
            "node": "Merge NocoDB + ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ML EEAT Completeness": {
      "main": [
        [
          {
            "node": "Merge NocoDB + ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge NocoDB + ML": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Qdrant": {
      "main": [
        [
          {
            "node": "Merge All Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Branches": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Check Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quality": {
      "main": [
        [
          {
            "node": "Notify: Low Quality Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Low Quality Alert": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Result": {
      "main": [
        [
          {
            "node": "Split Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Notify: Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify: Error Alert": {
      "main": [
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "instanceId": "e400d94cd35057382ffd98f35f5f609f9bd3f2676425b3672d90c1a1c4917652"
  },
  "tags": [
    {
      "name": "step_06"
    },
    {
      "name": "E-E-A-T"
    },
    {
      "name": "SEO_v4.0"
    },
    {
      "name": "Enhanced"
    },
    {
      "name": "ML"
    }
  ]
}